<div class="visible-main-section">
  <div class="details-page-card">
    <div [formGroup]="selectAppModule" class="select-module-application m-2">
      <div class="col-12">
        <div class="row">
          <div class="d-flex field col-md-4 col-lg-4 col-sm-12 col-xs-12 md-4">
            <label
              class="detail-page-section-heading col-sm-3 col-xs-12"
              for="application"
              >Application</label
            >
            <p-dropdown
              name="application"
              inputId="application"
              [options]="searchApplicationOptions"
              placeholder="Select"
              optionLabel="name"
              formControlName="applications"
            ></p-dropdown>
          </div>
          <div class="d-flex field col-md-4 col-lg-4 col-sm-12 col-xs-12 md-4">
            <label
              class="detail-page-section-heading col-sm-3 col-xs-12 small"
              for="module"
              >Module</label
            >
            <p-dropdown
              name="module"
              inputId="module"
              [options]="searchModuleOptions"
              placeholder="Select"
              optionLabel="name"
              formControlName="modules"
            ></p-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="ruleDesc m-2 col-12">
      <p style="position: relative">
        Criteria Map <span class="description red-star">*</span>
        <span class="sample-format"
          >(Sample API criteria format : Country = INDIA, Tax Type = GST, LCY
          Amount = 2, Transaction Date = DD/MM/YYYY)</span
        >
      </p>
      <input
        type="text"
        pInputText
        [(ngModel)]="criteriaMapDes"
        maxlength="1000"
        placeholder="Max 1000 characters"
      />

      <button
        pButton
        pRipple
        type="button"
        label="Apply"
        class="p-button-raised"
        (click)="Apply()"
      ></button>
    </div>
    <div
      *ngIf="tableData && tableData.length"
      class="table-data m-2 col-12"
      style="margin-top: 10px"
    >
      <p-table
        #dt
        [value]="tableData"
        [paginator]="true"
        [rows]="10"
        [resizableColumns]="true"
        columnResizeMode="fit"
        [rowHover]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Program Code</th>
            <th>Program Code Id</th>
            <th>Searched For</th>
            <th>Criteria</th>
            <th>Program Type</th>
            <th>Program Description</th>
            <th>Promo Code</th>
            <!-- <th>Promo Code Length</th> -->
            <th>Rewards As</th>
            <th>Loyalty Type</th>
            <th>Loyalty Value</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.ProgramCode }}</td>
            <td>{{ product.ProgramCodeId }}</td>
            <td>{{ criteriaMapDes }}</td>
            <td>{{ product.Criteria }}</td>
            <td>{{ product.ProgramType }}</td>
            <td>{{ product.ProgramDescription }}</td>
            <td>{{ product.PromoCode }}</td>
            <!-- <td>{{ product.PromoCodeLength }}</td> -->
            <td>{{ product["Rewards As"] }}</td>
            <td>{{ product.LoyaltyType }}</td>
            <td>{{ product.LoyaltyValue }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="10">{{ responseMessage }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
