<div>
  <div class="modal-body-content" [formGroup]="dateRangeForm">
    <div class="d-flex jc-between">
      <div class="col-6 pb-0">
        <label style="font-weight: 500" for="amountFrom">Date From</label>
      </div>
      <div class="col-6 pb-0">
        <label style="font-weight: 500" for="amountTo">Date To</label>
      </div>
    </div>
    <div class="all-range-groups">
      <ng-container
        formArrayName="dateRange"
        *ngFor="let item of dateRangeForm.get('dateRange')['controls']; let i = index;"
      >
        <div
          [formGroupName]="i"
          class="d-flex jc-between"
          style="position: relative"
        >
          <div class="index-range">{{i+1}}.</div>
          <div class="col-6 pl-3" style="text-align: right">
            <!-- <p-inputNumber
              #fromInp
              mode="decimal"
              maxlength="10"
              maxValue="9999999999"
              [useGrouping]="false"
              inputId="integeronly"
              [style]="{width: '95%'}"
              [inputStyle]="{width: '195px', background: '#f4f6fa', border: 'none'}"
              formControlName="trnStartDate"
              (onInput)="changeFrom($event, i)"
            >
            </p-inputNumber> -->
            <p-calendar
              #fromInp
              class="block"
              placeholder="DD/MM/YYYY"
              dateFormat="dd/mm/yy"
              [showIcon]="true"
              [style]="{width: '95%'}"
              [inputStyle]="{width: '140px', background: '#f4f6fa', border: 'none'}"
              formControlName="trnStartDate"
              [readonlyInput]="true"
              (onSelect)="changeFrom($event, i)"
              [appendTo]="'body'"
              [showTime]="true"
              [showSeconds]="true"
              [minDate]="today"
            ></p-calendar>
          </div>
          <div class="col-6 pr-3">
            <!-- <p-inputNumber
              #toInp
              mode="decimal"
              maxlength="10"
              maxValue="9999999999"
              [useGrouping]="false"
              inputId="integeronly"
              [style]="{width: '95%'}"
              [inputStyle]="{width: '190px', background: '#f4f6fa', border: 'none'}"
              formControlName="trnEndDate"
              (onInput)="changeTo($event, i)"
            >
            </p-inputNumber> -->
            <p-calendar
              #fromInp
              class="block"
              placeholder="DD/MM/YYYY"
              dateFormat="dd/mm/yy"
              [showIcon]="true"
              [style]="{width: '95%'}"
              [inputStyle]="{width: '140px', background: '#f4f6fa', border: 'none'}"
              formControlName="trnEndDate"
              [readonlyInput]="true"
              (onSelect)="changeTo($event, i)"
              [appendTo]="'body'"
              [showTime]="true"
              [showSeconds]="true"
              [minDate]="today"
            ></p-calendar>
          </div>
          <div
            *ngIf="i> 0 && i+1 == dateRangeForm.get('dateRange')['controls'].length"
            class="delete-range"
            (click)="deleteRange(i)"
          >
            <i class="pi pi-times-circle mr-2"></i>
          </div>
        </div>
      </ng-container>
    </div>
    <div
      class="col-12 justify-content-end d-flex align-items-center rangeOverlapErr"
      style="font-size: 0.8em"
      *ngIf="isAnyErrorInRangeMsg"
    >
      <i class="pi pi-info-circle mr-2" style="color: red"></i>
      <span> {{isAnyErrorInRangeMsg}} </span>
    </div>
    <div class="d-flex jc-between">
      <div class="col-12">
        <button
          pButton
          pRipple
          type="button"
          label="+"
          [style]="{minWidth: '100%'}"
          class="p-button-raised addTxnBtn"
          (click)="addDateRange()"
        ></button>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="col-6">
        <button
          pButton
          pRipple
          type="button"
          label="Save"
          [style]="{minWidth: '100%'}"
          (click)="saveDateRanges()"
          class="p-button-raised"
        ></button>
      </div>
      <div class="col-6">
        <button
          pButton
          pRipple
          type="button"
          label="Save & Close"
          (click)="closeModal()"
          [style]="{minWidth: '100%'}"
          class="p-button-raised"
        ></button>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div
        class="col-12 justify-content-end d-flex align-items-center"
        style="font-size: 0.8em"
      >
        <i class="pi pi-info-circle mr-2" style="color: red"></i>
        <span [ngClass]="{'highlightInfo': showError}"
          >Maximum 10 Date ranges can be added
        </span>
      </div>
    </div>
  </div>
</div>
