<div class="visible-main-section">
  <div class="pagetitle detail-page">
    <nav>
      <ol class="breadcrumb"></ol>
    </nav>
  </div>
  <div class="py-3" style="background-color: #ffffff; border-radius: 10px">
    <div class="d-flex mx-3" style="justify-content: space-between">
      <p class="description-text">
        <img height="35px" src="../assets/description.svg" alt="" />
        Criteria are parameters or fields that are used to select or return a
        resultant value based on selected form...
      </p>
      <div class="buttons-section">
        <!-- <button
          pButton
          pRipple
          type="button"
          [disabled]="false"
          label="Clone"
          class="p-button-raised"
        ></button> -->
        <button
          pButton
          pRipple
          type="button"
          [disabled]="invalidForSave || !criteriaSettingtable.length"
          label="Save"
          (click)="saveCriteriaSettings()"
          class="p-button-raised"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          [disabled]="false"
          label="Clear"
          class="p-button-warning"
          style="background: rgb(250 165 52)"
          (click)="reset()"
        ></button>
      </div>
    </div>
    <div [formGroup]="selectAppForm" class="select-form-application m-2">
      <div class="d-flex field col-5 md-3">
        <label class="detail-page-section-heading" for="state"
          >Application</label
        >
        <p-dropdown
          inputId="application"
          [options]="criteriaApplicationOptions"
          placeholder="Select"
          optionLabel="name"
          formControlName="applications"
          (onChange)="onAppChange($event)"
        ></p-dropdown>
      </div>
      <div class="d-flex field col-5 md-3">
        <label class="detail-page-section-heading" for="state">Form</label>
        <p-dropdown
          inputId="form"
          [options]="criteriaFormsOptions"
          placeholder="Select"
          optionLabel="name"
          formControlName="forms"
          (onChange)="executeQueries()"
        ></p-dropdown>
      </div>
    </div>
    <div class="drag-criteria-fields m-3">
      <div class="d-flex mb-2">
        <div class="detail-page-section-heading list-heading w-50">
          Select Fields
        </div>
        <div
          class="detail-page-section-heading list-heading w-50"
          style="margin-left: 6rem"
        >
          Selected Fields
        </div>
      </div>
      <p-pickList
        [source]="selectFields"
        [target]="selectedFields"
        [showSourceControls]="false"
        [showTargetControls]="false"
      >
        <ng-template let-field pTemplate="item">
          <div class="field-item">
            {{ field.displayName }}
          </div>
        </ng-template>
      </p-pickList>
    </div>
    <div
      class="form-app-heading-execute-btn d-flex mx-3"
      style="justify-content: flex-end"
    >
      <button
        pButton
        pRipple
        type="button"
        [disabled]="!selectedFields.length"
        label="Execute"
        class="p-button-raised"
        (click)="executeBtnClick()"
      ></button>
    </div>

    <!-- Suresh start -->
    <div class="application-table">
      <div class="application-header" *ngIf="criteriaSettingtable.length">
        Application: {{ appCtrl.value && appCtrl.value.name }} | Form:
        {{ formCtrl.value && formCtrl.value.name }}
      </div>
      <div class="application-ptable" *ngIf="criteriaSettingtable.length">
        <p-table
          [value]="criteriaSettingtable"
          class="criteria-view-table"
          [rowHover]="true"
          [style]="{ width: '100%' }"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Field Name</th>
              <th>Display Name</th>
              <th>Field Type</th>
              <th>Operator</th>
              <th>Criteria Priority</th>
              <th>Is Mandatory</th>
              <th>Dependency</th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-product
            let-col="settingsCol"
            let-rowIndex="rowIndex"
          >
            <tr>
              <td>
                <input
                  type="text"
                  placeholder="{{ product.fieldName }}"
                  [disabled]="true"
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="{{ product.displayName }}"
                  [disabled]="true"
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="{{ product.fieldType }}"
                  [disabled]="true"
                />
              </td>
              <td>
                <p-multiSelect
                  id="operationsmulti"
                  [options]="product.operationOption"
                  [(ngModel)]="product.operations"
                  defaultLabel="Select"
                  [showHeader]="false"
                  (onChange)="
                    bindSelectedOperations(product.operations, rowIndex)
                  "
                  optionLabel="label"
                  [maxSelectedLabels]="5"
                  display="chip"
                ></p-multiSelect>
              </td>
              <td>
                <input
                  type="number"
                  min="1"
                  [value]="product.orderID"
                  [(ngModel)]="product.orderID"
                  placeholder="{{ product.orderID }}"
                  [disabled]="false"
                  (input)="criteriaPriorityValidation($event, product)"
                  style="width: 90px; margin-left: 10px"
                />
              </td>
              <td>
                <input
                  type="checkbox"
                  style="width: 15px; margin-left: 20px"
                  [value]="product.iSMandatory"
                  [(ngModel)]="product.iSMandatory"
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="{{ product.dependency }}"
                  [disabled]="true"
                />
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <!-- Suresh end -->
  </div>
</div>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
  [appendTo]="'body'"
></p-confirmDialog>
