.select-form-application {
  display: flex;
}
.select-form-application .field {
  align-items: center;
  gap: 15px;
}

.select-form-application label {
  margin-bottom: 0;
  font-size: 14px;
}
.select-form-application p-dropdown {
  width: 80%;
}
.select-form-application::ng-deep .p-dropdown {
  width: 80%;
  height: 35px;
  align-items: center;
  background-color: rgb(244 246 250);
  border: none !important;
}
.select-form-application::ng-deep .p-dropdown-trigger,
.select-form-application::ng-deep .p-dropdown-label {
  color: black;
}

.drag-criteria-fields::ng-deep .p-picklist-list {
  border-radius: 10px;
  min-height: 165px !important;
  max-height: 165px !important;
}

.drag-criteria-fields::ng-deep .p-picklist-list::-webkit-scrollbar-track {
  background-color: transparent !important;
}

.drag-criteria-fields::ng-deep .p-picklist-list::-webkit-scrollbar {
  width: 6px;
}

.drag-criteria-fields::ng-deep .p-picklist-list::-webkit-scrollbar-thumb {
  background-color: rgb(195 197 198);
  border-radius: 15px;
}

.drag-criteria-fields::ng-deep
  .p-picklist-buttons
  > button:nth-child(1)
  span::before {
  content: "\e905" !important;
}
.drag-criteria-fields::ng-deep
  .p-picklist-buttons
  > button:nth-child(2)
  span::before {
  content: "\e9ae" !important;
}
.drag-criteria-fields::ng-deep
  .p-picklist-buttons
  > button:nth-child(3)
  span::before {
  content: "\e904" !important;
}
.drag-criteria-fields::ng-deep
  .p-picklist-buttons
  > button:nth-child(4)
  span::before {
  content: "\e9af" !important;
}

.drag-criteria-fields::ng-deep .p-picklist .p-picklist-list .p-picklist-item {
  box-shadow: none !important;
}
.drag-criteria-fields::ng-deep
  .p-picklist
  .p-picklist-list
  .p-picklist-item:hover {
  background: none !important;
}
.drag-criteria-fields::ng-deep
  .p-picklist
  .p-picklist-list
  .p-picklist-item.p-highlight,
.drag-criteria-fields::ng-deep
  .p-picklist
  .p-picklist-list
  .p-picklist-item:active {
  box-shadow: none !important;
  background: none !important;
}

.drag-criteria-fields::ng-deep
  .p-picklist
  .p-picklist-list
  .p-picklist-item.p-highlight
  .field-item {
  border: 1px solid rgb(22 167 6);
}

.drag-criteria-fields::ng-deep .field-item {
  width: 140px;
  border: 1px dashed rgb(191 191 191);
  padding: 5px 10px;
  border-radius: 5px;
  background: rgb(244 246 250);
  font-family: "IBM Plex Sans", sans-serif !important;
  font-size: 14px;
}

.form-app-heading-execute-btn button {
  padding: 5px 18px !important;
}
