<div class="visible-main-section">
  <div class="pagetitle detail-page">
    <nav>
      <ol class="breadcrumb"></ol>
    </nav>
  </div>
  <div class="py-3" style="background-color: #ffffff; border-radius: 10px">
    <div class="d-flex mx-3" style="justify-content: space-between">
      <p class="description-text">
        <img height="35px" src="../assets/description.svg" alt="" />
        Criteria are parameters or fields that are used to select or return a
        resultant value based on selected form...
      </p>
      <div class="buttons-section">
        <button
          pButton
          pRipple
          type="button"
          [disabled]="false"
          label="Clone"
          class="p-button-raised"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          [disabled]="false"
          label="Save"
          class="p-button-raised"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          [disabled]="false"
          label="Clear"
          class="p-button-warning"
          style="background: rgb(250 165 52)"
        ></button>
      </div>
    </div>
    <div class="select-form-application m-2">
      <div class="d-flex field col-5 md-3">
        <label class="detail-page-section-heading" for="state"
          >Application</label
        >
        <p-dropdown
          inputId="state"
          [options]="states"
          [(ngModel)]="selectedState"
          placeholder="Select"
          optionLabel="name"
        ></p-dropdown>
      </div>
      <div class="d-flex field col-5 md-3">
        <label class="detail-page-section-heading" for="state">Form</label>
        <p-dropdown
          inputId="state"
          [options]="states"
          [(ngModel)]="selectedState"
          placeholder="Select"
          optionLabel="name"
        ></p-dropdown>
      </div>
    </div>
    <div class="drag-criteria-fields m-3">
      <div class="d-flex mb-2">
        <div class="detail-page-section-heading list-heading w-50">
          Select Fields
        </div>
        <div
          class="detail-page-section-heading list-heading w-50"
          style="margin-left: 6rem"
        >
          Selected Fields
        </div>
      </div>
      <p-pickList
        [source]="list1"
        [target]="list2"
        [showSourceControls]="false"
        [showTargetControls]="false"
      >
        <ng-template let-car pTemplate="item">
          <div>
            <img
              src="assets/showcase/images/demo/car/{{ car.brand }}.png"
              style="display: inline-block; margin: 2px 0 2px 2px"
              width="48"
            />
            <div style="font-size: 14px; float: right; margin: 15px 5px 0 0">
              {{ car.brand }} - {{ car.year }} - {{ car.color }}
            </div>
          </div>
        </ng-template>
      </p-pickList>
    </div>
    <div
      class="form-app-heading-execute-btn d-flex mx-3"
      style="justify-content: flex-end"
    >
      <button
        pButton
        pRipple
        type="button"
        [disabled]="false"
        label="Execute"
        class="p-button-raised"
      ></button>
    </div>
  </div>
</div>
