:host ::ng-deep .p-multiselect-trigger,
:host ::ng-deep .p-multiselect-label-container {
  display: none;
}
:host ::ng-deep .p-dialog .p-dialog-header {
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
}

:host ::ng-deep .p-dialog .p-dialog-content {
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

:host ::ng-deep .p-dialog .p-dialog-content {
  padding: 0rem 0rem 1rem 0rem;
}

:host ::ng-deep.application-header {
  background-color: var(--surface-ground);
  border-radius: 5px;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
}
:host ::ng-deep .p-dialog .p-dialog-content .p-datatable {
  text-align: left;
  font-style: normal;
  font-weight: 500;
  color: #222222;
  font-size: 12px;
  font-family: "IBM Plex Sans", sans-serif;
}
#criteriaViewTable ::ng-deep .p-dialog input {
  background-color: #dee3ef;
  color: #8a9099 !important;
}
#criteriaViewTable ::ng-deep .p-dialog input:disabled {
  color: #8a9099 !important;
}
