<div class="visible-main-section">
  <div class="pagetitle">
    <div class="infoicon">
      <i class="pi pi-info-circle"></i>
      List of criteria's created for forms.
    </div>
    <div class="addnew">
      <button
        pButton
        pRipple
        type="button"
        label="Add New Criteria"
        class="p-button-raised"
        routerLink="add-criteria-settings/add"
      ></button>
    </div>
  </div>
  <div class="ptable">
    <p-card class="p-col-12" *ngIf="!criteriaSettingData">
      {{ noDataMsg }}
    </p-card>
    <p-table
      #dt
      [columns]="cols"
      [value]="criteriaSettingData"
      [paginator]="true"
      [rows]="10"
      [loading]="loading"
      [resizableColumns]="true"
      columnResizeMode="fit"
      [rowHover]="true"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            *ngFor="let col of columns; let i = index"
            pReorderableColumn
            [pSortableColumn]="col.field"
            pResizableColumn
            [style.width]="col.width"
          >
            {{ col.header }}
            <div
              *ngIf="!(i + 1 == columns.length)"
              (click)="$event.stopPropagation()"
              class="filter-icon"
            >
              <!-- <img
                height="12px"
                class="pi pi-filter criteriaSettingFilterIcon"
                (click)="toggleFilterVisibility(col.field)"
                [src]="
                  getSelectedFilterArr(col.field).length
                    ? '../assets/ActiveFilter.svg'
                    : '../assets/filter.svg'
                "
                alt=""
              /> -->
              <i
                [ngStyle]="{
                  color: getSelectedFilterArr(col.field).length
                    ? 'var(--primary-color)'
                    : 'rgb(105 105 105)',
                  fontSize: '11px'
                }"
                class="pi pi-filter-fill"
                (click)="toggleFilterVisibility(col.field)"
              ></i>
              <p-multiSelect
                #ms
                [options]="fieldFilterOptions(col.field)"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="fieldFilterVisible(col.field)"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                [autoWidth]="false"
                (onChange)="
                  dt.filter($event.value, col.field, 'in');
                  setSelectedFilter(ms, col.field)
                "
                (onPanelHide)="hideFilterVisibility(col.field)"
              >
              </p-multiSelect>
            </div>
          </th>
        </tr>

        <tr class="search-row">
          <th *ngFor="let col of cols; let i = index">
            <span
              *ngIf="!(i + 1 == columns.length)"
              class="p-input-icon-left"
              [style.width]="'120px'"
            >
              <i class="pi pi-search"></i>
              <input
                type="text"
                class="p-inputtext table-search"
                placeholder="Search"
                (input)="dt.filter($event.target.value, col.field, 'contains')"
              />
            </span>
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowData
        let-columns="columns"
        let-index="rowIndex"
      >
        <tr [pReorderableRow]="index" >
          <ng-container *ngFor="let col of columns; let i = index">
            <td *ngIf="i + 1 < columns.length" style="border: none;cursor: pointer;" (click)="openClickForClone(rowData, 'edit')">
              {{ rowData[col["field"]] }}
            </td>
            <td
              *ngIf="i + 1 == columns.length"
              style="border: none; text-align: center"
            >
              <span class="image-text">
                <button
                  pButton
                  type="button"
                  icon="pi pi-clone"
                  class="operation-btns mr-2"
                  (click)="openClickForClone(rowData, 'clone')"
                ></button>
                <button
                  pButton
                  type="button"
                  icon="pi pi-eye"
                  class="operation-btns"
                  (click)="openClickForView(rowData)"
                ></button>
              </span>
            </td>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="cols.length">No Data found.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft" let-state>
        {{ state.page * state.rows + 1 }} -
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }}
      </ng-template>
    </p-table>
  </div>
</div>
<div>
  <p-dialog
    [(visible)]="clickforview"
    [modal]="true"
    [style]="{ width: '70vw', left: '50px' }"
    (onHide)="closeDialog()"
  >
    <ng-template pTemplate="header">
      <div class="application-header">
        Application: {{ criteriaDataArrayView["applications"] }} | Form:
        {{ criteriaDataArrayView["form"] }}
      </div>
    </ng-template>
    <p-table
      [value]="criteriaDataArrayView"
      class="criteria-view-table"
      [rowHover]="true"
      [style]="{ width: '100%' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Field Name</th>
          <th>Display Name</th>
          <th>Field Type</th>
          <th>Operator</th>
          <th>Criteria Priority</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            <input
              type="text"
              placeholder="{{ product.fieldName }}"
              [disabled]="true"
            />
          </td>
          <td>
            <input
              type="text"
              placeholder="{{ product.displayName }}"
              [disabled]="true"
            />
          </td>
          <td>
            <input
              type="text"
              placeholder="{{ product.fieldType }}"
              [disabled]="true"
            />
          </td>
          <td>
            <input
              type="text"
              placeholder="{{ product.operations }}"
              [disabled]="true"
              style="width: 200px"
            />
          </td>
          <td>
            <input
              type="text"
              placeholder="{{ product.orderID }}"
              [disabled]="true"
              style="text-align: center; width: 90px;"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-dialog>
</div>
