<div class="visible-main-section">
  <div class="pagetitle">
    <div class="infoicon">
      <img height="22px" src="../assets/info.svg" alt="" />
      List of criteria's created for forms.
    </div>
    <div class="addnew">
      <button
        pButton
        pRipple
        type="button"
        label="Add New Criteria"
        class="p-button-raised"
        routerLink="add-criteria-settings"
      ></button>
    </div>
  </div>
  <div class="ptable">
    <p-card class="p-col-12" *ngIf="!criteriaSettingData">
      {{ noDataMsg }}
    </p-card>
    <p-table
      *ngIf="criteriaSettingData"
      class="criteria-setting-table"
      #dt
      [value]="criteriaSettingData"
      sortMode="multiple"
      dataKey="id"
      [rows]="10"
      [paginator]="true"
      [rowHover]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th
            class="table-titles"
            style="width: 135px"
            [pSortableColumn]="'applications'"
          >
            Application
            <div
              (click)="$event.stopPropagation()"
              style="right: 35%"
              class="filter-icon"
            >
              <img
                height="12px"
                id="rou"
                class="pi pi-filter criteriaSettingFilterIcon"
                (click)="showApplicationOptions = !showApplicationOptions"
                [src]="selectedFilterApplication.length ? '../assets/ActiveFilter.svg' : '../assets/filter.svg'"
                alt=""
              />
              <p-multiSelect
                #ms1
                [options]="applications"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="showApplicationOptions"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                [(ngModel)]="selectedFilterApplication"
                (onChange)="dt.filter($event.value, 'applications', 'in')"
                (onPanelHide)="showApplicationOptions = !showApplicationOptions"
              >
              </p-multiSelect>
            </div>
          </th>
          <th
            class="table-titles"
            style="width: 160px"
            [pSortableColumn]="'form'"
          >
            Form
            <div
              (click)="$event.stopPropagation()"
              style="right: 60%"
              class="filter-icon"
            >
              <img
                height="12px"
                id="cou"
                class="pi pi-filter criteriaSettingFilterIcon"
                (click)="showFormOptions = !showFormOptions"
                [src]="selectedFilterForm.length ? '../assets/ActiveFilter.svg' : '../assets/filter.svg'"
                alt=""
              />
              <p-multiSelect
                #ms1
                [options]="forms"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="showFormOptions"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                [(ngModel)]="selectedFilterForm"
                (onChange)="dt.filter($event.value, 'form', 'in')"
                (onPanelHide)="showFormOptions = !showFormOptions"
              ></p-multiSelect>
            </div>
          </th>
          <th
            class="table-titles"
            style="width: 140px"
            [pSortableColumn]="'totalCriteraiField'"
          >
            Total Criteria Fields
            <div (click)="$event.stopPropagation()" class="filter-icon">
              <img
                height="12px"
                class="pi pi-filter criteriaSettingFilterIcon"
                (click)="showCriteriaFieldsOptions = !showCriteriaFieldsOptions"
                [src]="selectedFilterCriteriaFields.length ? '../assets/ActiveFilter.svg' : '../assets/filter.svg'"
                alt=""
              />
              <p-multiSelect
                #ms1
                [options]="totalCriteriaFields"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="showCriteriaFieldsOptions"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                [(ngModel)]="selectedFilterCriteriaFields"
                (onChange)="dt.filter($event.value, 'totalCriteraiField', 'in')"
                (onPanelHide)="
                  showCriteriaFieldsOptions = !showCriteriaFieldsOptions
                "
              ></p-multiSelect>
            </div>
          </th>
          <th
            class="table-titles"
            style="width: 120px"
            [pSortableColumn]="'totalListFields'"
          >
            Total List Fields
            <div (click)="$event.stopPropagation()" class="filter-icon">
              <img
                height="12px"
                class="pi pi-filter criteriaSettingFilterIcon"
                (click)="showListFieldsOptions = !showListFieldsOptions"
                [src]="selectedFilterListFields.length ? '../assets/ActiveFilter.svg' : '../assets/filter.svg'"
                alt=""
              />
              <p-multiSelect
                #ms1
                [options]="totalListFields"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="showListFieldsOptions"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                [(ngModel)]="selectedFilterListFields"
                (onChange)="dt.filter($event.value, 'totalListField', 'in')"
                (onPanelHide)="showListFieldsOptions = !showListFieldsOptions"
              ></p-multiSelect>
            </div>
          </th>
          <th
            class="table-titles"
            style="width: 110px"
            [pSortableColumn]="'createdDate'"
          >
            Created Date
            <div (click)="$event.stopPropagation()" class="filter-icon">
              <img
                height="12px"
                class="pi pi-filter criteriaSettingFilterIcon"
                (click)="showCreatedDateOptions = !showCreatedDateOptions"
                [src]="selectedFilterCreatedDate.length ? '../assets/ActiveFilter.svg' : '../assets/filter.svg'"
                alt=""
              />
              <p-multiSelect
                #ms1
                [options]="createdDates"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="showCreatedDateOptions"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                [(ngModel)]="selectedFilterCreatedDate"
                (onChange)="dt.filter($event.value, 'createdDate', 'in')"
                (onPanelHide)="showCreatedDateOptions = !showCreatedDateOptions"
              ></p-multiSelect>
            </div>
          </th>
          <th
            class="table-titles"
            style="width: 135px"
            [pSortableColumn]="'createdBy'"
          >
            Created By
            <div
              (click)="$event.stopPropagation()"
              style="right: 35%"
              class="filter-icon"
            >
              <img
                height="12px"
                class="pi pi-filter criteriaSettingFilterIcon"
                (click)="showCreatedByOptions = !showCreatedByOptions"
                [src]="selectedFilterCreatedBy.length ? '../assets/ActiveFilter.svg' : '../assets/filter.svg'"
                alt=""
              />
              <p-multiSelect
                #ms1
                [options]="createdBy"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="showCreatedByOptions"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                [(ngModel)]="selectedFilterCreatedBy"
                (onChange)="dt.filter($event.value, 'createdBy', 'in')"
                (onPanelHide)="showCreatedByOptions = !showCreatedByOptions"
              ></p-multiSelect>
            </div>
          </th>
          <th class="table-titles" style="width: 100px">Operations</th>
        </tr>
        <tr class="search-row">
          <th>
            <span style="max-width: 100%" class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                [classList]="'table-search'"
                placeholder="Search"
                (input)="
                  dt.filter(
                    $any($event.target).value,
                    'applications',
                    'contains'
                  )
                "
              />
            </span>
          </th>
          <th>
            <span style="max-width: 100%" class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                [classList]="'table-search'"
                placeholder="Search"
                (input)="
                  dt.filter($any($event.target).value, 'form', 'contains')
                "
              />
            </span>
          </th>
          <th>
            <span style="max-width: 100%" class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                [classList]="'table-search'"
                placeholder="Search"
                (input)="
                  dt.filter(
                    $any($event.target).value,
                    'totalCriteraiField',
                    'contains'
                  )
                "
              />
            </span>
          </th>
          <th>
            <span style="max-width: 100%" class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                [classList]="'table-search'"
                placeholder="Search"
                (input)="
                  dt.filter(
                    $any($event.target).value,
                    'totalListField',
                    'contains'
                  )
                "
              />
            </span>
          </th>
          <th>
            <span style="max-width: 100%" class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                [classList]="'table-search'"
                placeholder="Search"
                (input)="
                  dt.filter(
                    $any($event.target).value,
                    'createdDate',
                    'contains'
                  )
                "
              />
            </span>
          </th>
          <th>
            <span style="max-width: 100%" class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                [classList]="'table-search'"
                placeholder="Search"
                (input)="
                  dt.filter($any($event.target).value, 'createdBy', 'contains')
                "
              />
            </span>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-criteriaSetting>
        <tr>
          <td style="font-size: 12px; border: none; border-bottom: none">
            <a>{{ criteriaSetting.applications }}</a>
          </td>
          <td style="font-size: 12px; border: none; border-bottom: none">
            <span class="image-text">{{ criteriaSetting.form }}</span>
          </td>
          <td
            style="
              font-size: 12px;
              border: none;
              border-bottom: none;

              text-align: center;
            "
          >
            <span class="image-text">{{
              criteriaSetting.totalCriteraiField
            }}</span>
          </td>
          <td
            style="
              font-size: 12px;
              border: none;
              border-bottom: none;

              text-align: center;
            "
          >
            <span class="image-text">{{ criteriaSetting.totalListField }}</span>
          </td>
          <td style="font-size: 12px; border: none; border-bottom: none">
            <span class="image-text">{{
              criteriaSetting.createdDate | date : "mediumDate"
            }}</span>
          </td>
          <td style="font-size: 12px; border: none; border-bottom: none">
            <span class="image-text">{{ criteriaSetting.createdBy }}</span>
          </td>
          <td style="font-size: 12px; border: none; border-bottom: none">
            <span class="image-text">
              <button
                pButton
                type="button"
                icon="pi pi-clone"
                class="operation-btns mr-2"
                (click)="openClickForClone(criteriaSetting)"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-eye"
                class="operation-btns"
                (click)="openClickForView(criteriaSetting)"
              ></button>
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">No Data found.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft" let-state>
        {{ state.page * state.rows + 1 }} -
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }}
      </ng-template>
    </p-table>
  </div>
</div>
<div>
  <p-dialog
    [(visible)]="clickforview"
    [modal]="true"
    [style]="{ width: '70vw', left: '50px' }"
  >
    <ng-template pTemplate="header">
      <div class="application-header">
        Application: {{ criteriaDataArrayView["applications"] }} | Form:
        {{ criteriaDataArrayView["form"] }}
      </div>
    </ng-template>
    <p-table
      [value]="criteriaDataArrayView"
      class="criteria-view-table"
      [rowHover]="true"
      [style]="{ width: '100%' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Field Name</th>
          <th>Display Name</th>
          <th>Field Type</th>
          <th>Operator</th>
          <th>Criteria Priority</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            <input
              type="text"
              placeholder="{{ product.fieldName }}"
              [disabled]="true"
            />
          </td>
          <td>
            <input
              type="text"
              placeholder="{{ product.displayName }}"
              [disabled]="true"
            />
          </td>
          <td>
            <input
              type="text"
              placeholder="{{ product.fieldType }}"
              [disabled]="true"
            />
          </td>
          <td>
            <input
              type="text"
              placeholder="{{ product.operations }}"
              [disabled]="true"
              style="width: 200px"
            />
          </td>
          <td>
            <input
              type="text"
              placeholder="{{ product.orderID }}"
              [disabled]="true"
              style="text-align: center; width: 90px; margin-left: 20px"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-dialog>
</div>
