.table-search {
  background-color: #f4f6fa;
  height: 35px;
  border: none;
  font-size: 12px;
  max-width: 100%;
}
.search-row {
  border-bottom: 1px solid #e9ecef;
}

.search-row th {
  background-color: #fff !important;
}

.criteria-setting-main::-webkit-scrollbar {
  height: 5px;
  background-color: #fff;
}
.criteria-setting-main::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}
.criteria-setting-main .ptable {
  min-width: 976px;
}

.criteria-setting-table th {
  position: relative;
}

.p-inputtext::placeholder {
  color: rgb(138 144 153);
}

.p-input-icon-left > .p-inputtext {
  padding-left: 1.7rem;
  font-size: 11px !important;
}

.p-input-icon-left > i:first-of-type {
  left: 0.5rem;
  color: #6c757d;
  font-size: 0.8rem;
  margin-top: -0.3rem;
}

.criteriaSettingFilterIcon {
  left: 85%;
  top: 24%;
  font-size: 11px;
  z-index: 99;
  color: rgb(138 144 153);
}
.criteriaSettingFilterIcon:hover {
  color: #2455cf;
}

:host ::ng-deep .criteria-setting-table .p-multiselect-trigger,
:host ::ng-deep .criteria-setting-table .p-multiselect-label-container {
  display: none;
}

:host
  ::ng-deep
  .criteria-setting-table
  .p-datatable
  .p-sortable-column.p-highlight {
  color: #495057;
}
:host ::ng-deep .criteria-setting-table .p-datatable .p-component {
  font-size: 14px;
}

:host ::ng-deep .criteria-setting-table .p-datatable .p-checkbox {
  width: 20px;
  height: 18px;
}
:host ::ng-deep .criteria-setting-table .p-datatable .p-checkbox-box {
  width: 18px;
  height: 18px;
}

:host
  ::ng-deep
  .criteria-setting-table
  .p-datatable
  .p-datatable-thead
  > tr
  > th {
  text-align: left;
  padding: 0.5rem 1rem;
  background: rgb(234 237 244);
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.filter-footer {
  background-color: rgb(244 246 250) !important;
}
.filter-footer button {
  background: none !important;
  border-color: transparent !important;
}
.filter-footer button.filter-btn {
  color: rgb(36 85 207) !important;
}
.filter-footer button.clear-btn {
  color: rgb(138 144 153) !important;
}
:host ::ng-deep .criteria-setting-table .p-datatable .p-datatable-thead tr {
  height: 55px;
}
:host ::ng-deep .criteria-setting-table .p-datatable .p-datatable-tbody tr td {
  padding: 0.47rem 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
}
.filter-icon {
  position: absolute;
  right: 13%;
  top: 30%;
}
.infoicon {
  font-size: 13px;
  width: 50%;
  height: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
  letter-spacing: 0;
  text-align: left;
  color: #444444;
}
.infoicon img {
  margin-bottom: 5px;
}

.operation-btns {
  background-color: rgb(85 199 138);
  color: white;
  border: 1px solid rgb(85 199 138) !important;
  height: 27px;
  width: 30px;
}
.operation-btns::ng-deep span {
  font-size: 13px;
}
:host ::ng-deep .p-dialog .p-dialog-header {
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
}

:host ::ng-deep .p-dialog .p-dialog-content {
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}
:host ::ng-deep .criteria-view-table .p-datatable .p-datatable-thead tr {
  height: 55px;
}
:host ::ng-deep .criteria-view-table .p-datatable .p-datatable-tbody tr td {
  padding: 0.47rem 0.5rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  border: none;
  color: #8a9099;
  height: 48px;
}
:host ::ng-deep.application-header {
  background-color: #f4f6fa;
  border-radius: 5px;
  padding: 10px;
}
:host
  ::ng-deep
  .criteria-view-table
  .p-datatable
  .p-datatable-tbody
  tr
  td
  input {
  border: none;
  background-color: #f4f6fa;
  width: 133px;
  height: 35px;
  border-radius: 5px;
  font-weight: 500;
  padding-left: 5px;
}
