.document-code-desc-section {
  font-size: 0.8rem;
  font-weight: 500;
  gap: 17px;
}
.document-code-desc-section p {
  margin-bottom: 0.5rem;
}
.document-code-desc-section input {
  height: 35px;
  font-size: 0.8rem;
}
.document-code-desc-section .documentCode input {
  width: 235px;
}
.document-code-desc-section .documentDesc input {
  width: 398px;
}

.document-code-desc-section .documentDesc input::placeholder {
  color: #8a9099;
  font-size: 12px;
}

.confirm-popup ::ng-deep .p-dialog-content .p-confirm-dialog-message {
  text-align: center;
}

.description.red-star {
  font-size: 18px;
  color: red;
  font-weight: 500;
  position: absolute;
  top: -5px;
  margin-left: 2px;
}

.details-page-card-content {
  border: 0.5px solid var(--surface-ground);
  padding: 10px 0 5px 0;
  margin: 0 15px;
  background-color: var(--surface-card);
  border-radius: 10px;
}

.criteria-bar {
  display: flex;
  padding: 0 0.5rem;
}

.select-module-application {
  display: flex;
  gap: 10px;
}
.select-module-application .field {
  align-items: center;
  gap: 15px;
  margin-bottom: 0;
}

.select-module-application label {
  margin-bottom: 0;
  font-size: 14px;
}
.select-module-application p-dropdown {
  width: 100%;
}
.select-module-application::ng-deep .p-dropdown {
  width: 95%;
  height: 35px;
  align-items: center;
  border: none !important;
}

.NorecordFound {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 60px;
}
.NorecordFound p {
  padding-bottom: 10px;
  font-weight: 500;
  color: rgb(0 0 0);
  font-size: 16px;
  line-height: 1px;
  font-family: "IBM Plex Sans", sans-serif;
}
.NorecordFound button {
  margin-bottom: 40px;
}

.NorecordFound img {
  width: 27%;
  margin-top: 70px;
}

input.inputError {
  border: 1px solid red !important;
}

.appliedCriteriaSelect ::ng-deep .p-dropdown {
  background: #f4f6fa !important;
}
