.addnew1 {
  margin-left: 550px;
}
button {
  padding: 5px;
  margin-left: 8px;
}
.clickcriteria {
  display: flex;
  float: right;
}
.pagetitle {
  margin-top: 95px;
}
p-dropdown .p-dropdown {
  width: 100%;
}
::ng-deep .p-dropdown{
  margin-right: 10px;
  width: 200px;
  height: 40px;
}
::ng-deep .p-button-primary plus {
  width: 40px;
  height: 25px;
}
