<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">{{ "Home.home" | translate }}</li>
      <li class="breadcrumb-item">{{ "Home.Settings" | translate }}</li>
      <li class="breadcrumb-item active" style="color: #2455cf">
        Add New Route
      </li>
      <!-- <li class="breadcrumb-item active" style="color: #2455cf;">{{'Home.Payment Mode Settings' | translate}}</li> -->
      <li>
        <div class="addnew1">
          <button
            pButton
            pRipple
            type="button"
            label="Save & Close"
            class="p-button-raised"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            label="Save & Add New"
            class="p-button-raised"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            label="Reset"
            class="p-button-warning"
          ></button>
        </div>
      </li>
    </ol>
  </nav>
</div>
<div style="background-color: #ffffff">
  <h6>Description</h6>
  <h6>
    Based on the critetria selected banks will be routed to preferred routing
    bank...
  </h6>
  <div>
    <div
      style="
        border: 0.5px solid#eaedf4;
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;
        background-color: #ffffff;
      "
    >
      <h6
        style="
          color: blue;
          margin-left: 30px;
          -top: 10px;
          font-weight: bold;
          font-size: 16px;
        "
      >
        Set Criteria
        <h6 class="clickcriteria">
          <a (click)="openClickForSave()"
            >Click to save this Criteria as a template</a
          >
        </h6>
      </h6>
      <br /><br />

      <p-dialog [(visible)]="clickforsave" [style]="{ width: '30vw' }">
        <ng-template pTemplate="header"> Save Template </ng-template>
        <p>Name</p>
        <input type="text" class="form-control" [(ngModel)]="criteriaName" />
        <ng-template pTemplate="footer" style="text-align: center">
          <button
            pButton
            pRipple
            type="button"
            label="Save"
            (click)="saveCriteriaAsTemplate()"
            class="p-button-raised"
          ></button>
        </ng-template>
      </p-dialog>

      <div style="display: flex; margin-bottom: 50px; margin-left: 30px">
        
        <p-dropdown [options]="criteriaMapDdlOptions" optionLabel="name" optionValue="code"  
        
        style="margin-right: 10px" [(ngModel)]="criteriaMap.criteria" (onChange)="onChange('criteria',$event.value)" ></p-dropdown>
        
        <p-dropdown [options]="criteriaEqualsDdlOptions" optionLabel="name" optionValue="code" 
         [(ngModel)]="criteriaMap.condition" (onChange)="onChange('condition',$event.value)"
        style="margin-right: 10px"></p-dropdown>

        <p-dropdown [options]="correspondentDdlOptions" optionLabel="name" optionValue="code" 
         [(ngModel)]="criteriaMap.val" (onChange)="onChange('val',$event.value)"
        style="margin-right: 10px"></p-dropdown>
        <button
        pButton
        pRipple
        style="padding: 10px" 
        type="button"
        label="+"
        class="p-button-primary"
        (click)="addCriteriaMap()"
      ></button>
        <select
          #template
          class="form-select"
          aria-label="Default select example"
          style="width: 200px; margin-left: 200px"
          (change)="selectCriteriaTemplate(template.value)"
        >
          <option *ngIf="!criteriaTemplatesDdlOptions.length" selected>
            No Saved Templates
          </option>
          <option *ngIf="criteriaTemplatesDdlOptions.length" selected>
            Select Template
          </option>
          <option *ngFor="let name of criteriaTemplatesDdlOptions">
            {{ name.criteriaName }}
          </option>
        </select>
      </div>
      <div style="margin-bottom: 30px">
        <span
          *ngFor="let criteria of criteriaText; let i = index"
          style="
            color: black;
            background-color: #eaedf4;
            margin-left: 30px;
            padding: 5px;
            padding-right: 18px;
          "
          >{{ criteria }}
          <span
            role="button"
            style="padding: 0px 0px 0px 50px; margin-bottom: 10px"
            (click)="ondeletecriteria(i)"
          >
            <svg
              style="margin-bottom: 4px"
              xmlns="http://www.w3.org/2000/svg"
              width="12.6"
              height="12.6"
              fill="#dc3545"
              class="bi bi-x-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </span>
        </span>
      </div>
      <div>
        <p-table class="payment-mode-table" #dt [value]="" sortMode="multiple">
          <ng-template pTemplate="header">
            <tr>
              <th
                pSortableColumn=""
                style="
                  background-color: #eaedf4;
                  font-size: 12px;
                  color: #8a9099;
                "
              >
                Country
              </th>
              <th
                pSortableColumn=""
                style="
                  background-color: #eaedf4;
                  font-size: 12px;
                  color: #8a9099;
                "
              >
                Route Bank Name
              </th>
              <th
                pSortableColumn=""
                style="
                  background-color: #eaedf4;
                  font-size: 12px;
                  color: #8a9099;
                "
              >
                Service Category
              </th>
              <th
                pSortableColumn=""
                style="
                  background-color: #eaedf4;
                  font-size: 12px;
                  color: #8a9099;
                "
              >
                Service type
              </th>
              <th
                pSortableColumn=""
                style="
                  background-color: #eaedf4;
                  font-size: 12px;
                  color: #8a9099;
                "
              >
                Is Correspodent
              </th>
              <th
                pSortableColumn=""
                style="
                  background-color: #eaedf4;
                  font-size: 12px;
                  color: #8a9099;
                "
              >
                Route to
              </th>
              <th
                pSortableColumn=""
                style="
                  background-color: #eaedf4;
                  font-size: 12px;
                  color: #8a9099;
                "
              >
                Service Category
              </th>
              <th
                pSortableColumn=""
                style="
                  background-color: #eaedf4;
                  font-size: 12px;
                  color: #8a9099;
                "
              >
                Service type
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-payment>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <div>
    <div class="addnew2">
      <button
        pButton
        pRipple
        type="button"
        label="Save & Close"
        class="p-button-raised"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Save & Add New"
        class="p-button-raised"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Reset"
        class="p-button-warning"
      ></button>
    </div>
  </div>
</div>
