.rangeOverlapErr {
  transition: all 0.5ms;
}

:host ::ng-deep .addTxnBtn span {
  font-size: 25px;
  font-weight: 500;
}

.all-range-groups {
  position: relative;
}

.index-range {
  position: absolute;
  font-size: 13px;
  top: 18px;
}
