
<div class="ruleDesc">
    <p style="position: relative">
      Criteria Map <span class="description red-star">*</span>
    </p>
    <input
      type="text"
      pInputText
      [(ngModel)]="criteriaMapDes"
      maxlength="100"
      placeholder="Max 100 characters"
    />
  
  <button
  pButton
  pRipple
  type="button"
  label="Apply"
  class="p-button-raised"
  (click)="Apply()"
></button>
</div>
<p-table   #dt
      [value]="taxSettingData"
      [paginator]="true"
      [rows]="10"
      [resizableColumns]="true"
      columnResizeMode="fit"
      [rowHover]="true">
    <ng-template pTemplate="header">
        <tr>
            <th>Tax Code</th>
            <th>Tax CodeID </th>
            <th>Tax Type</th>
            <th>SetAS</th>
            <th>Tax</th>
            <th>Lcy From Amount</th>
            <th>Lcy To Amount</th>
            <th>Lcy Amount</th>
            <th>Lcy Criteria</th>
            <th>Criteria</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.TaxCode}}</td>
            <td>{{product.TaxCodeID}}</td>
            <td>{{product.TaxType}}</td>
            <td>{{product.setAS}}</td>
            <td>{{product.Tax}}</td>
            <td>{{product["Lcy From Amount"]}}</td>
            <td>{{product["Lcy To Amount"]}}</td>
            <td>{{product["Lcy Amount"]}}</td>
            <td>{{product["Lcy Criteria"]}}</td>
            <td>{{product.Criteria}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="10">{{responseMessage}}</td>
        </tr>
      </ng-template>
</p-table>
