<header id="header" class="header fixed-top d-flex align-items-center">
  <div
    class="d-flex flex-column align-items-baseline justify-content-between header-bar"
  >
    <div class="header-nav">
      <h4 class="page-heading">
        {{ "Settings" | translate }}
      </h4>
    </div>
    <p-breadcrumb [model]="breadcrumbsItems"></p-breadcrumb>
  </div>
  <!-- End Logo -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item">
        <p-dropdown
          #themeOpt
          class="profile-dropdown"
          [options]="themeOptions"
          optionLabel="name"
          (onChange)="selectTheme(themeOpt.value)"
          [(ngModel)]="selectedTheme"
        >
          <ng-template pTemplate="selectedItem">
            <div
              class="theme-item"
              style="display: flex; align-items: center; gap: 8px"
            >
              <div
                [ngStyle]="{
                  width: '20px',
                  height: '20px',
                  borderRadius: '50%',
                  background: selectedTheme.color
                }"
              ></div>
              <div>{{ selectedTheme.name }}</div>
            </div>
          </ng-template>

          <ng-template let-theme pTemplate="item">
            <div
              class="theme-item"
              style="display: flex; align-items: center; gap: 8px"
            >
              <div
                [ngStyle]="{
                  width: '20px',
                  height: '20px',
                  borderRadius: '50%',
                  background: theme.color
                }"
              ></div>
              <div>{{ theme.name }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </li>
      <li class="nav-item notification-alert">
        <a class="nav-link nav-icon" data-bs-toggle="dropdown">
          <img src="../assets/icon/notification icon top navbar.svg" alt="" />
          <span class="badge badge-number">4</span> </a
        ><!-- End Notification Icon -->
      </li>
      <li class="nav-item profile-icon-name d-flex">
        <img
          src="../assets/icon/profile icon.svg"
          alt="Profile"
          class="rounded-circle"
        />
        <div class="profile-content">
          <p-dropdown
            #profileOpt
            class="profile-dropdown"
            [options]="profileOptions"
            placeholder="Yogesh M"
            optionLabel="name"
            (onClick)="selectProfileOption(profileOpt.value)"
            [showClear]="false"
          >
          </p-dropdown>
          <span style="padding-left: 0.75rem"> ADMIN </span>
        </div>
      </li>
      <!-- End Profile Nav -->
    </ul>
  </nav>
  <!-- End Icons Navigation -->
</header>
<!-- End Header -->
<div class="toggle-sidebar">
  <i
    #toggleSidebar
    class="toggle-sidebar-btn"
    [className]="'pi pi-chevron-' + toggleState"
  ></i>
</div>
<aside #sidebarDiv id="sidebar" class="sidebar" style="width: 270px">
  <div class="sidebar-header">
    <a routerLink="/navbar" class="logo d-flex align-items-center">
      <img #logo height="45px" src="assets/icon/casmex logo.svg" alt="" />
    </a>
  </div>
  <div class="sidebar-content">
    <div class="mb-2" style="text-align: center; max-width: 100%">
      <span class="p-input-icon-left">
        <i style="left: 1rem" class="pi pi-search"></i>
        <input
          type="text"
          class="p-inputtext menu-search"
          placeholder="Menu Search"
          (input)="filterMenuItems($event)"
        />
      </span>
    </div>
    <p-panelMenu styleClass="dynamic-menu" [model]="menuItems"></p-panelMenu>
    <footer class="sidebar-content-footer">
      <div class="help-icon-content">
        <i class="pi pi-question-circle"></i>
        <span class="help-content">Help Center</span>
      </div>
      <div class="copyright-version-content mt-3">
        <p class="copyright-content mb-0">
          © Casmex 21-22. All Rights Reserved.
        </p>
        <p class="version-content mb-0">Version 2.0</p>
      </div>
    </footer>
  </div>
</aside>

<main id="main" class="main">
  <router-outlet></router-outlet>
</main>
