<header id="header" class="header fixed-top d-flex align-items-center">
  <div
    class="d-flex flex-column align-items-baseline justify-content-between header-bar"
  >
    <div class="header-nav">
      <h4 class="page-heading">
        {{ "Settings" | translate }}
      </h4>
    </div>
    <p-breadcrumb [model]="breadcrumbsItems"></p-breadcrumb>
  </div>
  <!-- End Logo -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item notification-alert">
        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <img src="../assets/icon/notification icon top navbar.svg" alt="" />
          <span class="badge badge-number">4</span> </a
        ><!-- End Notification Icon -->
      </li>
      <!-- End Notification Nav -->
      <!-- <li class="nav-item dropdown">
        <select #langSelect (change)="translate.use(langSelect.value)">
          <option
            *ngFor="let lang of translate.getLangs()"
            [value]="lang"
            [selected]="lang === translate.currentLang"
          >
            {{ lang }}
          </option>
        </select>
      </li> -->
      <li class="nav-item profile-icon-name d-flex">
        <img
          src="../assets/icon/profile icon.svg"
          alt="Profile"
          class="rounded-circle"
        />
        <div class="profile-content">
          <p-dropdown
            #profileOpt
            class="profile-dropdown"
            [options]="profileOptions"
            placeholder="Yogesh M"
            optionLabel="name"
            (onClick)="selectProfileOption(profileOpt.value)"
            [showClear]="false"
          >
          </p-dropdown>
          <span class="px-2"> ADMIN </span>
        </div>
      </li>
      <!-- End Profile Nav -->
    </ul>
  </nav>
  <!-- End Icons Navigation -->
</header>
<!-- End Header -->
<div class="toggle-sidebar">
  <i
    #toggleSidebar
    class="toggle-sidebar-btn"
    [className]="'pi pi-chevron-' + toggleState"
  ></i>
</div>
<aside #sidebarDiv id="sidebar" class="sidebar" style="width: 270px">
  <div class="sidebar-header">
    <a routerLink="/navbar" class="logo d-flex align-items-center">
      <img #logo height="45px" src="assets/icon/casmex logo.svg" alt="" />
    </a>
  </div>
  <div class="sidebar-content">
    <div class="mb-2" style="text-align: center; max-width: 100%">
      <span class="p-input-icon-left">
        <i style="left: 1rem" class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          [classList]="'menu-search'"
          placeholder="Menu Search"
          (input)="filterMenuItems($event)"
        />
      </span>
    </div>
    <p-panelMenu styleClass="dynamic-menu" [model]="menuItems"></p-panelMenu>
    <!-- <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link " href="index.html">
            <img src="../assets/icon/Dashboard Icon.svg" alt="">
            <span class="">Dashboard</span>
          </a>
        </li>
    
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
            <img src="../assets/icon/Rate Setup icon.svg" alt="">
            <span>Rate Setup</span>
          </a>
    
        </li>
    
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
            <img src="../assets/icon/Customer Details icon.svg" alt="">
            <span>Customer Details</span>
          </a>
    
        </li>
    
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
            <img src="../assets/icon/Beneficiary Details icon.svg" alt="">
            <span>Beneficiary Details</span>
          </a>
    
        </li>
    
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
            <img src="../assets/icon/Remittance icon.svg" alt="">
            <span>Remittance</span>
          </a>
    
        </li>
    
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
            <img src="../assets/icon/Forex icon.svg" alt="">
            <span>Forex</span>
          </a>
    
        </li>
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
    
            <img src="../assets/icon/Incoming icon.svg" alt="">
            <span>Incoming</span>
          </a>
        </li>
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <img src="../assets/icon/Transaction Search icon.svg" alt="">
    
            <span>Transaction Search</span>
          </a>
        </li>
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <img src="../assets/icon/Accounts icon.svg" alt="">
            <span>Accounts</span>
          </a>
        </li>
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <img src="../assets/icon/Reports icon.svg" alt="">
            <span>Reports</span>
          </a>
        </li>
    
        <li class="nav-item" id="accordionExample">
          <a class="nav-link collapsed">
            <img src="../assets/icon/Settings icon.svg" alt="">
            <span class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">Settings</span>
          </a>
          <ul>
            <li class="nav-item" id="collapseThree" class="accordion-collapse collapse"
              data-bs-parent="#accordionExample">
              <a class="nav-link collapsed">
                <img src="../assets/icon/Settings icon.svg" alt="">
                <span>Module Settings</span>
              </a>
            </li>
          </ul>
        </li>
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <img src="../assets/icon/Settings icon.svg" alt="">
            <span>Payment Mode Settings</span>
          </a>
        </li>
      </ul> -->
    <footer class="sidebar-content-footer">
      <div class="help-icon-content">
        <img
          src="../assets/icon/Help Center icon.svg"
          alt=""
          style="padding-right: 20px"
        />
        <span class="help-content">Help Center</span>
      </div>
      <div class="copyright-version-content mt-3">
        <p class="copyright-content mb-0">
          © Casmex 21-22. All Rights Reserved.
        </p>
        <p class="version-content mb-0">Version 2.0</p>
      </div>
    </footer>
  </div>
</aside>

<main id="main" class="main">
  <router-outlet></router-outlet>
</main>
