.nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
  color: #4154f1;
}

.nav-tabs-bordered .nav-link.active {
  background-color: #fff;
  color: #4154f1;
  border-bottom: 2px solid #4154f1;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
.logo {
  line-height: 1;
}

.logo span {
  font-size: 26px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}

.header {
  width: calc(100% - 270px);
  margin-left: 270px;
  height: 80px;
  transition: all 0.3s;
  z-index: 102;
  box-shadow: 0px 3px 30px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding-left: 20px;
  /* Toggle Sidebar Button */
  /* Search Bar */
}

@media (max-width: 815px) {
  .header {
    width: 100%;
    margin-left: 0px;
    z-index: 98;
  }
}

.toggle-sidebar {
  position: absolute;
  top: 80px;
  left: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.3rem;
  width: 2.3rem;
  background: #4759e4;
  border-radius: 50%;
  border: 1.5px solid white;
  transition: 0.3ms;
  z-index: 101;
  transition: 0.3s;
}

.toggle-sidebar i {
  cursor: pointer;
  color: #fff !important;
}

.search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 5px 30px 7px 8px;
  border-radius: 5px;
  transition: 0.3s;
  width: 100%;
}

.search-form input:focus,
.search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}

.search-form button {
  border: 0;
  padding-left: 10px;
  background: none;
  position: relative;
}

.search-form button img {
  color: rgba (36 85 207, 0.1);
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}

.header-nav > ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon {
  font-size: 22px;
  color: #012970;
  position: relative;
}

.header-nav .nav-profile {
  color: #012970;
}

.header-nav .nav-profile img {
  max-height: 36px;
}

.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}

.header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
}

.header-nav .notifications {
  inset: 8px -15px auto auto !important;
}

.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}

.header-nav .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff;
}

.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #444444;
}

.header-nav .profile .dropdown-header span {
  font-size: 14px;
}

.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
  background-color: #f6f9ff;
}

.header-nav h3 {
  margin-left: 50px;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  width: 95px;
  z-index: 100;
  transition: all 0.3s;

  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: rgba(71 89 228);
}

.sidebar .sidebar-content {
  padding: 1.2rem;
  max-height: calc(100vh - 91px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
}
.sidebar .sidebar-content::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}
.sidebar .sidebar-content::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

.sidebar ::ng-deep .p-panelmenu .p-panelmenu-header > a {
  background: transparent;
  color: #fff;
}

.sidebar ::ng-deep .p-panelmenu .p-panelmenu-header > a .p-menuitem-icon {
  margin-right: 0.7rem;
}

.menu-search {
  width: 220px;
  border-radius: 5px;
}

.p-input-icon-left > .menu-search.p-inputtext {
  padding-left: 3rem;
}

.profile-dropdown::ng-deep .p-dropdown {
  border: none;
}
.profile-dropdown::ng-deep .p-dropdown .p-dropdown-trigger-icon {
  display: none;
}
.profile-dropdown::ng-deep .p-dropdown .p-dropdown-label {
  padding-bottom: 0;
  padding-top: 0;
  font-weight: 600;
  color: black;
}

.profile-content {
  display: flex;
  flex-direction: column;
}
.profile-content span {
  font-size: 0.8rem;
}

.profile-dropdown::ng-deep .p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none;
}

.menu-search::placeholder {
  color: rgb(138 144 153);
}

.sidebar
  ::ng-deep
  .p-panelmenu
  .p-panelmenu-header:not(.p-highlight):not(.p-disabled)
  > a:hover,
.sidebar
  ::ng-deep
  .p-panelmenu
  .p-panelmenu-header.p-highlight:not(.p-disabled)
  > a:hover,
.sidebar
  ::ng-deep
  .p-panelmenu
  .p-panelmenu-panel:has(.p-toggleable-content)
  .p-panelmenu-header.p-highlight {
  background: linear-gradient(
    to right,
    rgba(147, 159, 254),
    rgba(99, 117, 252)
  );
  border-color: transparent;
  color: #fff;
  border-radius: 5px;
}

.sidebar ::ng-deep .p-panelmenu .p-panelmenu-header > a:focus {
  box-shadow: none;
}

.sidebar ::ng-deep .p-panelmenu .p-panelmenu-content {
  background: linear-gradient(
    to right,
    rgba(147, 159, 254, 0.22),
    rgba(99, 117, 252, 0.22)
  );
  padding: 0;
  border: none;
  border-radius: 5px;
}

.sidebar
  ::ng-deep
  .p-panelmenu
  .p-panelmenu-content
  .p-menuitem
  .p-menuitem-link
  .p-menuitem-text {
  color: #fff;
  font-size: 0.82rem;
}

.sidebar
  ::ng-deep
  .p-panelmenu
  .p-panelmenu-content
  .p-menuitem
  .p-menuitem-link:not(.p-disabled):hover {
  background: linear-gradient(
    to right,
    rgba(147, 159, 254),
    rgba(99, 117, 252)
  );
}

.sidebar ::ng-deep .p-panelmenu .p-panelmenu-panel .p-panelmenu-header > a {
  border-radius: 5px;
}

/* @media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
} */
/* 
.sidebar::-webkit-scrollbar {
  
}

.sidebar::-webkit-scrollbar-thumb {
  
} */

.sidebar .sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91px;
}

@media (min-width: 1200px) {
  #main,
  #footer {
    margin-left: 290px;
    transition: 300ms;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {
  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
  margin-left: 10px;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #4154f1;
  transition: 0.3;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link img {
  font-size: 16px;
  margin-right: 20px;
  color: #4154f1;
}

.sidebar-nav .nav-link.collapsed {
  color: #012970;
  background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}

.sidebar-nav .nav-link:hover {
  color: #4154f1;
  background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
  color: #4154f1;
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #0c0c0c;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #4154f1;
}

.sidebar-nav .nav-content a.active i {
  background-color: #4154f1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #55c78a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #55c78a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.prime-table {
  max-width: 79%;
  width: 100%;
  position: absolute;
  margin: 20px;
  left: 290px;
  top: 270px;
}

.p-datatable .p-datatable-thead tr th {
  border: none !important;
  border-width: 0px !important;
}

main {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 50px;
  transition: 300ms;
}

nav ol li .breadcrumb-item active {
  color: #2455cf !important;
}

::ng-deep.dynamic-menu .p-panelmenu-icon {
  order: 3;
  margin-left: auto;
}

::ng-deep.dynamic-menu .p-panelmenu-header-link {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  border: none;
}

::ng-deep.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
  padding-left: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}
::ng-deep.p-panelmenu .p-panelmenu-content .p-menuitem .p-panelmenu-icon {
  margin-left: 0;
  font-size: 0.9rem;
  color: white;
}

::ng-deep.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus {
  box-shadow: none;
}

::ng-deep.p-panelmenu .p-panelmenu-header > a {
  border: none;
  font-weight: 400;
  font-size: 0.9rem;
}
::ng-deep.p-panelmenu .p-panelmenu-icon {
  font-size: 0.6rem;
}

.sidebar-content-footer {
  background-color: #2455cf;
  margin-top: 60px;
  padding: 1.2rem 1.5rem;
  border-radius: 5px;
  background: linear-gradient(to right, rgba(21 83 241), rgba(22 69 184));
}
.sidebar-content-footer .help-content {
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
}
.sidebar-content-footer .copyright-version-content {
  font-size: 0.7rem;
  font-weight: 600;
  color: white;
}
.sidebar-content-footer .help-icon-content {
  display: flex;
  align-items: center;
}
.sidebar-content-footer .help-icon-content img {
  filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(32deg) brightness(107%)
    contrast(105%);
}

.header-bar::ng-deep .p-breadcrumb {
  padding: 0;
  border: none;
}

@media (max-width: 815px) {
  .header-bar::ng-deep.p-breadcrumb ul li .p-menuitem-link .p-menuitem-text {
    font-size: 0.8rem;
  }
  .profile-icon-name {
    padding-right: 0 !important;
  }
}
.header-bar::ng-deep .p-breadcrumb ul li .p-menuitem-text {
  color: rgb(138 144 153);
}

.header-bar::ng-deep .p-breadcrumb ul li:last-child .p-menuitem-text {
  color: rgba(99, 117, 252);
  font-weight: 600;
}
.header-bar::ng-deep .p-breadcrumb ul li:nth-last-child(3) .p-menuitem-text {
  font-weight: 600;
}
.header-bar::ng-deep .p-breadcrumb ul li.p-breadcrumb-chevron:before {
  content: "\002F";
  font-weight: bold;
  font-size: 1.3rem;
}

.notification-alert {
  border-right: 1.5px solid lightgrey;
  margin-right: 15px;
}
.notification-alert .badge {
  height: 15px;
  width: 15px;
  right: 9px;
  top: 5px;
  border-radius: 50%;
  font-size: 0.7rem;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247 68 64);
}

:host ::ng-deep .dashboard-icon {
  background-image: url("/assets/icon/Dashboard Icon.svg");
  width: 1rem;
  height: 1rem;
  transform: scale(0.9);
  filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(32deg) brightness(107%)
    contrast(105%);
}
:host ::ng-deep .rateSetup-icon {
  background-image: url("/assets/icon/Rate Setup icon.svg");
  width: 1rem;
  height: 1rem;
  transform: scale(0.9);
  filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(32deg) brightness(107%)
    contrast(105%);
}
:host ::ng-deep .customerDetails-icon {
  background-image: url("/assets/icon/Customer Details icon.svg");
  width: 1rem;
  height: 1rem;
  transform: scale(0.9);
}
:host ::ng-deep .forex-icon {
  background-image: url("/assets/icon/Forex icon.svg");
  width: 1rem;
  height: 1rem;
  transform: scale(0.9);
  filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(32deg) brightness(107%)
    contrast(105%);
}
:host ::ng-deep .beneficiary-icon {
  background-image: url("/assets/icon/Beneficiary Details icon.svg");
  width: 1rem;
  height: 1rem;
  transform: scale(0.9);
  filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(32deg) brightness(107%)
    contrast(105%);
}
:host ::ng-deep .remmitance-icon {
  background-image: url("/assets/icon/Remittance icon.svg");
  width: 1rem;
  height: 1rem;
  transform: scale(0.9);
  filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(32deg) brightness(107%)
    contrast(105%);
}
:host ::ng-deep .settings-icon {
  background-image: url("/assets/icon/Settings icon.svg");
  width: 1rem;
  height: 1rem;
  transform: scale(0.9);
  filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(32deg) brightness(107%)
    contrast(105%);
}
:host ::ng-deep .applicationsettings-icon {
  background-image: url("/assets/icon/Application Settings Icon.svg");
  width: 1rem;
  height: 1rem;
  transform: scale(0.9);
  filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(32deg) brightness(107%)
    contrast(105%);
}
:host ::ng-deep .reports-icon {
  background-image: url("/assets/icon/Reports icon.svg");
  width: 1rem;
  height: 1rem;
  transform: scale(0.9);
  filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(32deg) brightness(107%)
    contrast(105%);
}
:host ::ng-deep .Accounts-icon {
  background-image: url("/assets/icon/Accounts icon.svg");
  width: 1rem;
  height: 1rem;
  transform: scale(0.9);
  filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(32deg) brightness(107%)
    contrast(105%);
}
:host ::ng-deep .Incoming-icon {
  background-image: url("/assets/icon/Incoming icon.svg");
  width: 1rem;
  height: 1rem;
  transform: scale(0.9);
  filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(32deg) brightness(107%)
    contrast(105%);
}
