:host ::ng-deep .p-dropdown {
    width: 180px;
  }
:host ::ng-deep .customerGroup .p-dropdown {
    width: 370px;
  }
  label{
    font-size: 13px;
  }
  .creditToParty{
    margin-top: 15px;
  }
  .creditToPartycolor{
    padding-left: 5px;
    font-size: 12px;
  }

.required {
  color: red;
}

.btnRight {
  text-align: right;
}