<form
  *ngIf="objectKeys(apiData).length"
  class="custom-form"
  [formGroup]="corporateForm"
>
  <ng-container *ngFor="let section of formSections">
    <p-panel
      [header]="section.formName"
      [toggleable]="true"
      [formGroup]="corporateForm.controls[section.formName]"
      *ngIf="section.isVisible"
    >
      <div class="row">
        <div
          *ngIf="section.formName == 'KYC Doc Upload'"
          style="padding: 0; margin: 10px 0"
        >
          <p-table [value]="uploadedKycData" *ngIf="uploadedKycData.length">
            <ng-template pTemplate="header">
              <tr>
                <th>Document Type</th>
                <th>ID Number</th>
                <th>ID Issue Date</th>
                <th>ID Expiry Date</th>
                <th>ID Issue Authority</th>
                <th>ID Issue Country</th>
                <th>Front Side</th>
                <th>Back Side</th>
                <th style="text-align: center">Doc History</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
              <tr>
                <td
                  class="file-name view-link"
                  (click)="selectRowForEdit(product, rowIndex)"
                >
                  {{ product.documentType }}
                </td>
                <td>{{ product.idNumber }}</td>
                <td>{{ product.idIssueDate }}</td>
                <td>{{ product.idExpiryDate }}</td>
                <td>{{ product.idIssueAuthority }}</td>
                <td>{{ product.idIssueCountry }}</td>
                <td style="position: relative">
                  <span
                    class="file-name view-link"
                    *ngIf="
                      product.uploadFrontSide || product.uploadFrontSideFile
                    "
                    (click)="
                      viewDoc(
                        product.uploadFrontSideFile,
                        product.uploadFrontSide
                      )
                    "
                    pTooltip="View Document"
                    >{{ product.uploadFrontSideFileName }}</span
                  >
                  <span
                    class="file-name"
                    *ngIf="
                      !(product.uploadFrontSide || product.uploadFrontSideFile)
                    "
                    >{{ product.uploadFrontSideFileName }}</span
                  >
                  <!-- <span
                            role="button"
                            class="remove-file-btn"
                            *ngIf="
                              product.uploadFrontSideFileName &&
                              product.uploadFrontSideFileName != ''
                            "
                            (click)="
                              onRemoveFile(
                                'kyc',
                                product,
                                rowIndex,
                                'uploadFrontSideFileName',
                                'uploadFrontSide'
                              )
                            "
                            pTooltip="Remove Document"
                          >
                            <svg
                              style="margin-bottom: 4px"
                              xmlns="http://www.w3.org/2000/svg"
                              width="12.6"
                              height="12.6"
                              fill="#dc3545"
                              class="bi bi-x-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                              <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                              />
                            </svg>
                          </span> -->
                </td>
                <td style="position: relative">
                  <span
                    class="file-name view-link"
                    *ngIf="product.uploadBackSide || product.uploadBackSideFile"
                    (click)="
                      viewDoc(
                        product.uploadBackSideFile,
                        product.uploadBackSide
                      )
                    "
                    pTooltip="View Document"
                    >{{ product.uploadBackSideFileName }}</span
                  >
                  <span
                    class="file-name"
                    *ngIf="
                      !(product.uploadBackSide || product.uploadBackSideFile)
                    "
                    >{{ product.uploadBackSideFileName }}</span
                  >
                  <!-- <span
                            role="button"
                            class="remove-file-btn"
                            *ngIf="
                              product.uploadBackSideFileName &&
                              product.uploadBackSideFileName != ''
                            "
                            (click)="
                              onRemoveFile(
                                'kyc',
                                product,
                                rowIndex,
                                'uploadBackSideFileName',
                                'uploadBackSide'
                              )
                            "
                            pTooltip="Remove Document"
                          >
                            <svg
                              style="margin-bottom: 4px"
                              xmlns="http://www.w3.org/2000/svg"
                              width="12.6"
                              height="12.6"
                              fill="#dc3545"
                              class="bi bi-x-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                              <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                              />
                            </svg>
                          </span> -->
                </td>
                <td style="text-align: center">
                  <!-- <button
                            pButton
                            type="button"
                            icon="pi pi-eye"
                            class="operation-btns"
                            [disabled]="!product.uploadFrontSide"
                            (click)="viewDoc('kyc', product.uploadFrontSide)"
                          ></button> -->
                  <button
                    pButton
                    type="button"
                    icon="pi pi-download"
                    class="operation-btns"
                    [disabled]="
                      !(product.uploadFrontSide || product.uploadBackSide) ||
                      product.uploadFrontSideFile || product.uploadBackSideFile
                    "
                    (click)="
                      downloadDoc('kyc', [
                        product.uploadFrontSide,
                        product.uploadBackSide
                      ])
                    "
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div
          *ngIf="section.formName == 'Beneficial Owner Details'"
          style="padding: 0; margin: 10px 0"
        >
          <p-table
            [value]="uploadedBeneficialData"
            *ngIf="uploadedBeneficialData.length"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Ownership Type</th>
                <th>Category</th>
                <th>No. of Partner</th>
                <th>Percentage</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Date Of Birth</th>
                <th>Country Of Birth</th>
                <th>Nationality</th>
                <th>Relationship</th>
                <th>Document Type</th>
                <th>ID Number</th>
                <th>ID Issue Date</th>
                <th>ID Expiry Date</th>
                <th>ID Issue Authority</th>
                <th>ID Issue Country</th>
                <th>Visa expiry Date</th>
                <th>ID copy upload</th>
                <th style="text-align: center">Doc History</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
              <tr>
                <td
                  style="
                    cursor: pointer;
                    color: blue;
                    text-decoration: underline;
                  "
                  (click)="selectRowForEditBeneficial(product, rowIndex)"
                >
                  {{ product.ownershipType }}
                </td>
                <td>{{ product.category }}</td>
                <td>{{ product.noOfPartner }}</td>
                <td>{{ product.percentage }}</td>
                <td>{{ product.firstName }}</td>
                <td>{{ product.middleName }}</td>
                <td>{{ product.lastName }}</td>
                <td>{{ product.gender }}</td>
                <td>{{ product.dateOfBirth }}</td>
                <td>{{ product.countryOfBirth }}</td>
                <td>{{ product.nationality }}</td>
                <td>{{ product.relationship }}</td>
                <td>{{ product.documentType }}</td>
                <td>{{ product.idNumber }}</td>
                <td>{{ product.idIssueDate }}</td>
                <td>{{ product.idExpiryDate }}</td>
                <td>{{ product.idIssueAuthority }}</td>
                <td>{{ product.idIssueCountry }}</td>
                <td>{{ product.visaExpiryDate }}</td>
                <td style="position: relative">
                  <span
                    class="file-name view-link"
                    *ngIf="product.idCopyUploadName || product.idCopyUploadFile"
                    (click)="
                      viewDoc(
                        product.idCopyUploadFile,
                        product.idCopyUploadName
                      )
                    "
                    pTooltip="View Document"
                    >{{ product.idCopyUploadFileName }}</span
                  >
                  <span
                    class="file-name"
                    *ngIf="
                      !(product.idCopyUploadName || product.idCopyUploadFile)
                    "
                    >{{ product.idCopyUploadFileName }}</span
                  >
                </td>
                <td style="text-align: center">
                  <!-- <button
                    pButton
                    type="button"
                    icon="pi pi-eye"
                    class="operation-btns"
                    [disabled]="!product.idCopyUploadName"
                    (click)="viewDoc('benef', product.idCopyUploadName)"
                  ></button> -->
                  <button
                    pButton
                    type="button"
                    icon="pi pi-download"
                    class="operation-btns"
                    [disabled]="
                      !product.idCopyUploadName || product.idCopyUploadFile
                    "
                    (click)="downloadDoc('benef', [product.idCopyUploadName])"
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div
          *ngIf="section.formName == 'Representative Details'"
          style="padding: 0; margin: 10px 0"
        >
          <p-table
            [value]="uploadedRepresentativeData"
            *ngIf="uploadedRepresentativeData.length"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Country of Birth</th>
                <th>Nationality</th>
                <th>Relationship</th>
                <th>Document Type</th>
                <th>ID Number</th>
                <th>ID Issue Date</th>
                <th>ID Expiry Date</th>
                <th>ID Issue Authority</th>
                <th>ID Issue Country</th>
                <th>Visa Expiry Date</th>
                <th>Authorization letter expiry date</th>
                <th>Maximum allowed amount</th>
                <th>ID copy upload</th>
                <th>Authorization letter upload</th>
                <th>Other Document upload</th>
                <th style="text-align: center">Doc History</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
              <tr>
                <td
                  class="file-name view-link"
                  (click)="selectRowForEditRepresentative(product, rowIndex)"
                >
                  {{ product.representativeFirstName }}
                </td>
                <td>{{ product.representativeMiddleName }}</td>
                <td>{{ product.representativeLastName }}</td>
                <td>{{ product.representativeGender }}</td>
                <td>{{ product.representativeDateOfBirth }}</td>
                <td>{{ product.representativeCountryOfBirth }}</td>
                <td>{{ product.representativeNationality }}</td>
                <td>{{ product.representativeRelationship }}</td>
                <td>{{ product.representativeDocumentType }}</td>
                <td>{{ product.representativeIdNumber }}</td>
                <td>{{ product.representativeIdIssueDate }}</td>
                <td>{{ product.representativeIdExpiryDate }}</td>
                <td>{{ product.representativeIdIssueAuthority }}</td>
                <td>{{ product.representativeIdIssueCountry }}</td>
                <td>{{ product.representativeVisaExpiryDate }}</td>
                <td>
                  {{ product.representativeAuthorizationLetterExpiryDate }}
                </td>
                <td>
                  {{ product.representativeMaximumAllowedAmount }}
                </td>
                <td style="position: relative">
                  <span
                    class="file-name view-link"
                    *ngIf="
                      product.representativeIdCopyUploadName ||
                      product.representativeIdCopyUploadFile
                    "
                    (click)="
                      viewDoc(
                        product.representativeIdCopyUploadFile,
                        product.representativeIdCopyUploadName
                      )
                    "
                    pTooltip="View Document"
                    >{{ product.representativeIdCopyUploadFileName }}</span
                  >
                  <span
                    class="file-name"
                    *ngIf="
                      !(
                        product.representativeIdCopyUploadName ||
                        product.representativeIdCopyUploadFile
                      )
                    "
                    >{{ product.representativeIdCopyUploadFileName }}</span
                  >
                  <!-- <span
                            role="button"
                            class="remove-file-btn"
                            *ngIf="
                              product.representativeIdCopyUploadFileName &&
                              product.representativeIdCopyUploadFileName != ''
                            "
                            (click)="
                              onRemoveFile(
                                'repres',
                                product,
                                rowIndex,
                                'representativeIdCopyUploadFileName',
                                'representativeIdCopyUploadName'
                              )
                            "
                            pTooltip="Remove Document"
                          >
                            <svg
                              style="margin-bottom: 4px"
                              xmlns="http://www.w3.org/2000/svg"
                              width="12.6"
                              height="12.6"
                              fill="#dc3545"
                              class="bi bi-x-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                              <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                              />
                            </svg>
                          </span> -->
                </td>
                <td style="position: relative">
                  <span
                    class="file-name view-link"
                    *ngIf="
                      product.representativeAuthorizationLetterName ||
                      product.representativeAuthorizationLetterFile
                    "
                    (click)="
                      viewDoc(
                        product.representativeAuthorizationLetterFile,
                        product.representativeAuthorizationLetterName
                      )
                    "
                    pTooltip="View Document"
                    >{{
                      product.representativeAuthorizationLetterFileName
                    }}</span
                  >
                  <span
                    class="file-name"
                    *ngIf="
                      !(
                        product.representativeAuthorizationLetterName ||
                        product.representativeAuthorizationLetterFile
                      )
                    "
                    >{{
                      product.representativeAuthorizationLetterFileName
                    }}</span
                  >
                  <!-- <span
                            role="button"
                            class="remove-file-btn"
                            *ngIf="
                              product.representativeAuthorizationLetterFileName &&
                              product.representativeAuthorizationLetterFileName !=
                                ''
                            "
                            (click)="
                              onRemoveFile(
                                'repres',
                                product,
                                rowIndex,
                                'representativeAuthorizationLetterFileName',
                                'representativeAuthorizationLetterName'
                              )
                            "
                            pTooltip="Remove Document"
                          >
                            <svg
                              style="margin-bottom: 4px"
                              xmlns="http://www.w3.org/2000/svg"
                              width="12.6"
                              height="12.6"
                              fill="#dc3545"
                              class="bi bi-x-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                              <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                              />
                            </svg>
                          </span> -->
                </td>
                <td style="position: relative">
                  <span
                    class="file-name view-link"
                    *ngIf="
                      product.otherDocumentUpload ||
                      product.otherDocumentUploadFile
                    "
                    (click)="
                      viewDoc(
                        product.otherDocumentUploadFile,
                        product.otherDocumentUpload
                      )
                    "
                    pTooltip="View Document"
                    >{{ product.otherDocumentUploadFileName }}</span
                  >
                  <span
                    class="file-name"
                    *ngIf="
                      !(
                        product.otherDocumentUpload ||
                        product.otherDocumentUploadFile
                      )
                    "
                    >{{ product.otherDocumentUploadFileName }}</span
                  >
                  <!-- <span
                            role="button"
                            class="remove-file-btn"
                            *ngIf="
                              product.otherDocumentUploadFileName &&
                              product.otherDocumentUploadFileName != ''
                            "
                            (click)="
                              onRemoveFile(
                                'repres',
                                product,
                                rowIndex,
                                'otherDocumentUploadFileName',
                                'otherDocumentUpload'
                              )
                            "
                            pTooltip="Remove Document"
                          >
                            <svg
                              style="margin-bottom: 4px"
                              xmlns="http://www.w3.org/2000/svg"
                              width="12.6"
                              height="12.6"
                              fill="#dc3545"
                              class="bi bi-x-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                              <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                              />
                            </svg>
                          </span> -->
                </td>
                <td style="text-align: center">
                  <!-- <button
                            pButton
                            type="button"
                            icon="pi pi-eye"
                            class="operation-btns"
                            [disabled]="!product.representativeIdCopyUploadName"
                            (click)="
                              viewDoc(
                                'repres',
                                product.representativeIdCopyUploadName
                              )
                            "
                          ></button> -->
                  <button
                    pButton
                    type="button"
                    icon="pi pi-download"
                    class="operation-btns"
                    [disabled]="
                      !(
                        product.representativeIdCopyUploadName ||
                        product.otherDocumentUpload ||
                        product.representativeAuthorizationLetterName
                      ) ||
                      product.representativeIdCopyUploadFile ||
                        product.otherDocumentUploadFile ||
                        product.representativeAuthorizationLetterFile
                    "
                    (click)="
                      downloadDoc('repres', [
                        product.representativeIdCopyUploadName,
                        product.representativeAuthorizationLetterName,
                        product.otherDocumentUpload
                      ])
                    "
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <ng-container *ngFor="let field of section.fields">
          <div
            *ngIf="field.visible"
            [ngClass]="{
              'col-2': true,
              checkbox: field.fieldType == 'checkbox'
            }"
          >
            <label>{{ field.fieldLabel }}</label
            ><span *ngIf="field.required" class="required">*</span>
            <ng-container [ngSwitch]="field.fieldType">
              <input
                *ngSwitchCase="'text'"
                type="text"
                class="block"
                pInputText
                [formControlName]="field.name"
              />
              <input
                *ngSwitchCase="'number'"
                type="text"
                class="block"
                pInputText
                [formControlName]="field.name"
              />
              <div class="currency-Inp" *ngSwitchCase="'currency'">
                <input type="text" pInputText [formControlName]="field.name" />
                <span>AED</span>
              </div>
              <p-calendar
                *ngSwitchCase="'date'"
                class="block"
                placeholder="DD/MM/YYYY"
                dateFormat="dd/mm/yy"
                [showIcon]="true"
                [formControlName]="field.name"
                [minDate]="field.minDate"
                [maxDate]="field.maxDate"
                [defaultDate]="field.defaultDate"
                [readonlyInput]="true"
                [appendTo]="'body'"
              ></p-calendar>
              <p-checkbox
                *ngSwitchCase="'checkbox'"
                [formControlName]="field.name"
                [binary]="true"
                (onChange)="sameAddress($event, field.name)"
              ></p-checkbox>

              <p-dropdown
                *ngSwitchCase="'select'"
                class="block"
                [options]="masterData[field.apiKey]"
                [formControlName]="field.name"
                placeholder="&nbsp;"
                optionLabel="codeName"
              ></p-dropdown>
              <p-dropdown
                *ngSwitchCase="'smart-search'"
                class="block"
                [formControlName]="field.name"
                [options]="masterData[field.apiKey]"
                optionLabel="codeName"
                [filter]="true"
                filterBy="codeName"
                placeholder="Type to search"
              >
                <ng-template pTemplate="selectedItem">
                  <div class="country-item country-item-value" *ngIf="field">
                    <div>
                      {{
                        corporateForm.controls[section.formName]["controls"][
                          field.name
                        ].value.codeName
                      }}
                    </div>
                  </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                  <div class="country-item">
                    <div>{{ country.codeName }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <div
                *ngSwitchCase="'file'"
                class="file-upload"
                [pTooltip]="
                  corporateForm
                    .get(section.formName)
                    .get(
                      section.formName == 'Representative Details'
                        ? 'representativeIdNumber'
                        : 'idNumber'
                    )?.value == '' ||
                  corporateForm
                    .get(section.formName)
                    .get(
                      section.formName == 'Representative Details'
                        ? 'representativeIdNumber'
                        : 'idNumber'
                    )?.value == null
                    ? 'Enter Id Number first'
                    : ''
                "
              >
                <div
                  class="file-upload-select"
                  [style.pointerEvents]="
                    corporateForm
                      .get(section.formName)
                      .get(
                        section.formName == 'Representative Details'
                          ? 'representativeIdNumber'
                          : 'idNumber'
                      )?.value == '' ||
                    corporateForm
                      .get(section.formName)
                      .get(
                        section.formName == 'Representative Details'
                          ? 'representativeIdNumber'
                          : 'idNumber'
                      )?.value == null
                      ? 'none'
                      : ''
                  "
                  (click)="inpFile.click()"
                >
                  <div class="file-select-name">
                    <input type="text" [formControlName]="field.name" />
                  </div>
                  <div class="file-select-button">
                    <i class="pi pi-upload"></i>
                  </div>
                  <input
                    #inpFile
                    (change)="
                      fileUploadChange(
                        $event,
                        section.formName,
                        field.name,
                        corporateForm
                          .get(section.formName)
                          .get(
                            section.formName == 'Representative Details'
                              ? 'representativeIdNumber'
                              : 'idNumber'
                          )?.value
                      )
                    "
                    type="file"
                    name="file-upload-input"
                    id="file-upload-input"
                    [disabled]="
                      corporateForm
                        .get(section.formName)
                        .get(
                          section.formName == 'Representative Details'
                            ? 'representativeIdNumber'
                            : 'idNumber'
                        )?.value == '' ||
                      corporateForm
                        .get(section.formName)
                        .get(
                          section.formName == 'Representative Details'
                            ? 'representativeIdNumber'
                            : 'idNumber'
                        )?.value == null ||
                      !field.enable
                    "
                  />
                </div>
              </div>

              <!-- need to update for multi-select case -->
              <select
                *ngSwitchCase="'multiselect'"
                multiple
                [formControlName]="field.name"
              >
                <option
                  *ngFor="let option of field.options"
                  [value]="option.value"
                >
                  {{ option.label }}
                </option>
              </select>
              <!-- need to update for multi-select case END -->
            </ng-container>
            <small
              *ngIf="
                submitted &&
                corporateForm.controls[section.formName]['controls'][field.name]
                  .errors?.required
              "
              class="p-error block"
              >{{ field.fieldLabel }} is required.</small
            >
            <small
              *ngIf="
                submitted &&
                corporateForm.controls[section.formName]['controls'][field.name]
                  .errors?.minlength
              "
              class="p-error block"
              >{{ field.fieldLabel }} must be {{ field.minLength }} characters
              long.</small
            >
            <small
              *ngIf="
                submitted &&
                corporateForm.controls[section.formName]['controls'][field.name]
                  .errors?.pattern
              "
              class="p-error block"
              >Improper {{ field.fieldLabel }} format.</small
            >
            <small
              *ngIf="
                submitted &&
                corporateForm.controls[section.formName]['controls'][field.name]
                  .errors?.maxlength
              "
              class="p-error block"
              >{{ field.fieldLabel }} must not exceed
              {{ field.maxLength }} characters.</small
            >
          </div>
        </ng-container>
        <div *ngIf="section.formName == 'KYC Doc Upload'">
          <button
            #addCriteriaBtn
            pButton
            pRipple
            style="position: static; left: 645px; font-size: 1.5rem"
            type="button"
            label="+"
            class="p-button-primary"
            (click)="addKyc()"
            [disabled]="
              corporateForm.get('KYC Doc Upload').get('idNumber').value == '' ||
              corporateForm.get('KYC Doc Upload').get('idNumber').value ==
                null ||
              corporateForm.get('KYC Doc Upload').get('documentType').value ==
                '' ||
              corporateForm.get('KYC Doc Upload').get('documentType').value ==
                null
            "
          ></button>
        </div>
        <div *ngIf="section.formName == 'Beneficial Owner Details'">
          <button
            #addCriteriaBtn
            pButton
            pRipple
            style="position: static; left: 645px; font-size: 1.5rem"
            type="button"
            label="+"
            class="p-button-primary"
            (click)="addBeneficial()"
            [disabled]="
              corporateForm.get('Beneficial Owner Details').get('idNumber')
                .value == '' ||
              corporateForm.get('Beneficial Owner Details').get('idNumber')
                .value == null ||
              corporateForm.get('Beneficial Owner Details').get('documentType')
                .value == '' ||
              corporateForm.get('Beneficial Owner Details').get('documentType')
                .value == null
            "
          ></button>
        </div>
        <div *ngIf="section.formName == 'Representative Details'">
          <button
            #addCriteriaBtn
            pButton
            pRipple
            style="position: static; left: 645px; font-size: 1.5rem"
            type="button"
            label="+"
            class="p-button-primary"
            (click)="addRepresentative()"
            [disabled]="
              corporateForm
                .get('Representative Details')
                .get('representativeIdNumber').value == '' ||
              corporateForm
                .get('Representative Details')
                .get('representativeIdNumber').value == null ||
              corporateForm
                .get('Representative Details')
                .get('representativeDocumentType').value == '' ||
              corporateForm
                .get('Representative Details')
                .get('representativeDocumentType').value == null
            "
          ></button>
        </div>
      </div>
    </p-panel>
    <p-panel
      *ngIf="!section.isVisible"
      [header]="section.formName"
      class="no-visible"
    >
      No Visible fields available.
    </p-panel>
  </ng-container>
  <div class="form-group btn-grp buttons-section">
    <button
      pButton
      pRipple
      type="button"
      label="Save"
      class="p-button-raised"
      (click)="onSubmit()"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      label="Reset"
      class="p-button-warning"
      (click)="onReset()"
    ></button>
  </div>
</form>
<div class="NorecordFound" *ngIf="noDataMsg">
  <div class="row">
    <div class="col-12"><img src="assets/noRecordFound.svg" /></div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>No Record Found.</p>
    </div>
  </div>
</div>

<p-confirmDialog
  key="resetCORWarning"
  class="confirm-popup"
  #cd
  [closable]="false"
>
  <p-footer>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Yes"
      (click)="cd.accept()"
    ></button>

    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="No"
      (click)="cd.reject()"
    ></button>
  </p-footer>
</p-confirmDialog>
<div>
  <p-dialog
    [(visible)]="clickforview"
    [modal]="true"
    [style]="{ width: '70vw', left: '50px' }"
    (onHide)="closeDialog()"
  >
    <ng-template pTemplate="header">
    </ng-template>
    <p-table
      [value]="customerDataForView"
      class="search-view-table"
      [rowHover]="true"
      [style]="{ width: '100%' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th>
          <th>Date of birth</th>
          <th>Country of birth</th>
          <th>Mobile Number</th>
          <th>Nationality</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.firstNamePersonalDetails }}</td>
          <td>{{ product.middleNamePersonalDetails }}</td>
          <td>{{ product.lastNamePersonalDetails }}</td>
          <td>{{ product.dateOfBirthPersonalDetails }}</td>
          <td>{{ product.countryOfBirthPersonalDetails }}</td>
          <td>{{ product.contactMobileNumber }}</td>
          <td>{{ product.nationalityPersonalDetails }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td>No Data found.</td>
        </tr>
      </ng-template>
    </p-table>
    <div class="p-field-checkbox" style="padding: 1rem;">
      <p-checkbox [(ngModel)]="checked" binary="true" inputId="binary"></p-checkbox>
      <label for="binary" style="position: relative;top: 4px;left: 10px;">I confirm that i have verified customer is not same</label>
  </div>
  <div class="customerViewBtn">
    <button
    type="button"
    pButton
    icon="pi pi-check"
    label="Continue"
    (click)="onCustomerSubmit()"
    [disabled]="checked == false"
  ></button>

  <button
    type="button"
    class="customerViewBtn2"
    pButton
    icon="pi pi-times"
    label="Canceal"
    (click)="onCustomerReject()"
  ></button>
  </div>
   
  </p-dialog>
</div>
