:host ::ng-deep .p-dropdown {
  width: 180px;
}

.btnRight {
  text-align: right;
}

.required {
  color: red;
}

label {
  font-size: 13px;
}
.custom-form ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  min-width: 100px;
}

.custom-form ::ng-deep .p-panel.p-component {
  margin-bottom: 15px;
}
.custom-form ::ng-deep .p-panel .p-panel-header {
  padding: 0.75rem 1.5rem 0 1rem;
  border-bottom: none;
}
.custom-form ::ng-deep .p-panel.p-component .p-panel-header {
  background: #fff;
}

.custom-form ::ng-deep .p-panel.p-component .p-panel-header .p-panel-title {
  font-weight: 500;
  color: var(--primary-color);
}
.custom-form ::ng-deep .p-panel.p-component .p-panel-content {
  padding: 0px 1.5rem 1rem 1.5rem;
}

.custom-form
  ::ng-deep
  p-panel.no-visible
  .p-panel.p-component
  .p-panel-content {
  padding: 0.75rem 1.5rem 1rem 1rem;
}

small.p-error {
  font-size: 10px;
}

.criteriaMap {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
}

.criteriaMap input::placeholder {
  color: #8a9099;
  font-size: 12px;
}
.criteriaMap input {
  width: 398px;
}
.criteriaMap p {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
}
.criteriaMap button {
  margin-left: 10px;
}

div.checkbox {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  align-items: center;
  // flex-basis: fit-content;
  gap: 15px;
}

div.btn-grp {
  position: absolute;
  top: 10px;
  right: 10px;
}

:host ::ng-deep .p-tabview .p-tabview-nav {
  background: transparent;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 20px;
}
:host ::ng-deep .p-tabview .p-tabview-nav .p-tabview-nav-link {
  color: #000;
  font-weight: 500;
  background: transparent;
  padding: 1.25rem 1.25rem 0.75rem 1rem;
  border: none;
}
:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: transparent;
  border: none;
  border-bottom: 5px solid var(--primary-color);
  color: var(--primary-color);
}
:host ::ng-deep .p-tabview .p-tabview-panels {
  background: transparent;
  padding: 0;
}
:host ::ng-deep .p-calendar {
  width: 180px;
}

:host ::ng-deep .p-button.p-button-icon-only {
  width: 2.5rem;
}

// fileupload
.file-upload {
  width: 180px;
}

.file-upload .file-upload-select {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  text-align: left;
  background: #f4f6fa;
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  padding: 0.5rem 0.75rem;
  height: 37px;
}
.file-upload .file-upload-select .file-select-button {
  background: #55c78a;
  position: absolute;
  right: 0;
  top: 0px;
  padding: 7px 12px;
  color: #ffffff;
}
.file-upload .file-upload-select .file-select-name {
  text-align: center;
  font-size: 12px;
  width: 128px;
}
.file-upload .file-upload-select .file-select-name input {
  width: 100%;
  border: none;
  background: transparent;
}
.file-upload .file-upload-select:hover .file-select-button {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.file-upload .file-upload-select input[type="file"] {
  display: none;
}
// fileupload end

.NorecordFound {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 60px;
}
.NorecordFound p {
  padding-bottom: 10px;
  font-weight: 500;
  color: rgb(0 0 0);
  font-size: 16px;
  line-height: 1px;
  font-family: "IBM Plex Sans", sans-serif;
}
.NorecordFound button {
  margin-bottom: 40px;
}

.NorecordFound img {
  width: 27%;
  margin-top: 70px;
}

.confirm-popup ::ng-deep .p-dialog-content .p-confirm-dialog-message {
  text-align: center;
}

.view-link {
  cursor: pointer;
  color: var(--primary-color) !important;
  text-decoration: underline;
}

.file-name {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90px;
}