.logos {
  background-image: url("../../assets/bg-image.svg");
  background-size: cover;
}

.form-style input {
  border: 0;
  height: 50px;
  border-radius: 0;
  border-bottom: 1px solid var(--surface-border);
}
.form-style input:focus {
  border-bottom: 1px solid #4759e4;
  box-shadow: none;
  outline: 0;
  background-color: var(--surface-border);
}
.sideline {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--surface-b);
}

button {
  height: 44px;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
}

a,
a:focus,
a:hover {
  color: #4759e4;
}

.form-style ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  border-color: #4759e4;
  background: #4759e4;
}

.sideline:before,
.sideline:after {
  content: "";
  border-top: 1px solid var(--surface-border);
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.sideline:after {
  margin: 0 0 0 20px;
}

.btn-primary {
  color: #fff;
  background-color: #4759e4;
  border-color: #4759e4;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
