<!-- <div class="container-fluid">
<div class="row mt-5 mt-5 pt-5">
   
    <div class="col-md-6 logos">
        <div class="mt-5 pt-5"><img src="../assets/logo.svg" alt=""></div>

    </div>
    <div class="col-md-6 d-flex">
        <div class="mt-5">
            <div class="login">
                <h1>Login</h1>
                <p>Weclome back! Please login to your account.</p>
            </div>

            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="Username" class="form-control" aria-describedby="emailHelp">

                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="Password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="row">
                    <div class="mb-3 form-check col"><input type="checkbox" class="col form-check-input"
                            id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>
                    <div class="col"><strong><a href="">
                                <p>Forgot Password?</p>
                            </a></strong></div>

                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
 </div>
</div> -->

<div class="container">
  <div class="row m-5 no-gutters shadow-lg">
    <div class="col-md-6 d-none d-md-block logos">
      <img
        src="../assets/logo.svg"
        class="img-fluid p-5 p-2"
        style="min-height: 100%"
      />
    </div>
    <div class="col-md-6 bg-white p-5">
      <h3 class="pb-3">Login</h3>
      <p>Welcome back! Please login to your account.</p>
      <div class="form-style">
        <form [formGroup]="loginForm">
          <div class="form-group pb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input
              formControlName="username"
              type="Username"
              placeholder="username"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group pb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              formControlName="password"
              autocomplete=""
              type="password"
              placeholder="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <input name="" type="checkbox" value="" />
              <span class="pl-4 font-weight-bold">Remember Me</span>
            </div>
            <div><a href="#">Forget Password?</a></div>
          </div>
          <div class="pb-2">
            <button
              type="submit"
              class="btn btn-primary w-100 font-weight-bold mt-2"
              (click)="onSubmit()"
            >
              Login
            </button>
          </div>
        </form>

        <div class="pt-4 text-center">New User? <a href="#">Sign Up</a></div>
      </div>
    </div>
  </div>
</div>
