<div class="visible-main-section">
  <div class="pagetitle">
    <div class="infoicon">
      <img height="22px" src="../assets/info.svg" alt="" />
      List of taxes.
    </div>
    <div class="addnew">
      <button
        pButton
        pRipple
        type="button"
        label="Add Tax"
        class="p-button-raised"
      ></button>
    </div>
  </div>
  <div class="ptable">
    <p-card class="p-col-12" *ngIf="!taxListingData">
      {{ "noDataMsg" }}
    </p-card>

    <p-table
      #dt
      [columns]="cols"
      [value]="taxListingData"
      [paginator]="true"
      [rows]="10"
      [loading]="loading"
      [resizableColumns]="true"
      columnResizeMode="fit"
      [rowHover]="true"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            *ngFor="let col of columns"
            pReorderableColumn
            [pSortableColumn]="col.field"
            pResizableColumn
            [style.width]="col.width"
          >
            {{ col.header }}
            <div
              (click)="$event.stopPropagation()"
              style="right: 35%"
              class="filter-icon"
            >
              <img
                height="12px"
                class="pi pi-filter criteriaSettingFilterIcon"
                (click)="toggleFilterVisibility(col.field)"
                [src]="
                  getSelectedFilterArr(col.field).length
                    ? '../assets/ActiveFilter.svg'
                    : '../assets/filter.svg'
                "
                alt=""
              />
              <p-multiSelect
                #ms
                [options]="fieldFilterOptions(col.field)"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="fieldFilterVisible(col.field)"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                [autoWidth]="false"
                (onChange)="
                  dt.filter($event.value, col.field, 'in');
                  setSelectedFilter(ms, col.field)
                "
                (onPanelHide)="toggleFilterVisibility(col.field)"
              >
              </p-multiSelect>
            </div>
          </th>
        </tr>
        <tr class="search-row">
          <th *ngFor="let col of cols">
            <span style="max-width: 100%" class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                class="table-search"
                placeholder="Search"
                (input)="dt.filter($event.target.value, col.field, 'contains')"
              />
            </span>
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowData
        let-columns="columns"
        let-index="rowIndex"
      >
        <tr [pReorderableRow]="index">
          <ng-container *ngFor="let col of columns; let i = index">
            <td *ngIf="i + 1 != columns.length">
              <div
                *ngIf="i != 0"
                style="display: inline-block"
                [ngClass]="objectKeys(rowData).length == 1 ? 'expandable' : ''"
              >
                {{ rowData[col["field"]] }}
              </div>
              <a
                *ngIf="i == 0"
                style="
                  text-decoration: underline !important;
                  color: rgb(36 85 207);
                  cursor: pointer;
                "
                >{{ rowData[col["field"]] }}</a
              >
            </td>

            <td
              *ngIf="i + 1 == columns.length"
              style="border: none; text-align: center"
            >
              <label
                *ngIf="objectKeys(rowData).length != 1"
                class="switch"
                style="border: none"
              >
                <input
                  #statusInp
                  type="checkbox"
                  [checked]="
                    rowData[col['field']] == 'Active' ||
                    rowData[col['field']] == 'A'
                      ? true
                      : false
                  "
                />
                <span class="slider round"></span>
              </label>
            </td>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">No Data found.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft" let-state>
        {{ state.page * state.rows + 1 }} -
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }}
      </ng-template>
    </p-table>
  </div>
</div>
