<div class="visible-main-section">
  <div class="pagetitle">
    <div class="infoicon">
      <i class="pi pi-info-circle"></i>
      List of taxes.
    </div>
    <div class="addnew">
      <button
        pButton
        pRipple
        type="button"
        label="Add New Tax"
        class="p-button-raised"
        (click)="addNewTaxPage()"
      ></button>
    </div>
  </div>
  <div class="ptable">
    <!-- <p-card class="p-col-12" *ngIf="!taxListingData">
      {{ "noDataMsg" }}
    </p-card> -->

    <p-table
      #dt
      [columns]="cols"
      [value]="taxListingData"
      [paginator]="true"
      [rows]="10"
      [loading]="loading"
      [resizableColumns]="true"
      columnResizeMode="fit"
      [rowHover]="true"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            *ngFor="let col of columns"
            pReorderableColumn
            [pSortableColumn]="col.field"
            pResizableColumn
            [style.width]="col.width"
          >
            {{ col.header }}
            <div (click)="$event.stopPropagation()" class="filter-icon">
              <i
                [ngStyle]="{
                  color: getSelectedFilterArr(col.field).length
                    ? 'var(--primary-color)'
                    : 'rgb(105 105 105)',
                  fontSize: '11px'
                }"
                class="pi pi-filter-fill"
                (click)="toggleFilterVisibility(col.field)"
              ></i>
              <p-multiSelect
                #ms
                [options]="fieldFilterOptions(col.field)"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="fieldFilterVisible(col.field)"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                [autoWidth]="false"
                (onChange)="
                  dt.filter($event.value, col.field, 'in');
                  setSelectedFilter(ms, col.field)
                "
                (onPanelHide)="hideFilterVisibility(col.field)"
              >
              </p-multiSelect>
            </div>
          </th>
        </tr>
        <tr class="search-row">
          <th *ngFor="let col of cols">
            <span style="max-width: 100%" class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                class="p-inputtext table-search"
                placeholder="Search"
                (input)="dt.filter($event.target.value, col.field, 'contains')"
              />
            </span>
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowData
        let-columns="columns"
        let-index="rowIndex"
      >
        <tr [pReorderableRow]="index">
          <ng-container *ngFor="let col of columns; let i = index">
            <td *ngIf="i + 1 != columns.length">
              <div
                *ngIf="i != 0 && i != 2"
                style="display: inline-block"
                [ngClass]="objectKeys(rowData).length == 1 ? 'expandable' : ''"
              >
                {{ rowData[col["field"]] }}
              </div>
              <a
                *ngIf="i == 0"
                style="text-decoration: underline !important"
                [ngStyle]="{
                  color: isLinked(rowData[col['field']])
                    ? '#f89406'
                    : 'var(--primary-color)',
                  fontSize: '11px',
                  cursor: 'pointer'
                }"
                [pTooltip]="'This Tax Setting is already in transaction state'"
                [tooltipDisabled]="!isLinked(rowData[col['field']])"
                >{{ rowData[col["field"]] }}</a
              >
              <span
                *ngIf="i == 2"
                [pTooltip]="rowData[col['field']].split(',').slice(3).join()"
                >{{ rowData[col["field"]].split(',').slice(0, 3).join() }}..</span>
            </td>

            <td
              *ngIf="i + 1 == columns.length"
              style="border: none; text-align: center"
            >
              <label
                *ngIf="objectKeys(rowData).length != 1"
                class="switch"
                style="border: none"
              >
                <input
                  #statusInp [value]="rowData[col['field']]"
                  type="checkbox"
                  (click)="confirmStatus($event, rowData['taxCode'], rowData[col['field']])"
                  [checked]="
                    rowData[col['field']] == 'Active' ||
                    rowData[col['field']] == 'A'
                      ? true
                      : false
                  "
                />
                <span class="slider round"></span>
              </label>
            </td>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="cols.length">{{ noDataMsg }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft" let-state>
        {{ state.page * state.rows + 1 }} -
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }}
      </ng-template>
    </p-table>
  </div>
</div>
<p-confirmDialog key="activeDeactiveStatus" class="session-confirm" #cd icon="pi pi-exclamation-triangle" [closable]="false">
  <p-footer>

    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Yes"
      (click)="cd.accept()"
    ></button>
    
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="No"
      (click)="cd.reject()"
    ></button>
  </p-footer>
</p-confirmDialog>