<div class="bank-routing-main">
    <div class="pagetitle">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">{{'Home.home' | translate}}</li>
            <li class="breadcrumb-item">{{ 'Home.Settings' | translate }}</li>
            <li class="breadcrumb-item">{{'Home.Module Settings' | translate}}</li>
            <li class="breadcrumb-item active" style="color: #2455cf;">{{'Bank-Routing.Bank Routing' | translate}}</li>
          </ol>
        </nav>
        <div class="addnew">
            <button pButton pRipple type="button" label="{{'Bank-Routing.Add New Route' | translate}}" class="p-button-raised"></button>
        </div>
    </div>
    <div class="ptable">        
        <p-table class="bank-routing-table" #dt [value]="bankRoutingData" sortMode="multiple" dataKey="id" [rows]="5"
        [rowsPerPageOptions]="[5,20,50]" [paginator]="true">
        <ng-template pTemplate="header">
            <tr>
                <th class="table-titles" [pSortableColumn]="'routeCode'">{{'Bank-Routing.Route Code' | translate}} <p-columnFilter type="text" field="routeCode" display="menu"></p-columnFilter> </th>
                <th class="table-titles" [pSortableColumn]="'country'">{{'Bank-Routing.Country' | translate}} </th>
                <th class="table-titles" [pSortableColumn]="'routeBankName'">{{'Bank-Routing.Route Bank Name' | translate}} </th>
                <th class="table-titles" [pSortableColumn]="'serviceCategoryFrom'">{{'Bank-Routing.Service Category' | translate}} </th>
                <th class="table-titles" [pSortableColumn]="'serviceTypeFrom'">{{'Bank-Routing.Service Type' | translate}} </th>
                <th class="table-titles" [pSortableColumn]="'isCorrespondent'">{{'Bank-Routing.Is Correspondent' | translate}} </th>
                <th class="table-titles" [pSortableColumn]="'routeTo'">{{'Bank-Routing.Route To' | translate}} </th>
                <th class="table-titles" [pSortableColumn]="'serviceCategoryTo'">{{'Bank-Routing.Service Category' | translate}} </th>
                <th class="table-titles" [pSortableColumn]="'serviceTypeTo'">{{'Bank-Routing.Service Type' | translate}} </th>
                <th class="table-titles" [pSortableColumn]="'status'">{{'Bank-Routing.Status' | translate}} </th>
            </tr>
            <tr class="header-group-br">
                <th style="text-align: center;" colspan="6">Route From Bank Details</th>
                <th style="text-align: center;" colspan="4">Route To Bank Details</th>
            </tr>
            <tr class="search-row">
                <th >
                    <input pInputText [classList]="'table-search'"  type="text" (input)="dt.filter($event.target.value, 'routeCode', 'contains')" placeholder="Search.." class="p-column-filter" >
                </th>
                <th >
                    <input pInputText [classList]="'table-search'"  type="text" (input)="dt.filter($event.target.value, 'country', 'contains')" placeholder="Search.." class="p-column-filter" >
                </th>
                <th >
                    <input pInputText [classList]="'table-search'"  type="text" (input)="dt.filter($event.target.value, 'routeBankName', 'contains')" placeholder="Search.." class="p-column-filter" >
                </th>
                <th  style="padding: 8px;">
                    <input pInputText [classList]="'table-search'" placeholder="Search.." type="text" (input)="dt.filter($any($event.target).value, 'serviceCategoryFrom', 'contains')">
                  </th>
                <th  style="padding: 8px;">
                    <input pInputText [classList]="'table-search'" placeholder="Search.." type="text" (input)="dt.filter($any($event.target).value, 'serviceTypeFrom', 'contains')">
                  </th>
                <th  style="padding: 8px;">
                    <input pInputText [classList]="'table-search'" placeholder="Search.." type="text" (input)="dt.filter($any($event.target).value, 'isCorrespondent', 'contains')">
                  </th>
                <th  style="padding: 8px;">
                    <input pInputText [classList]="'table-search'" placeholder="Search.." type="text" (input)="dt.filter($any($event.target).value, 'routeTo', 'contains')">
                  </th>
                <th  style="padding: 8px;">
                    <input pInputText [classList]="'table-search'" placeholder="Search.." type="text" (input)="dt.filter($any($event.target).value, 'serviceCategoryTo', 'contains')">
                  </th>
                <th  style="padding: 8px;">
                    <input pInputText [classList]="'table-search'" placeholder="Search.." type="text" (input)="dt.filter($any($event.target).value, 'serviceTypeTo', 'contains')">
                  </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bankRouting>
            <tr>
                <td style="font-size: 12px;border: none; border-bottom: none; padding-bottom: 15px;cursor: pointer;color:#2455cf ;">
                    <a (click)="viewBankRouting(bankRouting)">{{bankRouting.routeCode}}</a>
                </td>
                <td style="font-size: 12px;border: none; border-bottom: none; padding-bottom: 15px; font-weight: bold;">
                    <span class="image-text">{{bankRouting.country}}</span>
                </td>
                <td style="font-size: 12px;border: none; border-bottom: none; padding-bottom: 15px; font-weight: bold;">
                    <span class="image-text">{{bankRouting.routeBankName}}</span>
                </td>
                <td style="font-size: 12px;border: none; border-bottom: none; padding-bottom: 15px; font-weight: bold;">
                    <span class="image-text">{{bankRouting.serviceCategoryFrom}}</span>
                </td>
                <td style="font-size: 12px;border: none; border-bottom: none; padding-bottom: 15px; font-weight: bold;">
                    <span class="image-text">{{bankRouting.serviceTypeFrom}}</span>
                </td>
                <td style="font-size: 12px;border: none; border-bottom: none; padding-bottom: 15px; font-weight: bold;">
                    <span class="image-text">{{bankRouting.isCorrespondent}}</span>
                </td>
                <td style="font-size: 12px;border: none; border-bottom: none; padding-bottom: 15px; font-weight: bold;">
                    <span class="image-text">{{bankRouting.routeTo}}</span>
                </td>
                <td style="font-size: 12px;border: none; border-bottom: none; padding-bottom: 15px; font-weight: bold;">
                    <span class="image-text">{{bankRouting.serviceCategoryTo}}</span>
                </td>
                <td style="font-size: 12px;border: none; border-bottom: none; padding-bottom: 15px; font-weight: bold;">
                    <span class="image-text">{{bankRouting.serviceTypeTo}}</span>
                </td>
                <td style="border: none;">
                    <label class="switch" style="border: none;">
                      <input type="checkbox" checked>
                      <span class="slider round"></span>
                    </label>
                  </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No Data found.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft" let-state>
            {{(state.page  * state.rows) + 1}} - {{state.rows * (state.page + 1) > state.totalRecords ? state.totalRecords : state.rows * (state.page + 1)}} of {{state.totalRecords}}
      </ng-template>
    </p-table>
    </div>

</div>