<p-blockUI [styleClass]="'p-blockui-document'" [blocked]="blocked"></p-blockUI>
<router-outlet></router-outlet>

<p-confirmDialog key="sessionConfirm" class="session-confirm" #cd icon="pi pi-exclamation-triangle" [closable]="false">
  <p-footer>
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="Logout"
      (click)="cd.reject()"
    ></button>

    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Continue"
      (click)="cd.accept()"
    ></button>
  </p-footer>
</p-confirmDialog>
