.session-confirm ::ng-deep .p-dialog-header {
  display: none;
}
.session-confirm ::ng-deep .p-dialog-mask {
  z-index: 999999 !important;
}
.session-confirm ::ng-deep .p-confirm-dialog {
  border-radius: 15px;
}
.session-confirm ::ng-deep .p-dialog-content {
  flex-direction: column;
  padding: 1rem 3rem !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  gap: 10px;
}
.session-confirm ::ng-deep .p-dialog-content .p-confirm-dialog-icon {
  font-size: 4rem;
}
.session-confirm ::ng-deep .p-dialog-content .p-confirm-dialog-message {
  font-size: 16px;
  font-weight: 500;
  margin-left: 0;
}
.session-confirm ::ng-deep .p-dialog-footer {
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.session-confirm ::ng-deep .p-dialog-footer button {
  margin: 0 0.5rem;
  width: 110px !important;
  font-weight: 500;
  font-size: 14px;
}
.session-confirm ::ng-deep .p-dialog-footer button .p-button-icon {
  display: none;
}
