<div class="visible-main-section">
  <div class="pagetitle">
    <div class="infoicon">
      <img src="../assets/info.svg" alt="" />
      Saved routes will be shown below.
    </div>
    <div class="addnew">
      <button
        pButton
        pRipple
        type="button"
        (click)="addNewRoutePage()"
        label="{{ 'Bank-Routing.Add New Route' | translate }}"
        class="p-button-raised"
      ></button>
    </div>
  </div>
  <div class="ptable">
    <p-card class="p-col-12" *ngIf="!bankRoutingData">
      {{ noDataMsg }}
    </p-card>
    <p-table
      *ngIf="bankRoutingData"
      class="bank-routing-table"
      #dt
      [value]="bankRoutingData"
      sortMode="multiple"
      dataKey="id"
      [rows]="10"
      [paginator]="true"
      [rowHover]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th
            class="table-titles"
            [pSortableColumn]="'routeCode'"
            style="width: 9%"
          >
            {{ "Bank-Routing.Route Code" | translate }}
            <div (click)="$event.stopPropagation()" class="filter-icon">
              <img
                height="13px"
                id="rou"
                class="pi pi-filter bankRoutingFilterIcon"
                (click)="showRouteCodesOptions = !showRouteCodesOptions"
                src="../assets/filter.svg"
                alt=""
              />
              <p-multiSelect
                #ms1
                [options]="routeCodes"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="showRouteCodesOptions"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                (onChange)="dt.filter($event.value, 'routeCode', 'in')"
                [(ngModel)]="selectedFilterRoutes"
                (onPanelHide)="showRouteCodesOptions = !showRouteCodesOptions"
              >
                <!-- <p-footer>
                  <div class="flex justify-content-end p-1 filter-footer">
                    <button
                      pButton
                      type="button"
                      label="Filter"
                      class="filter-btn"
                    ></button>
                    <button
                      pButton
                      type="button"
                      label="Clear"
                      class="clear-btn"
                      (click)="clearSelectedFilterRoutes()"
                    ></button>
                  </div>
                </p-footer> -->
              </p-multiSelect>
            </div>
          </th>
          <th
            class="table-titles"
            [pSortableColumn]="'country'"
            style="width: 8.5%"
          >
            {{ "Bank-Routing.Country" | translate }}
            <div (click)="$event.stopPropagation()" class="filter-icon">
              <img
                height="12px"
                id="cou"
                class="pi pi-filter bankRoutingFilterIcon"
                (click)="showCountriesOptions = !showCountriesOptions"
                src="../assets/filter.svg"
                alt=""
              />
              <p-multiSelect
                #ms1
                [options]="countries"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="showCountriesOptions"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                (onChange)="dt.filter($event.value, 'country', 'in')"
                (onPanelHide)="showCountriesOptions = !showCountriesOptions"
              ></p-multiSelect>
            </div>
          </th>
          <th
            class="table-titles"
            [pSortableColumn]="'routeBankName'"
            style="width: 12%"
          >
            {{ "Bank-Routing.Route Bank Name" | translate }}
            <div (click)="$event.stopPropagation()" class="filter-icon">
              <img
                height="12px"
                class="pi pi-filter bankRoutingFilterIcon"
                (click)="showRouteBankNamesOptions = !showRouteBankNamesOptions"
                src="../assets/filter.svg"
                alt=""
              />
              <p-multiSelect
                #ms1
                [options]="routeBankNames"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="showRouteBankNamesOptions"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                (onChange)="dt.filter($event.value, 'routeBankName', 'in')"
                (onPanelHide)="
                  showRouteBankNamesOptions = !showRouteBankNamesOptions
                "
              ></p-multiSelect>
            </div>
          </th>
          <th
            class="table-titles"
            [pSortableColumn]="'routeServiceCategory'"
            style="width: 11.5%"
          >
            {{ "Bank-Routing.Service Category" | translate }}
            <div (click)="$event.stopPropagation()" class="filter-icon">
              <img
                height="12px"
                class="pi pi-filter bankRoutingFilterIcon"
                (click)="
                  showRouteServiceCategoriesOptions =
                    !showRouteServiceCategoriesOptions
                "
                src="../assets/filter.svg"
                alt=""
              />
              <p-multiSelect
                #ms1
                [options]="routeServiceCategories"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="showRouteServiceCategoriesOptions"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                (onChange)="
                  dt.filter($event.value, 'routeServiceCategory', 'in')
                "
                (onPanelHide)="
                  showRouteServiceCategoriesOptions =
                    !showRouteServiceCategoriesOptions
                "
              ></p-multiSelect>
            </div>
          </th>
          <th
            class="table-titles"
            [pSortableColumn]="'routeServiceType'"
            style="width: 9.5%"
          >
            {{ "Bank-Routing.Service Type" | translate }}
            <div (click)="$event.stopPropagation()" class="filter-icon">
              <img
                height="12px"
                class="pi pi-filter bankRoutingFilterIcon"
                (click)="
                  showRouteServiceTypesOptions = !showRouteServiceTypesOptions
                "
                src="../assets/filter.svg"
                alt=""
              />
              <p-multiSelect
                #ms1
                [options]="routeServiceTypes"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="showRouteServiceTypesOptions"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                (onChange)="dt.filter($event.value, 'routeServiceType', 'in')"
                (onPanelHide)="
                  showRouteServiceTypesOptions = !showRouteServiceTypesOptions
                "
              ></p-multiSelect>
            </div>
          </th>
          <th
            class="table-titles"
            [pSortableColumn]="'iSCorrespondent'"
            style="width: 12%"
          >
            {{ "Bank-Routing.Is Correspondent" | translate }}
            <div (click)="$event.stopPropagation()" class="filter-icon">
              <img
                height="12px"
                class="pi pi-filter bankRoutingFilterIcon"
                (click)="
                  showISCorrespondentsOptions = !showISCorrespondentsOptions
                "
                src="../assets/filter.svg"
                alt=""
              />
              <p-multiSelect
                #ms1
                [options]="iSCorrespondents"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="showISCorrespondentsOptions"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                (onChange)="dt.filter($event.value, 'iSCorrespondent', 'in')"
                (onPanelHide)="
                  showISCorrespondentsOptions = !showISCorrespondentsOptions
                "
              ></p-multiSelect>
            </div>
          </th>
          <th
            class="table-titles"
            [pSortableColumn]="'routeToBankName'"
            style="width: 8.5%"
          >
            {{ "Bank-Routing.Route To" | translate }}
            <div (click)="$event.stopPropagation()" class="filter-icon">
              <img
                height="12px"
                class="pi pi-filter bankRoutingFilterIcon"
                (click)="
                  showRouteToBankNamesOptions = !showRouteToBankNamesOptions
                "
                src="../assets/filter.svg"
                alt=""
              />
              <p-multiSelect
                #ms1
                [options]="routeToBankNames"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="showRouteToBankNamesOptions"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                (onChange)="dt.filter($event.value, 'routeToBankName', 'in')"
                (onPanelHide)="
                  showRouteToBankNamesOptions = !showRouteToBankNamesOptions
                "
              ></p-multiSelect>
            </div>
          </th>
          <th
            class="table-titles"
            [pSortableColumn]="'routeToServiceCategory'"
            style="width: 11.5%"
          >
            {{ "Bank-Routing.Service Category" | translate }}
            <div (click)="$event.stopPropagation()" class="filter-icon">
              <img
                height="12px"
                class="pi pi-filter bankRoutingFilterIcon"
                (click)="
                  showRouteToServiceCategoriesOptions =
                    !showRouteToServiceCategoriesOptions
                "
                src="../assets/filter.svg"
                alt=""
              />
              <p-multiSelect
                #ms1
                [options]="routeToServiceCategories"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="showRouteToServiceCategoriesOptions"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                (onChange)="
                  dt.filter($event.value, 'routeToServiceCategory', 'in')
                "
                (onPanelHide)="
                  showRouteToServiceCategoriesOptions =
                    !showRouteToServiceCategoriesOptions
                "
              ></p-multiSelect>
            </div>
          </th>
          <th
            class="table-titles"
            [pSortableColumn]="'routeToServiceType'"
            style="width: 10%"
          >
            {{ "Bank-Routing.Service Type" | translate }}
            <div (click)="$event.stopPropagation()" class="filter-icon">
              <img
                height="12px"
                class="pi pi-filter bankRoutingFilterIcon"
                (click)="
                  showRouteToServiceTypesOptions =
                    !showRouteToServiceTypesOptions
                "
                src="../assets/filter.svg"
                alt=""
              />
              <p-multiSelect
                #ms1
                [options]="routeToServiceTypes"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="showRouteToServiceTypesOptions"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                (onChange)="dt.filter($event.value, 'routeToServiceType', 'in')"
                (onPanelHide)="
                  showRouteToServiceTypesOptions =
                    !showRouteToServiceTypesOptions
                "
              ></p-multiSelect>
            </div>
          </th>
          <th
            class="table-titles"
            style="text-align: center; width: 7.5%"
            [pSortableColumn]="'status'"
          >
            {{ "Bank-Routing.Status" | translate }}
            <div
              (click)="$event.stopPropagation()"
              class="filter-icon"
              style="right: 8%"
            >
              <img
                height="12px"
                class="pi pi-filter bankRoutingFilterIcon"
                (click)="showStatusesOptions = !showStatusesOptions"
                src="../assets/filter.svg"
                alt=""
              />
              <p-multiSelect
                #ms1
                [options]="statuses"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="showStatusesOptions"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                (onChange)="dt.filter($event.value, 'status', 'in')"
                (onPanelHide)="showStatusesOptions = !showStatusesOptions"
              ></p-multiSelect>
            </div>
          </th>
        </tr>
        <tr class="search-row">
          <th style="padding: 8px 0px 8px 1rem">
            <span style="max-width: 100%" class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                [classList]="'table-search'"
                placeholder="Search"
                (input)="
                  dt.filter($any($event.target).value, 'routeCode', 'contains')
                "
              />
            </span>
          </th>
          <th style="padding: 8px 0px 8px 1rem">
            <span style="max-width: 100%" class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                [classList]="'table-search'"
                placeholder="Search"
                (input)="
                  dt.filter($any($event.target).value, 'country', 'contains')
                "
              />
            </span>
          </th>
          <th style="padding: 8px 0px 8px 1rem">
            <span style="max-width: 100%" class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                [classList]="'table-search'"
                placeholder="Search"
                (input)="
                  dt.filter(
                    $any($event.target).value,
                    'routeBankName',
                    'contains'
                  )
                "
              />
            </span>
          </th>
          <th style="padding: 8px 0px 8px 1rem">
            <span style="max-width: 100%" class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                [classList]="'table-search'"
                placeholder="Search"
                (input)="
                  dt.filter(
                    $any($event.target).value,
                    'routeServiceCategory',
                    'contains'
                  )
                "
              />
            </span>
          </th>
          <th style="padding: 8px 0px 8px 1rem">
            <span style="max-width: 100%" class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                [classList]="'table-search'"
                placeholder="Search"
                (input)="
                  dt.filter(
                    $any($event.target).value,
                    'routeServiceType',
                    'contains'
                  )
                "
              />
            </span>
          </th>
          <th style="padding: 8px 0px 8px 1rem">
            <span style="max-width: 100%" class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                [classList]="'table-search'"
                placeholder="Search"
                (input)="
                  dt.filter(
                    $any($event.target).value,
                    'iSCorrespondent',
                    'contains'
                  )
                "
              />
            </span>
          </th>
          <th style="padding: 8px 0px 8px 1rem">
            <span style="max-width: 100%" class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                [classList]="'table-search'"
                placeholder="Search"
                (input)="
                  dt.filter(
                    $any($event.target).value,
                    'routeToBankName',
                    'contains'
                  )
                "
              />
            </span>
          </th>
          <th style="padding: 8px 0px 8px 1rem">
            <span style="max-width: 100%" class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                [classList]="'table-search'"
                placeholder="Search"
                (input)="
                  dt.filter(
                    $any($event.target).value,
                    'routeToServiceCategory',
                    'contains'
                  )
                "
              />
            </span>
          </th>
          <th style="padding: 8px 0px 8px 1rem">
            <span style="max-width: 100%" class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                [classList]="'table-search'"
                placeholder="Search"
                (input)="
                  dt.filter(
                    $any($event.target).value,
                    'routeToServiceType',
                    'contains'
                  )
                "
              />
            </span>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bankRouting>
        <tr>
          <td
            style="
              font-size: 12px;
              border: none;
              padding-bottom: 14px;
              cursor: pointer;
              color: #2455cf;
            "
          >
            <a
              style="text-decoration: underline !important"
              (click)="viewBankRouting(bankRouting)"
              >{{ bankRouting.routeCode }}</a
            >
          </td>
          <td
            style="
              font-size: 12px;
              border: none;
              border-bottom: none;
              padding-bottom: 14px;
            "
          >
            <span class="image-text">{{ bankRouting.country }}</span>
          </td>
          <td
            style="
              font-size: 12px;
              border: none;
              border-bottom: none;
              padding-bottom: 14px;
            "
          >
            <span class="image-text">{{ bankRouting.routeBankName }}</span>
          </td>
          <td
            style="
              font-size: 12px;
              border: none;
              border-bottom: none;
              padding-bottom: 14px;
            "
          >
            <span class="image-text">{{
              bankRouting.routeServiceCategory
            }}</span>
          </td>
          <td
            style="
              font-size: 12px;
              border: none;
              border-bottom: none;
              padding-bottom: 14px;
            "
          >
            <span class="image-text">{{ bankRouting.routeServiceType }}</span>
          </td>
          <td
            style="
              font-size: 12px;
              border: none;
              border-bottom: none;
              padding-bottom: 14px;
            "
          >
            <span class="image-text">{{ bankRouting.iSCorrespondent }}</span>
          </td>
          <td
            style="
              font-size: 12px;
              border: none;
              border-bottom: none;
              padding-bottom: 14px;
            "
          >
            <span class="image-text">{{ bankRouting.routeToBankName }}</span>
          </td>
          <td
            style="
              font-size: 12px;
              border: none;
              border-bottom: none;
              padding-bottom: 14px;
            "
          >
            <span class="image-text">{{
              bankRouting.routeToServiceCategory
            }}</span>
          </td>
          <td
            style="
              font-size: 12px;
              border: none;
              border-bottom: none;
              padding-bottom: 14px;
            "
          >
            <span class="image-text">{{ bankRouting.routeToServiceType }}</span>
          </td>
          <td style="border: none; text-align: center">
            <label class="switch" style="border: none">
              <!-- (click)="updateStatus($event, bankRouting.routeCode)" -->
              <input
                #statusInp
                type="checkbox"
                [checked]="
                  bankRouting.status == 'Active' || bankRouting.status == 'A'
                    ? true
                    : false
                "
              />
              <span class="slider round"></span>
            </label>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4" style="font-weight: 400; font-size: 14px">
            No Data found.
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft" let-state>
        {{ state.page * state.rows + 1 }} -
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }}
      </ng-template>
    </p-table>
  </div>
</div>
