.bank-routing-table::ng-deep .p-datatable .p-datatable-thead {
  width: 100%;
}
.bank-routing-table::ng-deep .p-datatable .p-datatable-thead > tr {
  width: 100%;
}

.table-search {
  background-color: #f4f6fa;
  height: 35px;
  border: none;
  font-size: 12px;
  max-width: 96%;
}
.search-row {
  border-bottom: 1px solid #e9ecef;
}

.search-row th {
  background-color: #fff !important;
}

.bank-routing-main::-webkit-scrollbar {
  height: 5px;
  background-color: #fff;
}
.bank-routing-main::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}
.bank-routing-main .ptable {
  min-width: 976px;
}

.bank-routing-table th {
  position: relative;
}

.p-inputtext::placeholder {
  color: rgb(138 144 153);
  font-family: "IBM Plex Sans", sans-serif !important;
  opacity: 0.5;
  font-weight: 500;
}

.p-input-icon-left > .p-inputtext {
  padding-left: 1.7rem;
  font-size: 11px !important;
}

.p-input-icon-left > i:first-of-type {
  left: 0.5rem;
  color: rgb(138 144 153);
  font-size: 0.8rem;
  margin-top: -0.3rem;
}

.bankRoutingFilterIcon {
  font-size: 11px;
  color: rgb(138 144 153);
}
.bankRoutingFilterIcon:hover {
  color: #2455cf;
}

:host ::ng-deep .bank-routing-table .p-multiselect-trigger,
:host ::ng-deep .bank-routing-table .p-multiselect-label-container {
  display: none;
}

:host
  ::ng-deep
  .bank-routing-table
  .p-datatable
  .p-sortable-column.p-highlight {
  color: #495057;
}
:host ::ng-deep .bank-routing-table .p-datatable .p-component {
  font-size: 14px;
}

:host ::ng-deep .bank-routing-table .p-datatable .p-checkbox {
  width: 20px;
  height: 18px;
}
:host ::ng-deep .bank-routing-table .p-datatable .p-checkbox-box {
  width: 18px;
  height: 18px;
}

/* :host ::ng-deep .bank-routing-table .p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 0.5rem 1rem;
  background: rgb(234 237 244);
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: rgb(68 68 68) !important;
  font-size: 12px !important;
} */

.filter-footer {
  background-color: rgb(244 246 250) !important;
}
.filter-footer button {
  background: none !important;
  border-color: transparent !important;
}
.filter-footer button.filter-btn {
  color: rgb(36 85 207) !important;
}
.filter-footer button.clear-btn {
  color: rgb(138 144 153) !important;
}
:host ::ng-deep .bank-routing-table .p-datatable .p-datatable-thead tr {
  height: 55px;
}
:host ::ng-deep .bank-routing-table .p-datatable .p-datatable-tbody tr td {
  padding: 0.47rem 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: rgb(0 0 0);
}
.filter-icon {
  position: absolute;
  right: 3%;
  top: 30%;
}
.infoicon {
  font-size: 12px;
  width: 50%;
  height: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
  letter-spacing: 0;
  text-align: left;
  color: #444444;
  display: flex;
  align-items: center;
}
.infoicon img {
  margin-right: 5px;
  height: 18px !important;
}
