<div class="visible-main-section">
  <div class="pagetitle">
    <div class="infoicon">
      <img src="../assets/info.svg" alt="" />
      Saved routes will be shown below.
    </div>
    <div class="addnew">
      <button
        pButton
        pRipple
        type="button"
        (click)="addNewRoutePage()"
        label="Add New Route"
        class="p-button-raised"
      ></button>
    </div>
  </div>
  <div class="ptable">
    <p-card class="p-col-12" *ngIf="!bankRoutesGroups">
      {{ noDataMsg }}
    </p-card>
    <p-treeTable
      #tt
      [value]="files1"
      [columns]="cols"
      styleClass="p-treetable-sm"
      sortMode="multiple"
      [rows]="10"
      [paginator]="true"
      [rowHover]="true"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [ttSortableColumn]="col.field">
            {{ col.header }}
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of cols">
            <span style="max-width: 100%" class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                class="table-search"
                placeholder="Search"
                (input)="
                  tt.filter($event.target.value, col.field, col.filterMatchMode)
                "
              />
            </span>
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowNode
        let-rowData="rowData"
        let-columns="columns"
      >
        <tr
          [ngStyle]="{
            border: objectKeys(rowData).length == 1 ? '1px solid #e9ecef' : ''
          }"
        >
          <ng-container *ngFor="let col of columns; let i = index">
            <td *ngIf="i + 1 != columns.length">
              <p-treeTableToggler
                [rowNode]="rowNode"
                *ngIf="objectKeys(rowData).length == 1 && i == 0"
                class="group-row"
              ></p-treeTableToggler>
              <div
                *ngIf="!(objectKeys(rowData).length > 1 && i == 0)"
                style="display: inline-block"
                [ngClass]="objectKeys(rowData).length == 1 ? 'expandable' : ''"
              >
                {{ rowData[col["field"]] }}
              </div>
              <a
                *ngIf="objectKeys(rowData).length > 1 && i == 0"
                style="
                  text-decoration: underline !important;
                  margin-left: 42px;
                  color: rgb(36 85 207);
                "
                (click)="viewBankRouting(rowData)"
                >{{ rowData[col["field"]] }}</a
              >
            </td>
            <td
              *ngIf="i + 1 == columns.length"
              style="border: none; text-align: center"
            >
              <label
                *ngIf="objectKeys(rowData).length != 1"
                class="switch"
                style="border: none"
              >
                <input
                  #statusInp
                  type="checkbox"
                  (click)="updateStatus($event, rowData['routeCode'])"
                  [checked]="
                    rowData[col['field']] == 'Active' ||
                    rowData[col['field']] == 'A'
                      ? true
                      : false
                  "
                />
                <span class="slider round"></span>
              </label>
            </td>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4" style="font-weight: 400; font-size: 14px">
            No Data found.
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft" let-state>
        {{ state.page * state.rows + 1 }} -
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }}
      </ng-template>
    </p-treeTable>
  </div>
</div>
