.ruleDesc input::placeholder {
  color: #8a9099;
  font-size: 12px;
}
.ruleDesc input {
  width: 398px;
}
p {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  gap: 17px;
}
button {
  margin-left: 10px;
}

.details-page-card {
  padding: 10px;
}
