.add-new-route-main {
  padding-left: 20px;
}
.buttons-section {
  display: flex;
}
button {
  margin-left: 8px;
}
.clickcriteria {
  display: flex;
  float: right;
}
.pagetitle {
  margin-top: 85px;
}
p-dropdown .p-dropdown {
  width: 100%;
}

::ng-deep .p-button-primary plus {
  width: 40px;
  height: 25px;
}
.criteria-main-section {
  border: 0.5px solid#eaedf4;
  margin-bottom: 20px;
  padding: 20px 0;
  margin: 0 15px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 5px;
}
.applicable-Routes {
  border: 0.5px solid#eaedf4;
  margin-bottom: 20px;
  padding: 10px 0;
  margin: 0 15px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 5px;
}
.applicable-Routes-section {
  margin-bottom: 10px;
  padding: 10px 5px;
  margin: 0 15px;
  background-color: #ffffff;
  margin-top: 5px;
}

.templates-dropdown::ng-deep .p-dropdown-label {
  padding-right: 0;
}

.criteria-bar {
  display: flex;
  padding: 0 1rem;
}

.setCriteria {
  color: rgb(36 85 207);
  font-size: 14px;
  font-weight: 500;
  width: 55%;
  cursor: pointer;
}

.openCriteria {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  font-size: 14px;
}

.openCriteria a {
  color: rgb(36 85 207);
  border-bottom: 1px solid rgb(36 85 207);
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}

.description-text {
  width: 560px;
  height: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0;
  text-align: left;
  color: #444444;
}

.dropdowns-select-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.criteria-span {
  color: black;
  background-color: #eaedf4;
  padding: 7px;
  font-size: 0.7rem;
  font-weight: 500;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 8px;
  cursor: pointer;
}

.left-dropdowns {
  width: 80%;
  display: flex;
  align-items: center;
  position: relative;
}

.right-select {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

:host ::ng-deep .p-datatable .p-datatable-thead tr th {
  background: rgb(234 237 244);
  color: #8a9099;
  font-size: 12px;
}
:host ::ng-deep .p-datatable .p-datatable-tbody tr td {
  border: 0px !important;
  border-width: 0px !important ;
}
::ng-deep .p-datatable.p-component {
  font-size: 13px !important;
}
::ng-deep
  .p-datatable
  .form-select
  .ng-pristine
  .ng-valid
  .ng-star-inserted
  .ng-touched {
  font-size: 13px !important;
}
