<div class="pagetitle">
  <nav>
    <ol class="breadcrumb"></ol>
  </nav>
</div>
<div class="py-3" style="background-color: #ffffff; border-radius: 10px">
  <div class="d-flex mx-3" style="justify-content: space-between">
    <p class="description-text">
      <img height="35px" src="../assets/description.svg" alt="" />
      Based on the critetria selected banks will be routed to preferred routing
      bank
    </p>
    <div class="buttons-section">
      <button
        pButton
        pRipple
        type="button"
        [disabled]="!bankRoutesData || !bankRoutesData.length"
        label="Save"
        class="p-button-raised"
        (click)="saveAddNewRoute('save')"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        [disabled]="!bankRoutesData.length"
        label="Save & Add New"
        class="p-button-raised"
        (click)="saveAddNewRoute('saveAndAddNew')"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        [disabled]="!bankRoutesData.length"
        label="Reset"
        class="p-button-warning"
        style="background: rgb(250 165 52)"
        (click)="reset()"
      ></button>
    </div>
  </div>
 
  <div class="criteria-main-section">
    <div class="criteria-bar">
      <p class="setCriteria">Set Criteria <img height="15px" src="../assets/Icon-info.svg" alt="" /></p>
      <div class="openCriteria">
        <p *ngIf="savedLcySlabs">
          <a (click)="showTransCriteriaModal()">LCY Amount Slab</a>
        </p>
        <p class="clickcriteria">
          <a (click)="openClickForSave()"
            >Click to save this Criteria as a template</a
          >
        </p>
      </div>
    </div>
    <p-dialog [(visible)]="clickforsave" [style]="{ width: '30vw' }">
      <ng-template pTemplate="header"> Save Template </ng-template>
      <p>Name</p>
      <input type="text" class="form-control" [(ngModel)]="criteriaName" />
      <ng-template pTemplate="footer" style="text-align: center">
        <button
          pButton
          pRipple
          type="button"
          label="Save"
          (click)="saveCriteriaAsTemplate()"
          class="p-button-raised"
        ></button>
      </ng-template>
    </p-dialog>

    <div class="dropdowns-select-container mb-3">
      <div [formGroup]="selectCriteriaForm" class="left-dropdowns">
        <p-dropdown
          class="mr-3"
          [options]="criteriaMapDdlOptions"
          optionLabel="name"
          optionValue="code"
          placeholder="Select a Criteria"
          (onChange)="onChange('criteria', $event.value)"
          formControlName="criteria"
        ></p-dropdown>

        <p-dropdown
          class="mr-3"
          [options]="criteriaEqualsDdlOptions"
          optionLabel="name"
          optionValue="code"
          placeholder="Select a Operation"
          (onChange)="onChange('condition', $event.value)"
          formControlName="operation"
        ></p-dropdown>

        <p-dropdown
          *ngIf="!hideValuesDropdown"
          class="mr-1"
          [options]="correspondentDdlOptions"
          optionLabel="name"
          optionValue="code"
          placeholder="Select a Value"
          (onChange)="onChange('val', $event.value)"
          formControlName="value"
        ></p-dropdown>
        <button
          #addCriteriaBtn
          pButton
          pRipple
          style="position: absolute; left: 515px; width: 35px"
          type="button"
          label="+"
          class="p-button-primary"
          [disabled]="!selectCriteriaForm.valid"
          (click)="addCriteriaMap()"
        ></button>
        <button
          pButton
          pRipple
          style="position: absolute; left: 562px"
          type="button"
          label="Apply Criteria"
          class="p-button-raised"
          [disabled]="!criteriaText.length"
          (click)="applyCriteria()"
        ></button>
      </div>
      <div class="right-select">
        <p-dropdown
          class="templates-dropdown"
          [options]="criteriaTemplatesDdlOptions"
          optionLabel="name"
          optionValue="code"
          placeholder="{{
            criteriaTemplatesDdlOptions.length
              ? 'Select Template'
              : 'No saved templates'
          }}"
          [disabled]="!criteriaTemplatesDdlOptions.length"
          (onChange)="selectCriteriaTemplate($event.value)"
          [(ngModel)] = "selectedTemplate"
        ></p-dropdown>
      </div>
    </div>
    <div style="padding: 0 1rem; display: flex; flex-wrap: wrap">
      <span
        *ngFor="let criteria of criteriaText; let i = index"
        class="criteria-span"
        >{{ criteria }}
        <span
          role="button"
          style="padding: 0px 0px 0px 15px; margin-bottom: 10px"
          (click)="ondeletecriteria(i, criteria)"
        >
          <svg
            style="margin-bottom: 4px"
            xmlns="http://www.w3.org/2000/svg"
            width="12.6"
            height="12.6"
            fill="#dc3545"
            class="bi bi-x-circle"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </span>
      </span>
    </div>
   </div>
   </div>
   <div class="py-3" style="background-color: #ffffff; border-radius: 10px;margin-top: 10px;">
    <div class="applicable-Routes">
      <div class="criteria-bar">
        <p class="setCriteria">Applicable Routes <img height="15px" src="../assets/Icon-info.svg" alt="" /></p>
      </div>
      <div class="mt-3">
        <p-table
          #table
          class="payment-mode-table"
          [value]="bankRoutesData"
          editMode="row"
          [scrollable]="true" scrollHeight="700px" [rowHover]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <ng-container *ngFor="let col of bankRoutesColumns">
                <th *ngIf="col.visible">
                  {{ col.header }}
                </th>
              </ng-container>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row let-col="bankRoutesColumns">
            <tr>
              <ng-container *ngFor="let col of bankRoutesColumns">
                <td *ngIf="col.visible" pEditable="true">
                  <span
                    *ngIf="
                      col.field != 'routeToBankName' &&
                      col.field != 'routeToServiceCategory' &&
                      col.field != 'routeToServiceType'
                    "
                    >{{ row[col.field] }}</span
                  >
                  <select
                    (change)="selectedColumn('routeToBankName', row)"
                    class="form-select"
                    *ngIf="col.field == 'routeToBankName'"
                    [(ngModel)]="row[col.field]"
                  >
                    <option value="" selected>Select</option>
                    <option *ngFor="let name of routeToBankNameOption">
                      {{ name.codeName }}
                    </option>
                  </select>
                  <select
                    (change)="selectedColumn('routeToServiceCategory', row)"
                    class="form-select"
                    *ngIf="col.field == 'routeToServiceCategory'"
                    [(ngModel)]="row[col.field]"
                  >
                    <option value="" selected>Select</option>
                    <option *ngFor="let name of routeToServiceCategoryOption">
                      {{ name.codeName }}
                    </option>
                  </select>
                  <select
                    (change)="selectedColumn('routeToServiceType', row)"
                    class="form-select"
                    *ngIf="col.field == 'routeToServiceType'"
                    [(ngModel)]="row[col.field]"
                  >
                    <option value="" selected>Select</option>
                    <option *ngFor="let name of routeToServiceTypeOption">
                      {{ name.codeName }}
                    </option>
                  </select>
                </td>
              </ng-container>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
   </div>
 
