.addnew1 {
  margin-left: 550px;
}
button {
  padding: 5px;
  margin-left: 8px;
}
.clickcriteria {
  display: flex;
  float: right;
}
.pagetitle {
  margin-top: 95px;
}
p-dropdown .p-dropdown {
  width: 100%;
}

::ng-deep .p-dropdown {
  margin-right: 10px;
}

::ng-deep .p-button-primary plus {
  width: 40px;
  height: 25px;
}
.criteria-main-section {
  border: 0.5px solid#eaedf4;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
}

.criteria-bar {
  display: flex;
  padding: 0 1.5rem;
}

.setCriteria {
  color: rgb(36 85 207);
  font-size: 14px;
  font-weight: 600;
  width: 60%;
  cursor: pointer;
}

.openCriteria {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.openCriteria a {
  color: rgb(36 85 207);
  border-bottom: 1px solid rgb(36 85 207);
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.dropdowns-select-container {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.left-dropdowns {
  width: 70%;
  display: flex;
  align-items: center;
}

.right-select {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
