.clickcriteria {
  display: flex;
  float: right;
}
p-dropdown .p-dropdown {
  width: 100%;
}

::ng-deep .p-button-primary plus {
  width: 40px;
  height: 25px;
}
.criteria-main-section {
  border: 0.5px solid#eaedf4;
  margin-bottom: 20px;
  padding: 20px 0;
  margin: 0 15px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 5px;
  height: 240px;
}
.applicable-Routes {
  border: 0.5px solid#eaedf4;
  margin-bottom: 0px;
  padding: 5px 0;
  margin: 0 15px;
  background-color: #ffffff;
  border-radius: 10px;
}

.templates-dropdown::ng-deep .p-dropdown-label {
  padding-right: 0;
}

.criteria-bar {
  display: flex;
  padding: 0 1rem;
  margin-top: 5px;
}

.setCriteria {
  color: rgb(36 85 207);
  font-size: 14px;
  font-weight: 500;
  width: 55%;
  cursor: pointer;
}

.openCriteria {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  font-size: 14px;
}

.openCriteria a {
  color: rgb(36 85 207);
  border-bottom: 1px solid rgb(36 85 207);
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}

.dropdowns-select-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.criteria-span {
  color: black;
  background-color: #eaedf4;
  padding: 7px;
  font-size: 0.7rem;
  font-weight: 500;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 8px;
}

.left-dropdowns {
  width: 80%;
  display: flex;
  align-items: center;
  position: relative;
}

.right-select {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

:host ::ng-deep .p-datatable .p-datatable-tbody tr td {
  border: 0px !important;
  border-width: 0px !important ;
  padding: 0.47rem 0.5rem 0.47rem 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  height: 48px;
}
::ng-deep .p-datatable.p-component {
  font-size: 12px !important;
}
::ng-deep
  .p-datatable
  .form-select
  .ng-pristine
  .ng-valid
  .ng-star-inserted
  .ng-touched {
  font-size: 12px !important;
}

:host ::ng-deep .p-dialog .p-dialog-header {
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
}

:host ::ng-deep .p-dialog .p-dialog-footer {
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

.addnewroute-table {
  max-height: 295px;
  overflow-y: auto;
}
.applycriteriabtn {
  background: #f6f6f8;
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.addnewroute-table ::ng-deep .p-datatable-thead th:nth-child(1) {
  width: 7%;
}
.addnewroute-table ::ng-deep .p-datatable-thead th:nth-child(2) {
  width: 11.5%;
}
.addnewroute-table ::ng-deep .p-datatable-thead th:nth-child(3) {
  width: 10.5%;
}
.addnewroute-table ::ng-deep .p-datatable-thead th:nth-child(4) {
  width: 8%;
}
.addnewroute-table ::ng-deep .p-datatable-thead th:nth-child(5) {
  width: 10.5%;
}

.addnewroute-table ::ng-deep .p-datatable-thead th:nth-last-child(1) {
  width: 10%;
}
.addnewroute-table ::ng-deep .p-datatable-thead th:nth-last-child(2) {
  width: 12%;
}
.addnewroute-table ::ng-deep .p-datatable-thead th:nth-last-child(3) {
  width: 9%;
}

.form-select {
  height: 35px;
  font-size: 12px;
  font-family: IBM Plex Sans, sans-serif;
  border-color: #e8e9eb;
  padding: 0.375rem 1.7rem 0.375rem 0.75rem;
  font-weight: 500;
}
