.clickcriteria {
  display: flex;
  float: right;
}
.criteria-main-section {
  margin-top: 5px;
  height: 240px;
}
.details-page-card-content {
  border: 0.5px solid var(--surface-ground);
  padding: 20px 0;
  margin: 0 15px;
  background-color: var(--surface-card);
  border-radius: 10px;
}

.criteria-bar {
  display: flex;
  padding: 0 1rem;
  margin-top: 5px;
}

.setCriteria {
  width: 55%;
}
.setCriteria img {
  cursor: pointer;
}
