.tax-code-desc-section {
  font-size: 0.8rem;
  font-weight: 500;
  gap: 17px;
}
.tax-code-desc-section p {
  margin-bottom: 0.5rem;
}
.tax-code-desc-section input {
  height: 35px;
  font-size: 0.8rem;
}
.tax-code-desc-section .taxCode input {
  width: 235px;
}
.tax-code-desc-section .taxDesc input {
  width: 398px;
}
// suresh Work start -->
// suresh Work end -->
