.tax-code-desc-section {
  font-size: 0.8rem;
  font-weight: 500;
  gap: 17px;
}
.tax-code-desc-section p {
  margin-bottom: 0.5rem;
}
.tax-code-desc-section input {
  height: 35px;
  font-size: 0.8rem;
}
.tax-code-desc-section .taxCode input {
  width: 235px;
}
.tax-code-desc-section .taxDesc input {
  width: 398px;
}

.confirm-popup ::ng-deep .p-dialog-content .p-confirm-dialog-message {
  text-align: center;
}

.description.red-star {
  font-size: 18px;
  color: red;
  font-weight: 500;
  position: absolute;
  top: -5px;
  margin-left: 2px;
}

// suresh Work start -->
.details-page-card-content {
  border: 0.5px solid var(--surface-ground);
  padding: 20px 0;
  margin: 0 15px;
  background-color: var(--surface-card);
  border-radius: 10px;
}

.criteria-bar {
  display: flex;
  padding: 0 1rem;
  margin-top: 5px;
}
// suresh Work end -->
