.tax-code-desc-section {
  font-size: 0.8rem;
  font-weight: 500;
  gap: 17px;
}
.tax-code-desc-section p {
  margin-bottom: 0.5rem;
}
.savebtn {
  padding-left: 10px;
}
.saveAddbtn {
  padding-left: 10px;
}
@media screen and (max-width: 1400px) and (min-width:1201px) {
  .savebtn {
    padding-left: 0px !important;
    // padding-right: 20px !important;
  }
  .saveAddbtn {
    padding-left: 13px !important;
  }
}
@media screen and (max-width: 575px) {
  .savebtn {
    padding-left: 0px !important;
    // padding-right: 20px !important;
  }
  .saveAddbtn {
    padding-left: 0px !important;
  }
}
@media screen and (max-width: 1199px) and (min-width:768px) {
  .savebtn {
    padding-left: 0px !important;
    padding-right: 20px !important;
    margin-left: 0px !important;
  }
  .saveAddbtn {
    width: 50%;
    padding-left: 0px !important;
    margin-left: 27px ;
  }
  .resetbtn{
    margin-left: 0px;
  }
}
@media screen and (max-width: 575px){
  .small {
     padding-right: 25px !important;
   }
 }
.tax-code-desc-section input {
  height: 35px;
  font-size: 0.8rem;
}
.tax-code-desc-section .taxCode input {
  width: 235px;
}
.tax-code-desc-section .taxDesc input {
  width: 398px;
}

.tax-code-desc-section .taxDesc input::placeholder {
  color: #8a9099;
  font-size: 12px;
}

.confirm-popup ::ng-deep .p-dialog-content .p-confirm-dialog-message {
  text-align: center;
}

.description.red-star {
  font-size: 18px;
  color: red;
  font-weight: 500;
  position: absolute;
  top: -5px;
  margin-left: 2px;
}
.details-page-card-content {
  border: 0.5px solid var(--surface-ground);
  padding: 10px 0 5px 0;
  margin: 0 15px;
  background-color: var(--surface-card);
  border-radius: 10px;
}

.criteria-bar {
  display: flex;
  padding: 0 0.5rem;
}

.select-module-application {
  display: flex;
  gap: 10px;
}
.select-module-application .field {
  align-items: center;
  gap: 15px;
  margin-bottom: 0;
}

.select-module-application label {
  margin-bottom: 0;
  font-size: 14px;
}
.select-module-application p-dropdown {
  width: 100%;
}
.select-module-application::ng-deep .p-dropdown {
  width: 95%;
  height: 35px;
  align-items: center;
  border: none !important;
}
.disabled {
  cursor: not-allowed !important;
  color: #999 !important; 
}
