<div class="visible-main-section">
  <div class="details-page-card">
    <div class="d-flex mx-3" style="justify-content: space-between">
      <p class="description-text">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="41"
          height="35"
          viewBox="0 0 41 41"
        >
          <g
            id="Group_2248"
            data-name="Group 2248"
            transform="translate(-341 -138)"
          >
            <circle
              id="Ellipse_130"
              data-name="Ellipse 130"
              cx="20.5"
              cy="20.5"
              r="20.5"
              transform="translate(341 138)"
              [attr.fill]="primaryColor"
            />
            <path
              id="_52_Note_Basic_Description"
              data-name="52  Note, Basic, Description"
              d="M17.054,9.537H9.52a.753.753,0,0,1-.753-.753V5.016a.753.753,0,0,1,.753-.753h.851a3.014,3.014,0,0,1,5.831,0h.851a.753.753,0,0,1,.753.753V8.783A.753.753,0,0,1,17.054,9.537ZM10.274,8.03H16.3V5.77h-.753a.753.753,0,0,1-.753-.753,1.507,1.507,0,0,0-3.014,0,.753.753,0,0,1-.753.753h-.753Zm11.3,12.808V7.277a2.26,2.26,0,0,0-2.26-2.26h-.753V6.523h.753a.753.753,0,0,1,.753.753V20.837a.753.753,0,0,1-.753.753H7.26a.753.753,0,0,1-.753-.753V7.277a.753.753,0,0,1,.753-.753h.753V5.016H7.26A2.26,2.26,0,0,0,5,7.277V20.837A2.26,2.26,0,0,0,7.26,23.1H19.314A2.26,2.26,0,0,0,21.574,20.837ZM17.808,11.8H8.767V13.3h9.041Zm0,3.014H8.767v1.507h9.041Zm0,3.014H8.767v1.507h9.041Z"
              transform="translate(348.213 145.945)"
              fill="#fff"
            />
          </g>
        </svg>
        Enables users to configure tax related settings.
      </p>
      <div class="buttons-section">
        <button
          pButton
          pRipple
          type="button"
          label="Save"
          class="p-button-raised"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          label="Save & Add New"
          class="p-button-raised"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          label="Reset"
          class="p-button-warning"
        ></button>
      </div>
    </div>
    <div class="d-flex m-3 tax-code-desc-section">
      <div class="taxCode">
        <p>Tax Code</p>
        <input type="text" pInputText [(ngModel)]="taxCode" disabled />
      </div>
      <div class="taxDesc">
        <p>Tax Description</p>
        <input type="text" pInputText [(ngModel)]="taxDescription" />
      </div>
    </div>
    <app-set-criteria
      #setCriteriaSharedComponent
      [criteriaMasterData]="criteriaMasterData"
      [cmCriteriaDataDetails]="cmCriteriaDataDetails"
      [criteriaDataDetailsJson]="criteriaDataDetailsJson"
      [cmCriteriaSlabType]="cmCriteriaSlabType"
      [independantCriteriaArr]="independantCriteriaArr"
      [cmCriteriaMandatory]="cmCriteriaMandatory"
      [cmCriteriaDependency]="cmCriteriaDependency"
      [criteriaMapDdlOptions]="criteriaMapDdlOptions"
      [correspondentDdlOptions]="correspondentDdlOptions"
      [criteriaEqualsDdlOptions]="criteriaEqualsDdlOptions"
      [criteriaTemplatesDdlOptions]="criteriaTemplatesDdlOptions"
      [savingCriteriaTemplateError]="savingCriteriaTemplateError"
      [criteriaText]="criteriaText"
      [criteriaCodeText]="criteriaCodeText"
      (postDataCriteria)="applyCriteria($event)"
      (saveCriteriaAsTemplate)="saveCriteriaAsTemplate($event)"
      (getCorrespondentValues)="
        getCorrespondentValues(
          $event.fieldName,
          $event.displayName,
          $event.criteriaCodeText
        )
      "
    ></app-set-criteria>
  </div>
  <!-- // suresh Work start -->
  <div class="details-page-card mt-2" *ngIf="appliedTaxCriteriaData.length">
    <div class="details-page-card-content mt-1">
      <div class="criteria-bar">
        <p class="setCriteria detail-page-section-heading">
          Applicable Taxes
          <img
            height="15px"
            src="../assets/Icon-info.svg"
            alt=""
            pTooltip="On selected criteria taxes below taxes will be applied."
          />
        </p>
      </div>
      <div class="mt-1 addnewroute-table">
        <div class="ptable">
          <p-card class="p-col-12" *ngIf="!appliedTaxCriteriaData">
            {{ "noDataMsg" }}
          </p-card>
          <div class="appliedCriteriaDataTable">
            <p-table
              #dt
              [columns]="appliedTaxCriteriaDataCols"
              [value]="appliedTaxCriteriaData"
              [rows]="10"
              columnResizeMode="expand"
              [rowHover]="true"
              [scrollable]="true"
            >
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <ng-container *ngFor="let col of columns; let c = index">
                    <th
                      [pSortableColumn]="col?.field"
                      [style.maxWidth]="col?.maxWidth"
                      [style.minWidth]="col?.minWidth"
                      style="right: 121px !important"
                    >
                      {{ col.header.split("*")[0] }}
                      <span *ngIf="isMandatoryCol(col.header)" class="red-star"
                        >*</span
                      >
                    </th>
                  </ng-container>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-rowData
                let-columns="columns"
                let-rowIndex="rowIndex"
              >
                <tr>
                  <ng-container *ngFor="let col of columns; let i = index">
                    <td>
                      <div
                        *ngIf="col['isString']"
                        class="appliedCriteriaString"
                      >
                        {{ rowData[col["field"]] }}
                      </div>
                      <div
                        *ngIf="col['isSelect']"
                        class="appliedCriteriaSelect"
                      >
                        <p-dropdown
                          [options]="rowData[col['field']]"
                          optionLabel="codeName"
                          appendTo="body"
                          [placeholder]="
                            rowData[col['field'] + 'Option']
                              ? rowData[col['field'] + 'Option']
                              : 'Select'
                          "
                          (onChange)="
                            selectedColumn(columns[i+1]['field'], $event.value, rowIndex)
                          "
                        ></p-dropdown>
                      </div>
                      <div *ngIf="col['isInput']" class="appliedtaxInput">
                        <!-- <input
                          type="text"
                          pInputText
                          [(ngModel)]="rowData[col['field']]"
                        /> -->
                        <p-inputNumber (onInput)="changeValueInput(columns[i-1]['field'], $event, rowIndex)" [(ngModel)]="rowData[col['field']]" [useGrouping]="false"
                         mode="decimal" [maxFractionDigits]="1" ></p-inputNumber>
                      </div>
                      <div *ngIf="col['isButton']" class="appliedtaxInput">
                        <ng-container
                          *ngFor="let btn of rowData[col['field']].split(',')"
                        >
                          <button
                            pButton
                            type="button"
                            [icon]="
                              'pi pi-' + (btn == 'delete' ? 'trash' : btn)
                            "
                            class="operation-btns mr-2"
                          ></button>
                        </ng-container>
                      </div>
                    </td>
                  </ng-container>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage">
                <tr>
                  <td [attr.colspan]="cols.length">No Data found.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- // suresh Work end -->
</div>
