
 
  <div style="margin: 20px; height: auto; position: relative">
    <div class="pagetitle" >
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">Settings</li>
          <li class="breadcrumb-item">Module Settings</li>
          <li class="breadcrumb-item">Payment Mode
            Settings</li>
          <li class="breadcrumb-item active" style="color: #2455cf;">View Payment Mode
            Settings</li>
        </ol>
      </nav>
    
    <button style="margin: 20px; position: absolute;    top: -4%;
    left: 80%;" class="btn btn-primary">Save
    </button>
    <button style="margin: 20px; position: absolute;    top: -4%;
    left: 88%;" class="btn btn-warning">Reset
    </button>
  </div>
  <div style="margin: 20px;">
    <span style="font-size: 15px; font-weight: bold; color:blue;">Payment Mode
      Description &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span style="color: #8a9099;background-color: #eaedf4; padding: 4px; padding-right: 130px;">Payment Mode For
        SBI</span>
    </span>
  </div>
  
  
  
  <div style=" border: 0.5px solid#eaedf4; width: 95%;margin-bottom: 20px;padding: 20px;">
    <span style="color: blue;margin-left: 30px; margin-top: 10px;font-weight: bold;font-size: 16px; ">Set Criteria</span> <br><br>
    <div style="display: flex; margin-bottom: 20px; margin-left: 30px;">
      <select class="form-select" aria-label="Default select example" (change)="changeCriteriaFields($any($event.target).value)" style="width: 200px; margin-right: 10px;">
        <option selected *ngFor="let name of testData">{{name.displayName}}</option>
        <!-- <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option> -->
      </select>
      <select class="form-select" aria-label="Default select example" style="width: 200px; margin-right: 10px;">
        <option selected *ngFor="let operation of criteriaOperations">{{operation}}</option>
        <!-- <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option> -->
      </select>
      <select class="form-select" aria-label="Default select example" style="width: 200px; margin-right: 10px;">
        <option selected>SBI</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <button class="btn btn-primary">
        +
      </button>
    </div>
    <div style="margin-bottom: 30px;">
      <span *ngFor="let criteria of criteriaText,let i = index"
        style="color: black; background-color: #eaedf4; margin-left: 30px;  padding: 5px; padding-right: 18px;">{{criteria}}
        <span role="button" style="padding:0px 0px 0px 50px;margin-bottom: 10px;" (click)="ondeletecriteria(i)">
          <svg style="margin-bottom: 4px" xmlns="http://www.w3.org/2000/svg" width="12.6" height="12.6" fill="#dc3545"
              class="bi bi-x-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg>
      </span>
      </span>
    </div>
  
  </div>
  <div style=" border: 0.5px solid #eaedf4; width: 95%;padding-top: 20px;">
    <span style="color: blue;margin-left: 30px; margin-top: 10px;font-weight: bold;font-size: 16px; ">Applicable On</span> <br><br>
    <span style="margin-left: 30px; ">Payment Mode Category &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Payment Mode</span>
    </span>
    <div style="display: flex; margin-bottom: 20px; margin-left: 30px; margin-top: 10px;">
      <select class="form-select" [(ngModel)]="selectedPaymentCategory" aria-label="Default select example" style="width: 180px; margin-right: 25px;">
        <option selected *ngFor="let cate of payCateData">{{cate.name}}</option>
        <!-- <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option> -->
      </select>
      <select class="form-select" [(ngModel)]="selectedPaymentMode" aria-label="Default select example" style="width: 180px; margin-right: 10px;">
        <option selected *ngFor="let mode of paymodeData">{{mode.name}}</option>
        <!-- <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option> -->
      </select>
      <button class="btn btn-primary" style="margin-left: 20px;" (click)="onPaymentModeAdd()">
        +
      </button>
    </div>
    <p-table class="payment-mode-table" #dt [value]="getdata" sortMode="multiple" >
      <ng-template pTemplate="header">
          <tr>
              <th pSortableColumn="paymentModeName" style="padding: 9px;border: none; background-color: #eaedf4;font-size: 12px;color: #8a9099;">Payment Mode Description</th>
              <th pSortableColumn="criteriaMap" style="padding: 9px;border: none; background-color: #eaedf4;font-size: 12px;color: #8a9099;">Payment Mode</th>
              <th style="padding: 9px;border: none; background-color: #eaedf4;font-size: 12px;color: #8a9099;padding-left: 100px;">Status <img src="../../assets/icon/down arrow.svg" alt=""></th>
          </tr>
         
      </ng-template>
      <ng-template pTemplate="body" let-data1>
          <tr>
              <td style="font-size: 12px;border: none; border-bottom: none; padding-bottom: 15px;cursor: pointer;color:#2455cf ;margin-left: 50px;"> {{data1?.payment}}</td>
              <td style="font-size: 12px;border: none; border-bottom: none; padding-bottom: 15px; font-weight: bold;">{{data1?.paymentMethod}}</td>
              <td style="padding-left: 100px;border: none;">
                  <label class="switch" style="margin-left: 10px;border: none;">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                  </label>
                </td>
          </tr>
      </ng-template>
  </p-table>
  </div>
  
  <!-- <table class="table"
    style="margin: 20px; position: absolute; top: 550px;;left: 330px;border-collapse: collapse; width: 1050px;">
  <thead>
    <tr>
      <th style="font-size: 16px;">Payment Mode Description</th>
      <th style=" font-size: 16px;">Payment Mode </th>
      <th style="font-size: 16px;">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data1 of getdata">
      <td>
        {{data1?.payment}}
      </td>
      <td>
        {{data1?.paymentMethod}}
      </td>
        <td>
           {{data1?.status}}  
          <label class="switch" style="margin-left: 10px;border: none;">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </td>
      </tbody>
  </table> -->
