<div class="visible-main-section">
  <div class="details-page-card">
    <div class="d-flex mx-3" style="justify-content: space-between">
      <div class="col-12">
        <div class="row">
          <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
            <p class="description-text">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="41"
                height="35"
                viewBox="0 0 41 41"
              >
                <g
                  id="Group_2248"
                  data-name="Group 2248"
                  transform="translate(-341 -138)"
                >
                  <circle
                    id="Ellipse_130"
                    data-name="Ellipse 130"
                    cx="20.5"
                    cy="20.5"
                    r="20.5"
                    transform="translate(341 138)"
                    [attr.fill]="primaryColor"
                  />
                  <path
                    id="_52_Note_Basic_Description"
                    data-name="52  Note, Basic, Description"
                    d="M17.054,9.537H9.52a.753.753,0,0,1-.753-.753V5.016a.753.753,0,0,1,.753-.753h.851a3.014,3.014,0,0,1,5.831,0h.851a.753.753,0,0,1,.753.753V8.783A.753.753,0,0,1,17.054,9.537ZM10.274,8.03H16.3V5.77h-.753a.753.753,0,0,1-.753-.753,1.507,1.507,0,0,0-3.014,0,.753.753,0,0,1-.753.753h-.753Zm11.3,12.808V7.277a2.26,2.26,0,0,0-2.26-2.26h-.753V6.523h.753a.753.753,0,0,1,.753.753V20.837a.753.753,0,0,1-.753.753H7.26a.753.753,0,0,1-.753-.753V7.277a.753.753,0,0,1,.753-.753h.753V5.016H7.26A2.26,2.26,0,0,0,5,7.277V20.837A2.26,2.26,0,0,0,7.26,23.1H19.314A2.26,2.26,0,0,0,21.574,20.837ZM17.808,11.8H8.767V13.3h9.041Zm0,3.014H8.767v1.507h9.041Zm0,3.014H8.767v1.507h9.041Z"
                    transform="translate(348.213 145.945)"
                    fill="#fff"
                  />
                </g>
              </svg>
              Enables users to configure form related settings.
            </p>
          </div>
          <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
            <div class="row">
              <div class="buttons-section">
                <button
                  pButton
                  pRipple
                  [disabled]="
                    !applyCriteriaFormattedData ||
                    !applyCriteriaFormattedData.length ||
                    deactivated
                  "
                  type="button"
                  label="Save"
                  class="p-button-raised"
                  (click)="saveAddNewRule('save')"
                ></button>
                <button
                  pButton
                  pRipple
                  type="button"
                  [disabled]="
                    !applyCriteriaFormattedData ||
                    !applyCriteriaFormattedData.length ||
                    deactivated
                  "
                  label="Save & Add New"
                  class="p-button-raised"
                  (click)="saveAddNewRule('saveAndAddNew')"
                ></button>
                <button
                  pButton
                  pRipple
                  type="button"
                  label="Reset"
                  class="p-button-warning"
                  (click)="reset()"
                  [disabled]="deactivated"
                ></button>
                <button
                  *ngIf="mode == 'edit'"
                  pButton
                  pRipple
                  type="button"
                  label="{{ deactivated ? 'Activate' : 'Deactivate' }}"
                  class="p-button-raised"
                  (click)="onActive()"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [formGroup]="selectAppModule" class="select-module-application m-2">
      <div class="col-12">
        <div class="row">
          <div
            class="d-flex field col-md-4 col-lg-4 col-sm-12 col-xs-12 md-3 pr-0"
          >
            <label
              class="detail-page-section-heading col-sm-3 col-xs-12 pr-8"
              for="application"
              >Application</label
            >
            <p-dropdown
              name="application"
              inputId="application"
              class="smartSearch"
              [options]="searchApplicationOptions"
              placeholder="Select"
              optionLabel="name"
              formControlName="applications"
              (onChange)="onAppValueChange()"
            >
              <ng-template let-options pTemplate="item">
                <div class="truncate-text">
                  <div>{{ options.name }}</div>
                </div>
              </ng-template></p-dropdown
            >
          </div>
          <div
            class="d-flex field col-md-4 col-lg-4 col-sm-12 col-xs-12 md-3 pr-0 pl-0"
          >
            <label
              class="detail-page-section-heading col-sm-3 col-xs-12 small"
              for="module"
              >Module</label
            >
            <p-dropdown
              name="module"
              inputId="module"
              class="smartSearch"
              [options]="searchModuleOptions"
              placeholder="Select"
              optionLabel="name"
              formControlName="modules"
              (onChange)="onModValueChange()"
            >
              <ng-template let-options pTemplate="item">
                <div class="truncate-text">
                  <div>{{ options.name }}</div>
                </div>
              </ng-template></p-dropdown
            >
          </div>
          <div
            class="d-flex field col-md-4 col-lg-4 col-sm-12 col-xs-12 md-4 pl-0"
          >
            <label
              class="detail-page-section-heading col-sm-3 col-xs-12 smallForm"
              for="form"
              >Form</label
            >
            <p-dropdown
              name="form"
              inputId="form"
              class="smartSearch"
              [options]="searchFormOptions"
              placeholder="Select"
              optionLabel="name"
              formControlName="forms"
              (onChange)="searchAppModule()"
              ><ng-template let-options pTemplate="item">
                <div class="truncate-text">
                  <div>{{ options.name }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="appModuleDataPresent && showContent"
      class="d-flex m-3 rule-code-desc-section"
    >
      <div
        class="ruleCode"
        [pTooltip]="
          this.mode == 'add'
            ? 'Rule Code is automatically generated, It may get changed in saving process.'
            : ''
        "
      >
        <p>Rule Code</p>
        <input type="text" pInputText [(ngModel)]="formRuleCode" disabled />
      </div>
      <div class="ruleDesc">
        <p style="position: relative">
          Form Description <span class="description red-star">*</span>
        </p>
        <input
          type="text"
          pInputText
          [(ngModel)]="ruleDescription"
          maxlength="100"
          placeholder="Max 100 characters"
          [disabled]="deactivated"
        />
      </div>
    </div>
    <app-set-criteria
      *ngIf="appModuleDataPresent && showContent"
      #setCriteriaSharedComponent
      [criteriaMasterData]="criteriaMasterData"
      [fieldDisplayData]="fieldDisplayData"
      [cmCriteriaDataDetails]="cmCriteriaDataDetails"
      [criteriaDataDetailsJson]="criteriaDataDetailsJson"
      [cmCriteriaSlabType]="cmCriteriaSlabType"
      [independantCriteriaArr]="independantCriteriaArr"
      [cmCriteriaMandatory]="cmCriteriaMandatory"
      [cmCriteriaDependency]="cmCriteriaDependency"
      [criteriaMapDdlOptions]="criteriaMapDdlOptions"
      [correspondentDdlOptions]="correspondentDdlOptions"
      [criteriaEqualsDdlOptions]="criteriaEqualsDdlOptions"
      [criteriaTemplatesDdlOptions]="criteriaTemplatesDdlOptions"
      [savingCriteriaTemplateError]="savingCriteriaTemplateError"
      [criteriaText]="criteriaText"
      [criteriaCodeText]="criteriaCodeText"
      [inactiveData]="inactiveData"
      [deactivated]="deactivated"
      (postDataCriteria)="applyCriteria($event)"
      (saveCriteriaAsTemplate)="saveCriteriaAsTemplate($event)"
      (getCorrespondentValues)="
        getCorrespondentValues(
          $event.fieldName,
          $event.displayName,
          $event.criteriaCodeText
        )
      "
    ></app-set-criteria>
  </div>
  <div class="details-page-card mt-2" *ngIf="applyCriteriaFormattedData.length">
    <div class="details-page-card-content mt-1">
      <div class="criteria-bar">
        <p class="setCriteria detail-page-section-heading">
          Set Rules
          <img
            height="15px"
            src="../assets/Icon-info.svg"
            alt=""
            pTooltip="On selected criteria rules below rules will be applied."
          />
        </p>
      </div>
      <div class="mt-1 addnewroute-table">
        <div class="ptable">
          <div class="appliedCriteriaDataTable">
            <p-treeTable
              #treeTable
              [value]="applyCriteriaFormattedData"
              [columns]="applyCriteriaDataTableColumns"
              selectionMode="checkbox"
              [(selection)]="selectedNodes"
              (onNodeSelect)="onNodeSelect($event)"
              (onNodeUnselect)="onNodeUnSelect($event)"
              [scrollable]="true"
              scrollHeight="250px"
              [loading]="ttLoading"
            >
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of columns" [style.width]="col.width" />
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr [ttRow]="rowNode">
                  <th *ngFor="let col of columns">
                    {{ col.header }}

                    <span class="info-span" *ngIf="col.info"
                      ><i
                        class="pi pi-info-circle"
                        [pTooltip]="col.info"
                        tooltipPosition="top"
                      ></i
                    ></span>
                  </th>
                </tr>
                <tr class="search-row">
                  <th *ngFor="let col of columns; let i = index">
                    <span
                      *ngIf="
                        !defCols.includes(col.field) || col.field == 'fieldId'
                      "
                      class="p-input-icon-left"
                      [style.width]="'95px'"
                      [style.maxWidth]="'100%'"
                    >
                      <i class="pi pi-search"></i>
                      <input
                        type="text"
                        class="p-inputtext table-search"
                        [disabled]="deactivated"
                        placeholder="Search"
                        (input)="
                          treeTable.filter(
                            $event.target.value,
                            col.field,
                            'contains'
                          )
                        "
                      />
                    </span>
                  </th>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-rowNode
                let-columns="columns"
                let-rowData="rowData"
              >
                <tr
                  [ngClass]="{
                    groupHeading:
                      rowData && !rowData.hasOwnProperty('fieldType'),
                    dataColumn: rowData && rowData.hasOwnProperty('fieldType')
                  }"
                >
                  <td
                    *ngFor="let col of columns; let i = index"
                    [pTooltip]="
                      col.type == 'input' &&
                      col.field == 'defaultValue' &&
                      (rowData['isValidLength'] == false ||
                        rowData['isValidDefValue'] == false)
                        ? defValueInpTooltip
                        : ''
                    "
                    tooltipPosition="bottom"
                  >
                    <p-treeTableCheckbox
                      [value]="rowNode"
                      *ngIf="i == 0"
                      [ngClass]="{
                        dataCheckbox:
                          rowData && rowData.hasOwnProperty('fieldType')
                      }"
                    ></p-treeTableCheckbox>

                    <ng-container
                      *ngIf="rowData && rowData.hasOwnProperty(col.field)"
                      [ngSwitch]="col.type"
                    >
                      <ng-container *ngSwitchCase="'string'">
                        <div
                          style="display: inline-block"
                          [title]="rowData[col.field]"
                        >
                          {{
                            rowData[col.field].slice(0, 24) +
                              (rowData[col.field].length > 24 ? "..." : "")
                          }}
                        </div>
                      </ng-container>
                      <ng-container *ngSwitchCase="'text'">
                        <input
                          type="text"
                          [(ngModel)]="rowData[col.field]"
                          disabled="true"
                        />
                      </ng-container>
                      <ng-container
                        *ngSwitchCase="'input'"
                        [ngSwitch]="col.field"
                      >
                        <ng-container *ngSwitchCase="'fieldDisplayName'">
                          <input type="text" [(ngModel)]="rowData[col.field]" />
                        </ng-container>
                        <ng-container
                          *ngSwitchCase="'minLength'"
                          [ngSwitch]="true"
                        >
                          <ng-container
                            *ngSwitchCase="
                              rowData['fieldType'] == 'text' ||
                              rowData['fieldType'] == 'number'
                            "
                          >
                            <input
                              #minInp
                              type="number"
                              [(ngModel)]="rowData[col.field]"
                              (ngModelChange)="
                                minValidation(
                                  $event,
                                  rowData,
                                  minInp,
                                  rowData['maxLength']
                                )
                              "
                              min="0"
                              max="999"
                            />
                          </ng-container>
                          <ng-container *ngSwitchDefault>
                            <span
                              class="not-applicable-value"
                              [pTooltip]="
                                'Not applicable for ' +
                                getFieldTypeName(rowData['fieldType']) +
                                ' field'
                              "
                              tooltipPosition="left"
                              >NA</span
                            >
                          </ng-container>
                        </ng-container>
                        <ng-container
                          *ngSwitchCase="'maxLength'"
                          [ngSwitch]="true"
                        >
                          <ng-container
                            *ngSwitchCase="
                              rowData['fieldType'] == 'text' ||
                              rowData['fieldType'] == 'number'
                            "
                          >
                            <input
                              #maxInp
                              type="number"
                              [(ngModel)]="rowData[col.field]"
                              (ngModelChange)="
                                maxValidation(
                                  $event,
                                  rowData,
                                  maxInp,
                                  rowData['minLength']
                                )
                              "
                              [pTooltip]="
                                rowData['isValidMaxLength'] == false
                                  ? minMaxInpTooltip
                                  : ''
                              "
                              tooltipPosition="bottom"
                              min="0"
                              max="999"
                            />
                          </ng-container>
                          <ng-container *ngSwitchDefault>
                            <span
                              class="not-applicable-value"
                              [pTooltip]="
                                'Not applicable for ' +
                                getFieldTypeName(rowData['fieldType']) +
                                ' field'
                              "
                              tooltipPosition="left"
                              >NA</span
                            >
                          </ng-container>
                        </ng-container>
                        <ng-container
                          *ngSwitchCase="'validLength'"
                          [ngSwitch]="true"
                        >
                          <ng-container
                            *ngSwitchCase="
                              rowData['fieldType'] == 'text' ||
                              rowData['fieldType'] == 'number'
                            "
                          >
                            <input
                              #validLengthInp
                              *ngIf="col.field == 'validLength'"
                              type="text"
                              [disabled]="
                                rowData['fieldType'] == 'date' || deactivated
                              "
                              [pTooltip]="
                                col.field == 'validLength' &&
                                rowData['isValidLength'] == false
                                  ? minMaxInpTooltip
                                  : ''
                              "
                              tooltipPosition="bottom"
                            />
                          </ng-container>
                          <ng-container *ngSwitchDefault>
                            <span
                              class="not-applicable-value"
                              [pTooltip]="
                                'Not applicable for ' +
                                getFieldTypeName(rowData['fieldType']) +
                                ' field'
                              "
                              tooltipPosition="left"
                              >NA</span
                            >
                          </ng-container>
                        </ng-container>
                        <ng-container
                          *ngSwitchCase="'defaultValue'"
                          [ngSwitch]="true"
                        >
                          <ng-container
                            *ngSwitchCase="
                              rowData['fieldType'] == 'text' ||
                              rowData['fieldType'] == 'number' ||
                              rowData['fieldType'] == 'date'
                            "
                          >
                            <input
                              #defValueInp
                              type="text"
                              class="default-Value-input"
                              [ngClass]="{
                                inputError:
                                  rowData['defaultValue'] &&
                                  rowData['isValidDefValue'] == false
                              }"
                              [(ngModel)]="rowData[col.field]"
                              [placeholder]="
                                rowData[col.field]
                                  ? rowData[col.field]
                                  : rowData['fieldType'] == 'date'
                                  ? 'DD/MM/YYYY'
                                  : ''
                              "
                              (ngModelChange)="
                                defValueValidation(
                                  $event,
                                  rowData,
                                  defValueInp,
                                  rowData['minLength'],
                                  rowData['maxLength']
                                )
                              "
                              [disabled]="
                                rowData['isValidLength'] == false || deactivated
                              "
                            />
                          </ng-container>
                          <ng-container
                            *ngSwitchCase="
                              rowData['fieldType'] == 'dropdownSingle'
                            "
                          >
                            <p-dropdown
                              class="block smartSearch"
                              [options]="formFieldsMaster[rowData['apiKey']]"
                              [(ngModel)]="rowData[col.field]"
                              optionLabel="codeName"
                              [filter]="true"
                              filterBy="codeName"
                              placeholder="Select"
                              [virtualScroll]="true"
                              [virtualScrollItemSize]="35"
                            >
                            </p-dropdown>
                          </ng-container>
                          <ng-container *ngSwitchDefault
                            ><span
                              class="not-applicable-value"
                              [pTooltip]="
                                'Not applicable for ' +
                                getFieldTypeName(rowData['fieldType']) +
                                ' field'
                              "
                              tooltipPosition="left"
                              >NA</span
                            ></ng-container
                          >
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          <ng-container [ngSwitch]="true">
                            <ng-container
                              *ngSwitchCase="
                                rowData['fieldType'] == 'text' ||
                                rowData['fieldType'] == 'number'
                              "
                            >
                              <input
                                class="editable-input"
                                *ngIf="
                                  col.field == 'regex' ||
                                  col.field == 'regexMessage' ||
                                  col.field == 'prefix' ||
                                  col.field == 'suffix' ||
                                  col.field == 'masking'
                                "
                                type="text"
                                [(ngModel)]="rowData[col.field]"
                                [disabled]="
                                  !(
                                    rowData['fieldType'] == 'text' ||
                                    rowData['fieldType'] == 'number'
                                  )
                                "
                              />
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                              <span
                                class="not-applicable-value"
                                [pTooltip]="
                                  'Not applicable for ' +
                                  getFieldTypeName(rowData['fieldType']) +
                                  ' field'
                                "
                                tooltipPosition="left"
                                >NA</span
                              >
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>

                      <ng-container
                        *ngSwitchCase="'checkbox'"
                        [ngSwitch]="true"
                      >
                        <ng-container
                          *ngSwitchCase="
                            col.field == 'displayValidValuesOnHover'
                          "
                          [ngSwitch]="true"
                        >
                          <ng-container
                            *ngSwitchCase="
                              rowData['fieldType'] == 'text' ||
                              rowData['fieldType'] == 'date' ||
                              rowData['fieldType'] == 'number'
                            "
                          >
                            <div style="text-align: center">
                              <input
                                type="checkbox"
                                [(ngModel)]="rowData[col.field]"
                                [disabled]="deactivated"
                              />
                            </div>
                          </ng-container>
                          <ng-container *ngSwitchDefault
                            ><span
                              class="not-applicable-value"
                              [pTooltip]="
                                'Not applicable for ' +
                                getFieldTypeName(rowData['fieldType']) +
                                ' field'
                              "
                              tooltipPosition="left"
                              >NA</span
                            ></ng-container
                          >
                        </ng-container>
                        <ng-container
                          *ngSwitchCase="
                            col.field == 'isMandatory' ||
                            col.field == 'isEnable' ||
                            col.field == 'isVisible' ||
                            col.field == 'checkDuplicate' ||
                            col.field == 'displayInNewLine' ||
                            col.field == 'block' ||
                            col.field == 'warning'
                          "
                        >
                          <div style="text-align: center">
                            <input
                              type="checkbox"
                              [(ngModel)]="rowData[col.field]"
                              (change)="
                                toggleCheckbox($event, rowData, col.field)
                              "
                              [disabled]="
                                ((col.field == 'isVisible' ||
                                  col.field == 'isEnable') &&
                                  rowData['isMandatory']) ||
                                deactivated
                              "
                            />
                          </div>
                        </ng-container>
                      </ng-container>
                      <ng-container
                        *ngSwitchCase="'dropdownMulti'"
                        [ngSwitch]="true"
                      >
                        <ng-container
                          *ngSwitchCase="
                            rowData['fieldType'] == 'dropdownSingle' ||
                            rowData['fieldType'] == 'dropdownMulti'
                          "
                        >
                          <p-multiSelect
                            [options]="formFieldsMaster[rowData['apiKey']]"
                            [showToggleAll]="false"
                            [(ngModel)]="rowData[col.field]"
                            optionLabel="codeName"
                            [filter]="true"
                            filterBy="codeName"
                            [virtualScroll]="true"
                            [virtualScrollItemSize]="35"
                            class="multiselect-custom-virtual-scroll"
                            placeholder="Select"
                            [appendTo]="'body'"
                            panelStyleClass="formRule-dropdown"
                            (ngModelChange)="check(rowData[col.field])"
                          >
                          </p-multiSelect>
                        </ng-container>
                        <ng-container *ngSwitchDefault
                          ><span
                            class="not-applicable-value"
                            [pTooltip]="
                              'Not applicable for ' +
                              getFieldTypeName(rowData['fieldType']) +
                              ' field'
                            "
                            tooltipPosition="left"
                            >NA</span
                          ></ng-container
                        >
                      </ng-container>
                      <ng-container *ngSwitchCase="'chips'" [ngSwitch]="true">
                        <ng-container
                          *ngSwitchCase="
                            rowData['fieldType'] == 'text' ||
                            rowData['fieldType'] == 'date' ||
                            rowData['fieldType'] == 'number'
                          "
                        >
                          <p-chips
                            [(ngModel)]="rowData[col.field]"
                            separator=","
                            [placeholder]="
                              rowData['fieldType'] == 'date'
                                ? 'Hint: DD/MM/YYYY,DD/MM/YYYY'
                                : rowData['fieldType'] == 'text'
                                ? 'Hint: A,B,C'
                                : 'Hint: 1,2,3'
                            "
                          ></p-chips>
                        </ng-container>
                        <ng-container *ngSwitchDefault
                          ><span
                            class="not-applicable-value"
                            [pTooltip]="
                              'Not applicable for ' +
                              getFieldTypeName(rowData['fieldType']) +
                              ' field'
                            "
                            tooltipPosition="left"
                            >NA</span
                          ></ng-container
                        >
                      </ng-container>
                      <ng-container
                        *ngSwitchCase="'dropdownSingle'"
                        [ngSwitch]="true"
                      >
                        <ng-container
                          *ngSwitchCase="
                            col.field == 'warningMessageCode' ||
                            col.field == 'blockMessageCode'
                          "
                        >
                          <p-dropdown
                            class="block smartSearch"
                            [options]="
                              customMsgMaster[col.field.split('MessageCode')[0]]
                            "
                            [(ngModel)]="rowData[col.field]"
                            optionLabel="codeName"
                            placeholder="Select"
                          >
                          </p-dropdown>
                        </ng-container>
                        <ng-container *ngSwitchDefault
                          ><p-dropdown
                            class="block smartSearch"
                            [options]="formFieldsMaster[rowData['apiKey']]"
                            [(ngModel)]="rowData[col.field]"
                            optionLabel="codeName"
                            placeholder="Select"
                            [virtualScroll]="true"
                            [virtualScrollItemSize]="35"
                          >
                          </p-dropdown
                        ></ng-container>
                      </ng-container>
                      <ng-container *ngSwitchDefault
                        ><span class="not-applicable-value"
                          >NA</span
                        ></ng-container
                      >
                    </ng-container>
                  </td>
                </tr>
              </ng-template>
            </p-treeTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="NorecordFound"
  *ngIf="!showContent && appModuleDataPresent && !appliedCriteriaData.length"
>
  <div class="row">
    <div class="col-12"><img src="assets/noRecordFound.svg" /></div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>No Record Found.</p>
    </div>
  </div>
</div>
<p-confirmDialog
  key="formRulesLinkedWarning"
  class="linked-confirm confirm-popup"
  #cd
  icon="pi pi-exclamation-triangle"
  [closable]="false"
>
  <p-footer>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Ok"
      (click)="cd.accept()"
    ></button>
  </p-footer>
</p-confirmDialog>

<p-confirmDialog
  key="resetFormDataConfirmation"
  class="confirm-popup"
  #cd2
  icon="pi pi-exclamation-triangle"
  [closable]="false"
>
  <p-footer>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Yes"
      (click)="cd2.accept()"
    ></button>

    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="Cancel"
      (click)="cd2.reject()"
    ></button>
  </p-footer>
</p-confirmDialog>
<p-confirmDialog
  key="activeDeactiveStatusForm"
  class="status-confirm confirm-popup"
  #cd4
  [closable]="false"
>
  <p-footer>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Yes"
      (click)="cd4.accept()"
    ></button>

    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="No"
      (click)="cd4.reject()"
    ></button>
  </p-footer>
</p-confirmDialog>
