.rule-code-desc-section {
  font-size: 0.8rem;
  font-weight: 500;
  gap: 17px;
}
.rule-code-desc-section p {
  margin-bottom: 0.5rem;
}
.rule-code-desc-section input {
  height: 35px;
  font-size: 0.8rem;
}
.rule-code-desc-section .ruleCode input {
  width: 235px;
}
.rule-code-desc-section .ruleDesc input {
  width: 398px;
}

.rule-code-desc-section .ruleDesc input::placeholder {
  color: #8a9099;
  font-size: 12px;
}

.confirm-popup ::ng-deep .p-dialog-content .p-confirm-dialog-message {
  text-align: center;
}

.description.red-star {
  font-size: 18px;
  color: red;
  font-weight: 500;
  position: absolute;
  top: -5px;
  margin-left: 2px;
}

// .appliedCriteriaDataTable ::ng-deep .p-treetable-wrapper {
//   max-height: 323px !important;
// }
// .appliedCriteriaDataTable ::ng-deep p-treetabletoggler button {
//   width: 0px !important;
// }
// .appliedCriteriaDataTable ::ng-deep p-treetabletoggler button i {
//   display: none !important;
// }
.appliedCriteriaDataTable ::ng-deep .p-checkbox .p-checkbox-box {
  width: 16px;
  height: 16px;
  border-radius: 3px;
}
.appliedCriteriaDataTable ::ng-deep .p-treetable-tbody > tr.groupHeading {
  position: relative;
  background: #f3f4f8;
}
// .appliedCriteriaDataTable ::ng-deep .p-treetable-tbody input.lcyOpr {
//   width: 100% !important;
//   max-width: 125px;
//   font-size: 11px;
//   padding-left: 5px;
//   padding-right: 5px;
// }
// .appliedCriteriaDataTable ::ng-deep .p-treetable-tbody input.lcySlab {
//   width: 86px !important;
//   max-width: 86px;
// }
.appliedCriteriaDataTable ::ng-deep .p-treetable-tbody > tr.groupHeading td {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 32px !important;
  color: var(--primary-color);
}
.appliedCriteriaDataTable
  ::ng-deep
  .p-treetable-tbody
  > tr.dataColumn
  td:nth-child(1) {
  padding-left: 22px !important;
  padding-right: 0 !important;
}
.appliedCriteriaDataTable
  ::ng-deep
  .p-treetable-tbody
  > tr.dataColumn
  td
  p-treetablecheckbox
  .p-checkbox {
  margin-right: 0.2rem !important;
}

.appliedCriteriaDataTable input,
.appliedCriteriaDataTable input:hover,
.appliedCriteriaDataTable input:active {
  border: none;
  background-color: #f4f6fa;
  height: 100%;
  width: 100%;
}

.appliedCriteriaDataTable input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: var(--primary-color);
}

// .appliedCriteriaDataTable
//   ::ng-deep
//   .p-treetable-tbody
//   > tr.groupHeading
//   td.dataCol {
//   position: absolute;
// }

// .appliedCriteriaDataTable
//   ::ng-deep
//   .p-treetable-tbody
//   > tr
//   > td
//   p-treetablecheckbox
//   .p-checkbox {
//   margin-right: 0.3rem;
// }

// .appliedCriteriaDataTable ::ng-deep .p-treetable table {
//   table-layout: auto;
// }
// suresh Work start -->
.details-page-card-content {
  border: 0.5px solid var(--surface-ground);
  padding: 10px 0;
  margin: 0 15px;
  background-color: var(--surface-card);
  border-radius: 10px;
}

.criteria-bar {
  display: flex;
  padding: 0 1rem;
  margin-top: 5px;
}
// suresh Work end -->

input.inputError {
  border: 1px solid red !important;
  box-shadow: none !important;
}

.select-module-application {
  display: flex;
  // gap: 10px;
}
.select-module-application .field {
  align-items: center;
  // gap: 15px;
  margin-bottom: 0;
}

.select-module-application label {
  margin-bottom: 0;
  font-size: 14px;
}
.select-module-application p-dropdown {
  width: 75%;
}
.select-module-application::ng-deep .p-dropdown {
  width: 90%;
  height: 35px;
  align-items: center;
  // border: none !important;
}
.savebtn {
  padding-left: 10px;
}
.saveAddbtn {
  padding-left: 10px;
}
.smartSearch ::ng-deep .p-overlay.p-component {
  width: 100%;
}
:host ::ng-deep .p-element .p-inputwrapper .smartSearch {
  width: 77% !important;
}
@media screen and (max-width: 1400px) and (min-width:1201px) {
  .savebtn {
    padding-left: 0px !important;
    // padding-right: 20px !important;
  }
  .saveAddbtn {
    padding-left: 13px !important;
  }
}
@media screen and (max-width: 575px) {
  .savebtn {
    padding-left: 0px !important;
    // padding-right: 20px !important;
  }
  .saveAddbtn {
    padding-left: 0px !important;
  }
}
@media screen and (max-width: 1199px) and (min-width:768px) {
  .savebtn {
    padding-left: 0px !important;
    padding-right: 20px !important;
    margin-left: 0px !important;
  }
  .saveAddbtn {
    width: 50%;
    padding-left: 0px !important;
    margin-left: 27px ;
  }
  .resetbtn{
    margin-left: 0px;
  }
}
@media screen and (max-width: 575px){
  .small {
     padding-right: 25px !important;
   }
  .smallForm {
     padding-right: 39px !important;
   }
 }
