.rule-code-desc-section {
  font-size: 0.8rem;
  font-weight: 500;
  gap: 17px;
}
.rule-code-desc-section p {
  margin-bottom: 0.5rem;
}
.rule-code-desc-section input {
  height: 35px;
  font-size: 0.8rem;
}
.rule-code-desc-section .ruleCode input {
  width: 235px;
}
.rule-code-desc-section .ruleDesc input {
  width: 398px;
}

.rule-code-desc-section .ruleDesc input::placeholder {
  color: #8a9099;
  font-size: 12px;
}

.confirm-popup ::ng-deep .p-dialog-content .p-confirm-dialog-message {
  text-align: center;
}

.description.red-star {
  font-size: 18px;
  color: red;
  font-weight: 500;
  position: absolute;
  top: -5px;
  margin-left: 2px;
}

.appliedCriteriaDataTable ::ng-deep .p-treetable-wrapper {
  max-height: 323px !important;
}
.appliedCriteriaDataTable ::ng-deep p-treetabletoggler button {
  width: 0px !important;
}
.appliedCriteriaDataTable ::ng-deep p-treetabletoggler button i {
  display: none !important;
}
.appliedCriteriaDataTable ::ng-deep .p-checkbox .p-checkbox-box {
  width: 16px;
  height: 16px;
  border-radius: 3px;
}
.appliedCriteriaDataTable ::ng-deep .p-treetable-tbody > tr.groupHeading {
  position: relative;
  background: #f3f4f8;
}
.appliedCriteriaDataTable ::ng-deep .p-treetable-tbody input.lcyOpr {
  width: 100% !important;
  max-width: 125px;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
}
.appliedCriteriaDataTable ::ng-deep .p-treetable-tbody input.lcySlab {
  width: 86px !important;
  max-width: 86px;
}
.appliedCriteriaDataTable ::ng-deep .p-treetable-tbody > tr.groupHeading td {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 32px !important;
  color: var(--primary-color);
}
.appliedCriteriaDataTable
  ::ng-deep
  .p-treetable-tbody
  > tr.groupHeading
  td.dataCol {
  position: absolute;
  left: 25px;
  top: 7px;
}

.appliedCriteriaDataTable
  ::ng-deep
  .p-treetable-tbody
  > tr
  > td
  p-treetablecheckbox
  .p-checkbox {
  margin-right: 0.3rem;
}

// suresh Work start -->
.details-page-card-content {
  border: 0.5px solid var(--surface-ground);
  padding: 10px 0;
  margin: 0 15px;
  background-color: var(--surface-card);
  border-radius: 10px;
}

.criteria-bar {
  display: flex;
  padding: 0 1rem;
  margin-top: 5px;
}
// suresh Work end -->

input.inputError {
  border: 1px solid red !important;
}
