<div class="visible-main-section">
  <div class="details-page-card">
    <div class="ruleDesc">
      <p style="position: relative">
        Criteria Map <span class="description red-star">*</span>
      </p>
      <input
        type="text"
        pInputText
        [(ngModel)]="criteriaMapDes"
        maxlength="1000"
        placeholder="Max 1000 characters"
      />

      <button
        pButton
        pRipple
        type="button"
        label="Apply"
        class="p-button-raised"
        (click)="Apply()"
      ></button>
    </div>
    <div
      *ngIf="tableData && tableData.length"
      class="table-data"
      style="margin-top: 10px"
    >
      <p-table
        #dt
        [value]="tableData"
        [paginator]="true"
        [rows]="10"
        [resizableColumns]="true"
        columnResizeMode="fit"
        [rowHover]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Tax Code</th>
            <th>Tax Code Id</th>
            <th>Criteria</th>
            <th>Set As</th>
            <th>Tax</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.TaxCode }}</td>
            <td>{{ product.TaxCodeID }}</td>
            <td>{{ product.Criteria }}</td>
            <td>{{ product.setAS }}</td>
            <td>{{ product.Tax }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">{{ responseMessage }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
