:host ::ng-deep .p-multiselect-trigger,
:host ::ng-deep .p-multiselect-label-container {
  display: none;
}
:host ::ng-deep .p-dropdown {
  font-size: 14px;
}
:host ::ng-deep .p-datatable-resizable-table > .p-datatable-tbody > tr > td {
  white-space: pre-line;
}
:host ::ng-deep .p-calendar {
  width: 100%;
}
.NorecordFound img {
  width: 15%;
  // padding-bottom: 80px;
  padding-top: 160px;
}
.NorecordFound p {
  padding-bottom: 120px;
}
:host ::ng-deep .p-inputtext:enabled:hover {
  border-color: #2455cf;
}
:host ::ng-deep .p-paginator-rpp-options.p-dropdown {
  height: 34px;
  width: 70px;
  left: 13%;
  top: 13%;
  background-color: var(--primary-color);
}

.flex-align-center {
  padding-left: 35px;
}

.pagetitle {
  background-color: #fff;
  border-radius: 6px;
}
.customerCriteria {
  background-color: #fff;
  padding-left: 40px;
  margin-top: -5px;
  padding-bottom: 20px;
  font-family: "IBM Plex Sans", sans-serif !important;
  font-size: 14px;
  font-weight: 500;
}
.customerMapConditions {
  background: #eaedf4;
  padding: 5px 8px;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 10px;
  font-size: 12px;
}
:host ::ng-deep .firstdropdown .p-dropdown {
  // align-items: center;
  border: none !important;
  background-color: #4759e4;
  height: 33px;
  margin-right: 10px;
}
:host ::ng-deep .primarydropdown .p-dropdown {
  // align-items: center;
  background-color: #f4f6fa !important ;
  border: solid 1px#a2a2a2 !important;
  border-top-right-radius: initial !important;
  border-bottom-right-radius: initial !important;
  height: 33.5px;
  width: 128px;
}
:host ::ng-deep .primarydropdown .p-dropdown .p-dropdown-label {
  color: #4759e4;
}
:host ::ng-deep .primarydropdown .p-dropdown .p-dropdown-trigger {
  color: #4759e4;
}
:host ::ng-deep .p-dropdown .p-dropdown-label {
  color: #fff;
  font-size: 12px;
}
:host ::ng-deep .p-dropdown .p-dropdown-trigger {
  color: #fff;
}
:host ::ng-deep button.p-button .headerbtn {
  padding: auto !important;
  height: 33.5px !important;
}
.confirm-popup ::ng-deep .p-dialog-content .p-confirm-dialog-message {
  text-align: center;
}
.search-btn {
  margin-bottom: 4px !important;
  height: 33px !important;
}
.searchBox.p-inputtext,
:host ::ng-deep .searchBox .p-inputtext {
  // width: 400px;
  border-top-left-radius: initial;
  border-bottom-left-radius: initial;
  border: solid 1px#a2a2a2;
  height: 33.5px;
}
// :host ::ng-deep p-element p-inputwrapper .searchBox .p-inputtext {
//   width: 48%;
// }
.ptable ::ng-deep .p-datatable .p-sortable-column .p-sortable-column-icon {
  font-size: 11px;
  margin-left: 2px;
}
.p-input-icon-right .searchBox.p-inputtext {
  width: 100% !important;
}
:host ::ng-deep .p-input-icon-right .searchBox .p-inputnumber {
  width: 100% !important;
}
.p-input-icon-right {
  width: 63% !important;
}

.btnround {
  border-radius: 50% !important;
  height: 26px !important;
  width: 26px !important;
}
.searchInBtn {
  margin-right: -100px;
}
@media screen and (max-width: 660px) {
  .p-input-icon-right {
    width: 48% !important;
  }
}
@media screen and (max-width: 1502px) and (min-width: 1381px) {
  .p-input-icon-right {
    width: 58% !important;
  }
}
@media screen and (max-width: 1750px) and (min-width: 1550pxpx) {
  .p-input-icon-right {
    width: 65% !important;
  }
}
@media screen and (max-width: 1380px) and (min-width: 1329px) {
  .p-input-icon-right {
    width: 56% !important;
  }
}
@media screen and (max-width: 1328px) and (min-width: 1201px) {
  .p-input-icon-right {
    width: 46% !important;
  }
}
@media screen and (max-width: 1200px) and (min-width: 790px) {
  .searchInBtn {
    margin-right: 0px;
  }
}
// @media screen and (max-width: 1249px) and (min-width: 1200px) {
//   .p-input-icon-right i{
//     position: absolute;
//     top: 25% !important;
//   }
// }
@media screen and (max-width: 785px) and (min-width: 768px) {
  .p-input-icon-right i {
    position: absolute;
    top: 25% !important;
  }
}
// @media screen and (max-width: 543px) and (min-width: 435px) {
//   .p-input-icon-right i{
//     position: absolute;
//     top: 25% !important;
//   }
// }
// @media screen and (max-width: 575px) and (min-width: 545px) {
//   .p-input-icon-right i{
//     position: absolute;
//     top: 25% !important;
//   }
// }
@media screen and (max-width: 1200px) and (min-width: 885px) {
  // :host ::ng-deep .primarydropdown .p-dropdown {
  //   width: 80px;
  // }

  .p-input-icon-right {
    width: 60% !important;
  }
}
@media (min-device-width: 801px) and (max-device-width: 900px) {
  .p-input-icon-right {
    width: 60% !important;
  }
  :host ::ng-deep .primarydropdown .p-dropdown {
    width: 100px;
  }
}
@media (min-device-width: 768px) and (max-device-width: 800px) {
  .p-input-icon-right {
    width: 56% !important;
  }
  :host ::ng-deep .primarydropdown .p-dropdown {
    width: 100px;
  }
  .searchInBtn {
    margin-right: 0px;
  }
}
.table-search {
  max-width: unset !important;
}

.primarydropdown.docId-dropdown ::ng-deep .p-dropdown {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.disabled {
  cursor: not-allowed !important;
  color: #999 !important; 
}