:host ::ng-deep .p-multiselect-trigger,
:host ::ng-deep .p-multiselect-label-container {
  display: none;
}
:host ::ng-deep .p-dropdown {
  font-size: 14px;
  width: 150px;
}
:host ::ng-deep .p-calendar {
  width: 448px;
}
:host ::ng-deep .p-inputtext:enabled {
  // border-color: #2455cf;
  width: 448px;
  border-top-left-radius: initial;
  border-bottom-left-radius: initial;
}
:host ::ng-deep .p-inputtext:enabled:hover {
  border-color: #2455cf;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.pagetitle {
  background-color: #fff;
  padding-left: 20px;
}
.customerCriteria {
  background-color: #fff;
  padding-left: 40px;
  margin-top: -5px;
  padding-bottom: 20px;
  font-family: "IBM Plex Sans", sans-serif !important;
  font-size: 14px;
  font-weight: 500;
}
.customerMapConditions {
  background: #eaedf4;
  padding: 5px 8px;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 10px;
}
:host ::ng-deep .p-dropdown {
  align-items: center;
  border: none !important;
  background-color: #4759e4;
}
:host ::ng-deep .primarydropdown .p-dropdown {
  align-items: center;
  background-color: #f4f6fa !important ;
  color: #4759e4 !important;
  border: solid 1px#a2a2a2 !important;
  border-top-right-radius: initial !important;
  border-bottom-right-radius: initial !important;
}
:host ::ng-deep .primarydropdown .p-dropdown .p-dropdown-label {
  color: #4759e4;
}
:host ::ng-deep .primarydropdown .p-dropdown .p-dropdown-trigger {
  color: #4759e4;
}
:host ::ng-deep .p-dropdown .p-dropdown-label {
  color: #fff;
}
:host ::ng-deep .p-dropdown .p-dropdown-trigger {
  color: #fff;
}

.confirm-popup ::ng-deep .p-dialog-content .p-confirm-dialog-message {
  text-align: center;
}
.NorecordFound {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  padding-bottom: 60px;
}
.NorecordFound p {
  padding-bottom: 10px;
  font-weight: 500;
  color: rgb(0 0 0);
  font-size: 16px;
  line-height: 1px;
  font-family: "IBM Plex Sans", sans-serif;
}
.NorecordFound button {
  margin-bottom: 40px;
}

.NorecordFound img {
  width: 27%;
  margin-top: 70px;
}

.app-form-search {
  background: white;
  border-radius: 6px;
}

.select-module-application {
  display: flex;
  gap: 10px;
}
.select-module-application .field {
  align-items: center;
  gap: 15px;
  margin-bottom: 0;
}

.select-module-application label {
  margin-bottom: 0;
  font-size: 14px;
}
.select-module-application p-dropdown {
  width: 100%;
}
.select-module-application::ng-deep .p-dropdown {
  width: 95%;
  height: 35px;
  align-items: center;
  border: none !important;
}
