<div class="visible-main-section">
  <div class="pagetitle">
    <div class="col-12">
      <div class="row mt-3">
        <div
          class="col-md-9 col-lg-10 col-sm-12 col-xs-12 mt-2 flex-align-center"
        >
          <div class="row">
            <div
              class="col-md-9 col-lg-9 col-sm-12 col-xs-12 inline-flex searchInBtn"
            >
              <p-dropdown
                class="colorInput"
                [options]="userTypeOptions"
                [(ngModel)]="customerType"
                (onChange)="onUserTypeChange($event.value)"
                optionValue="code"
                optionLabel="name"
                class="firstdropdown"
                [style]="{ maxWidth: '128px' }"
              ></p-dropdown>
              <!-- </div>
              <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12"> -->
              <div class="input-group">
                <p-dropdown
                  [options]="searchCriteriaOptions"
                  [(ngModel)]="customerFieldType"
                  (onChange)="onCriteriaChange($event.value)"
                  optionLabel="name"
                  optionValue="code"
                  [placeholder]="searchField"
                  class="primarydropdown"
                  [style]="{ maxWidth: '128px' }"
                  [panelStyle]="{ maxWidth: '128px' }"
                >
                  <ng-template let-options pTemplate="item">
                    <div class="truncate-text">
                      <div>{{ options.name }}</div>
                    </div>
                  </ng-template></p-dropdown
                >
                <div
                  class="p-input-icon-right"
                  (keyup.enter)="searchByEnter($event)"
                >
                  <ng-container [ngSwitch]="criteriaType">
                    <p-dropdown
                      *ngSwitchCase="'SQL'"
                      [options]="docIdOptions"
                      [(ngModel)]="docIdSelected.code"
                      (onChange)="onDocIdChange($event)"
                      optionLabel="name"
                      optionValue="code"
                      [placeholder]="'Select'"
                      class="primarydropdown docId-dropdown"
                      [style]="{ width: '100%' }"
                    >
                      <ng-template let-options pTemplate="item">
                        <div class="truncate-text">
                          <div
                            [pTooltip]="options.isPrime ? 'Primary ID' : ''"
                            [ngStyle]="{
                              'text-decoration': options.isPrime
                                ? 'underline'
                                : '',
                              'text-underline-offset': options.isPrime
                                ? '2px'
                                : '',
                              'text-decoration-thickness': options.isPrime
                                ? '2px'
                                : '',
                              'text-decoration-color': options.isPrime
                                ? '#f9b70e'
                                : ''
                            }"
                          >
                            {{ options.name }}
                          </div>
                        </div>
                      </ng-template></p-dropdown
                    >
                    <input
                      *ngSwitchCase="'text'"
                      class="searchBox"
                      type="text"
                      pInputText
                      [(ngModel)]="currentCriteriaValue"
                      placeholder="Search"
                    />

                    <p-inputNumber
                      *ngSwitchCase="'number'"
                      class="block searchBox"
                      [(ngModel)]="currentCriteriaValue"
                      mode="decimal"
                      [useGrouping]="false"
                      placeholder="Search"
                    >
                    </p-inputNumber>
                    <p-calendar
                      class="searchBox"
                      *ngSwitchCase="'date'"
                      placeholder="DD/MM/YYYY"
                      dateFormat="dd/mm/yy"
                      [(ngModel)]="currentCriteriaValue"
                      [readonlyInput]="false"
                      [appendTo]="'body'"
                      appDateMask
                    ></p-calendar>
                    <i *ngIf="criteriaType != 'SQL'" class="pi pi-search"></i>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 pl-0 ml-0">
              <button
                pButton
                pRipple
                type="button"
                (click)="searchCustomerMap(customerType)"
                label="Search"
                class="search-btn ml-2 headerbtn"
                [disabled]="!customerType"
              ></button>
              <button
                pButton
                pRipple
                type="button"
                (click)="clearCriteria()"
                label="Clear"
                class="p-button-warning search-btn ml-2 mt-lg-0 headerbtn"
              ></button>
              <!-- </div> -->
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-2 col-sm-4 col-xs-4 mt-2 headerbtn">
          <button
            pButton
            pRipple
            type="button"
            label="Add Customer"
            class="p-button-raised search-btn ml-4"
            (click)="addNewCustomer(customerType == 'Corporate' ? 'COR' : 'IND')"
          ></button>
        </div>
      </div>
    </div>
  </div>

  <div class="customerCriteria">
    <div class="row" *ngIf="searchCriteria.length">
      <div class="col-10">
        You have searched on
        <span
          *ngFor="let criteria of searchCriteria; let i = index"
          class="customerMapConditions"
        >
          {{ criteria }}
          <span
            role="button"
            style="padding: 0px 0px 0px 8px; margin-bottom: 10px"
            (click)="ondeletecriteria(i, criteria)"
          >
            <svg
              style="margin-bottom: 4px"
              xmlns="http://www.w3.org/2000/svg"
              width="12.6"
              height="12.6"
              fill="#dc3545"
              class="bi bi-x-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </span>
        </span>
      </div>
    </div>
  </div>

  <div class="ptable" *ngIf="showTable || !globalSearch">
    <p-table
      #dt
      [columns]="columns"
      [value]="customerData"
      dataKey="customerCode"
      [lazy]="true"
      (onLazyLoad)="loadCustomers($event)"
      [totalRecords]="totalRecords"
      [paginator]="true"
      [rows]="pageSize"
      [resizableColumns]="true"
      columnResizeMode="fit"
      [rowHover]="true"
      [loading]="customerTableLoading"
      [rowsPerPageOptions]="[10, 20, 50, 100]"
      rowExpandMode="single"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th
            *ngFor="let col of columns; let c = index"
            pResizableColumn
            [style.width]="col.width"
            [pSortableColumn]="col.field"
            [pSortableColumnDisabled]="
              col.field == 'addBenificiary' || col.field == 'pastTxns'
            "
          >
            <!-- <div
              style="cursor: pointer"
              *ngIf="!(col.field == 'addBenificiary')"
              (click)="customSort($event, col.field)"
            >
              {{ col.header }}
              <i
                class="sort-icon pi pi-sort-alt"
                *ngIf="!(col.field == 'addBenificiary')"
              ></i>
            </div>
            <div *ngIf="col.field == 'addBenificiary'">
              {{ col.header }}
            </div> -->
            {{ col.header }}
            <p-sortIcon
              *ngIf="
                !(col.field == 'addBenificiary' || col.field == 'pastTxns')
              "
              [field]="col.field"
            ></p-sortIcon>
            <!-- <div
              *ngIf="c < columns.length - 3 && c != 0"
              (click)="$event.stopPropagation()"
              class="filter-icon"
            >
              <i
                [ngStyle]="{
                  color: getSelectedFilterArr(col.field).length
                    ? 'var(--primary-color)'
                    : 'rgb(105 105 105)',
                  fontSize: '11px'
                }"
                class="pi pi-filter-fill"
                (click)="toggleFilterVisibility(col.field)"
              ></i>
              <p-multiSelect
                #ms
                [options]="fieldFilterOptions(col.field)"
                [filter]="true"
                [displaySelectedLabel]="false"
                [overlayVisible]="fieldFilterVisible(col.field)"
                [defaultLabel]="'Search'"
                [appendTo]="'body'"
                [autoWidth]="false"
                (onChange)="
                  dt.filter($event.value, col.field, 'in');
                  setSelectedFilter(ms, col.field)
                "
                (onPanelHide)="hideFilterVisibility(col.field)"
              >
              </p-multiSelect>
            </div> -->
          </th>
        </tr>
        <tr class="search-row">
          <th *ngFor="let col of columns; let c = index">
            <span
              class="p-input-icon-left"
              *ngIf="c < columns.length - 3"
              [style.width]="col.searchWidth"
            >
              <i class="pi pi-search"></i>
              <input
                type="text"
                class="p-inputtext table-search"
                placeholder="Search"
                (input)="dt.filter($event.target.value, col.field, 'contains')"
              />
            </span>
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-rowData
        let-columns="columns"
        let-index="rowIndex"
        let-expanded="expanded"
      >
        <tr [pReorderableRow]="index">
          <ng-container *ngFor="let col of columns; let i = index">
            <td *ngIf="i < columns.length - (columns.length == 9 ? 3 : 3)">
              <div *ngIf="!(i == 0)" style="display: inline-block">
                {{ rowData[col["field"]] }}
              </div>
              <div *ngIf="i == 0">
                <button
                  type="button"
                  (click)="beneficiaryListData(expanded, rowData, customerType)"
                  style="height: 2rem; width: 2rem"
                  pButton
                  pRipple
                  [pRowToggler]="rowData"
                  class="p-button-text p-button-rounded p-button-plain"
                  [icon]="
                    expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                  "
                ></button>
                <a
                  style="text-decoration: underline !important"
                  [ngStyle]="{
                    position: 'relative',
                    top: '-6px',
                    color: 'var(--primary-color)',
                    fontSize: '11px',
                    cursor: 'pointer'
                  }"
                  (click)="
                    editCustomer(
                      rowData,
                      customerType == 'Corporate' ? 'COR' : 'IND'
                    )
                  "
                  >{{ rowData[col["field"]] }}</a
                >
              </div>
            </td>
            <td
              *ngIf="col.field == 'addBenificiary'"
              style="border: none; text-align: center"
            >
              <span class="image-text">
                <button
                  pButton
                  type="button"
                  icon="pi pi-plus"
                  class="operation-btns mr-2 btnround"
                  (click)="
                    addNewBeneficiary(
                      rowData,
                      customerType == 'Individual' ? 'IND' : 'COR'
                    )
                  "
                  [disabled]="rowData.status == 'Inactive'"
                ></button>
              </span>
            </td>
            <td
              *ngIf="col.field == 'pastTxns'"
              style="border: none; text-align: center"
            >
              <span class="image-text">
                <button
                  pButton
                  type="button"
                  icon="pi pi-eye"
                  class="operation-btns mr-2 btnround"
                ></button>
              </span>
            </td>
            <td
              *ngIf="col.field == 'status'"
              style="border: none; text-align: center"
            >
              <label class="switch" style="border: none">
                <input
                  #statusInp
                  [value]="rowData[col['field']]"
                  type="checkbox"
                  (click)="confirmStatus($event, rowData, customerType)"
                  [checked]="
                    rowData[col['field']] == 'Active' ||
                    rowData[col['field']] == 'A'
                      ? true
                      : false
                  "
                />
                <span class="slider round"></span>
              </label>
            </td>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-rowData>
        <tr>
          <td colspan="10">
            <div class="p-p-3" style="padding: 20px; background: #e2e3ed">
              <p-table
                [value]="rowData.orders"
                dataKey="id"
                [rows]="3"
                columnResizeMode="expand"
                [resizableColumns]="true"
                columnResizeMode="fit"
                [rowHover]="true"
                [scrollable]="true"
                scrollHeight="220px"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="id">Benf Code</th>
                    <th pSortableColumn="fullName">Benf. Name</th>
                    <th pSortableColumn="contactMobileNumber">Mobile No</th>
                    <th pSortableColumn="documentIdNumber">ID No</th>
                    <th pSortableColumn="contactCountry">Country</th>
                    <th pSortableColumn="serviceCurrency">Currency</th>
                    <th pSortableColumn="serviceCategory">Service Category</th>
                    <th pSortableColumn="bankAccountType">Service Type</th>
                    <th pSortableColumn="serviceDetails">Service Details</th>
                    <th>PastTxns</th>
                    <th>Status</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                  <tr>
                    <td>{{ order.id }}</td>
                    <td>
                      <a
                        style="text-decoration: none !important"
                        [ngStyle]="{
                          color: 'var(--primary-color)',
                          fontSize: '11px',
                          cursor: 'pointer'
                        }"
                        [ngClass]="{ disabled: rowData.status == 'Inactive'}"
                        (click)="!(rowData.status == 'Inactive') && editbeneficiary(order, rowData)" 
                        >{{ order.fullName }}</a
                      >
                    </td>
                    <td>{{ order.contactMobileNumber }}</td>
                    <td>{{ order.documentIdNumber }}</td>
                    <td>{{ order.contactCountry }}</td>
                    <td>{{ order.serviceCurrency }}</td>
                    <td>{{ order.serviceCategory }}</td>
                    <td>NA</td>
                    <td>
                      <div *ngFor="let detail of order.serviceDetails.split('  ')">
                        {{ detail }}<br>
                      </div>
                    </td>
                    <td>
                      <span class="image-text">
                        <button
                          pButton
                          type="button"
                          icon="pi pi-eye"
                          class="operation-btns mr-2"
                          [disabled]="rowData && rowData.status == 'Inactive'"
                        ></button>
                      </span>
                    </td>
                    <td>
                      <label class="switch" style="border: none">
                        <input
                          #statusInp
                          (click)="
                            confirmBeneficiaryStatus(
                              $event,
                              order,
                              customerType
                            )
                          "
                          [checked]="
                            order['status'] == 'Active' ||
                            order['status'] == 'A'
                              ? true
                              : false
                          "
                          type="checkbox"
                          [disabled]="rowData && rowData.status == 'Inactive'"
                        />
                        <span class="slider round" [ngClass]="{ 'disabled': rowData && rowData.status == 'Inactive'}"></span>
                      </label>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="11">
                      There are no Beneficiaries for current customer.
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="columns.length">No Data found.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft" let-state
        >Showing {{ customerData.length ? state.page * state.rows + 1 : 0 }} -
        {{
          state.rows * (state.page + 1) > state.totalRecords
            ? state.totalRecords
            : state.rows * (state.page + 1)
        }}
        of {{ state.totalRecords }} Customers
      </ng-template>
    </p-table>
  </div>
</div>
<div class="NorecordFound" *ngIf="!customerData?.length && showNoDataFound">
  <div class="row">
    <div class="col-12"><img src="assets/NoRecord.PNG" /></div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>"No Record Found.Please try again with different criteria"</p>
    </div>
  </div>
</div>
<div class="NorecordFound" *ngIf="!showTable && globalSearch">
  <div class="row">
    <div class="col-12"><img src="assets/searchCriteria.PNG" /></div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Select search criteria to find a customer details.</p>
    </div>
  </div>
</div>
<p-confirmDialog
  key="activeDeactiveStatus"
  class="status-confirm confirm-popup"
  #cd
  [closable]="false"
>
  <p-footer>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Yes"
      (click)="cd.accept()"
    ></button>

    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="No"
      (click)="cd.reject()"
    ></button>
  </p-footer>
</p-confirmDialog>
