/* You can add global styles to this file, and also import other style files */
@import url("~primeicons/primeicons.css");
@import url("~primeng/resources/primeng.min.css");
@import url("~primeng/resources/themes/saga-blue/theme.css");
@import url("~ngx-toastr/toastr.css");

body {
  background-color: #f4f6fa;
}

body.minified-sidebar aside#sidebar {
  left: -300px !important;
}

body.minified-sidebar #header {
  width: 100%;
  margin-left: 0;
}

body.minified-sidebar main {
  margin-left: 50px !important;
  transition: 300ms;
}
body.minified-sidebar .toggle-sidebar {
  left: 10px;
}

.ptable {
  background-color: #fff;
}

.pagetitle {
  margin-top: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 300ms;
}

.addnew button {
  margin: 15px 0;
  background-color: rgb(36 85 207);
}

.p-dialog.txn-criteria-modal {
  max-width: 483px;
  width: 483px;
  border-radius: 15px;
}
.p-dialog.txn-criteria-modal .all-range-groups {
  max-height: 280px;
  overflow: auto;
}

.p-dialog.txn-criteria-modal .p-dialog-content {
  border-radius: 15px;
  padding: 1rem;
}

.p-dialog.txn-criteria-modal .all-range-groups::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: #fff;
}

.p-dialog.txn-criteria-modal .all-range-groups::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

.p-dialog.txn-criteria-modal .p-dialog-header {
  padding: 0;
}
.p-dialog.txn-criteria-modal .p-dialog-header {
  position: relative;
}
.p-dialog.txn-criteria-modal .p-dialog-header-icons {
  position: absolute;
  right: -10px;
  top: -10px;
}
.p-dialog.txn-criteria-modal .p-dialog-header-icon {
  color: #fff;
  border-color: transparent;
  background: #55c78a;
}

button.p-button {
  border-radius: 5px !important;
  background-color: rgb(36 85 207);
  height: 35px;
  line-height: 1px;
  padding: 5px 8px;
  color: white !important;
}
button.p-button {
  font-size: 14px;
  padding: 7px;
}

input.p-inputnumber-input {
  border-radius: 5px;
}

.dropdowns-select-container .p-dropdown {
  height: 35px;
  background: rgb(244 246 250);
  border: none;
  width: 160px;
  border-radius: 5px;
}
.dropdowns-select-container .p-dropdown .p-dropdown-trigger {
  width: 2rem;
}
.dropdowns-select-container
  .p-dropdown
  .p-dropdown-trigger
  .p-dropdown-trigger-icon {
  font-size: 0.8rem;
}
.dropdowns-select-container .p-dropdown .p-dropdown-label {
  font-size: 0.8rem;
  font-weight: 500;
  color: black;
}
