/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;1,500&display=swap");

@import url("~primeicons/primeicons.css");
@import url("~primeng/resources/primeng.min.css");
@import url("~primeng/resources/themes/saga-blue/theme.css");
@import url("~ngx-toastr/toastr.css");

body {
  background-color: #f4f6fa;
  /* font-family: "IBM Plex Sans", sans-serif !important; */
}

body.minified-sidebar aside#sidebar {
  left: -300px !important;
}

body.minified-sidebar #header {
  width: 100%;
  margin-left: 0;
}

body.minified-sidebar main {
  margin-left: 0px !important;
  transition: 300ms;
}
body.minified-sidebar .toggle-sidebar {
  left: 13px;
}

/* prime css */
.pi {
  font-size: 14px;
}

.p-dropdown .p-dropdown-label,
.p-dropdown .p-dropdown-label.p-placeholder {
  font-size: 14px;
}
/* prime css END */

.visible-main-section {
  padding-left: 20px;
}

.pagetitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 300ms;
}

.pagetitle.detail-page {
  margin-top: 85px;
}
.ptable {
  background-color: #fff;
}

/* toggle status slider */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(85 199 138);
  box-shadow: inset 0 3px 6px 0 #00000029;
}

input:focus + .slider {
  box-shadow: inset 0 3px 6px 0 #00000029;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* toggle status slider end */

/* Details Page */
.description-text {
  width: 70%;
  height: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0;
  text-align: left;
  color: #444444;
}

.buttons-section {
  display: flex;
  width: 30%;
  justify-content: flex-end;
}

.buttons-section button {
  margin-left: 8px;
  padding: 5px 18px !important;
}

.detail-page-section-heading {
  font-size: 14px;
  color: rgb(36 85 207) !important;
  font-weight: 500;
}

/* Details Page END */

.addnew button {
  margin: 15px 0;
  background-color: rgb(36 85 207);
  padding: 7px 18px !important;
  font-weight: 500;
  font-size: 14px !important;
}

.p-datatable.p-datatable-hoverable-rows
  .p-datatable-tbody
  > tr:not(.p-highlight):hover {
  background: rgb(240 242 254);
}

.p-tooltip {
  max-width: 100% !important;
}

.p-tooltip .p-tooltip-text {
  font-size: 0.8rem !important;
  background: #fff !important;
  color: rgb(138 144 153);
  font-weight: 500;
}

.p-tooltip.p-tooltip-right .p-tooltip-arrow {
  border-right-color: #4950576e;
}

button.p-button {
  border-radius: 5px !important;
  background-color: rgb(36 85 207);
  height: 35px;
  line-height: 1px;
  padding: 5px 8px;
  color: white !important;
  font-size: 13px;
  font-family: "IBM Plex Sans", sans-serif !important;
}

/* INPUT */
.p-inputtext:enabled:focus {
  box-shadow: none !important;
}
/* INPUT END */

/* picklist */

.p-picklist .p-picklist-buttons {
  padding: 6px 1.5rem;
  background: rgb(234 237 244);
  margin: 0 10px;
  border-left: 1px solid #0000001f;
  border-right: 1px solid #0000001f;
}

.p-picklist-buttons button.p-button {
  height: 30px;
  width: 30px;
  box-shadow: none !important;
  margin: 3px 0 !important;
}

/* picklist END */

label,
.p-placeholder,
.p-dropdown-item,
.p-inputtext,
.p-dropdown-label {
  font-family: "IBM Plex Sans", sans-serif !important;
  font-weight: 500 !important;
}

input.p-inputnumber-input {
  border-radius: 5px;
}

.dropdowns-select-container .p-dropdown {
  height: 35px;
  background: rgb(244 246 250);
  border: none;
  width: 160px;
  border-radius: 5px;
}
.dropdowns-select-container .p-dropdown .p-dropdown-trigger {
  width: 2rem;
}
.dropdowns-select-container
  .p-dropdown
  .p-dropdown-trigger
  .p-dropdown-trigger-icon {
  font-size: 0.8rem;
}
.dropdowns-select-container .p-dropdown .p-dropdown-label {
  font-size: 0.8rem;
  font-weight: 500;
  color: black;
}

.p-datatable .p-sortable-column:focus {
  box-shadow: none;
}

.p-paginator-left-content {
  font-family: "IBM Plex Sans", sans-serif !important;
  font-weight: 500;
  color: rgb(138 144 153);
  font-size: 12px;
}

p-paginator .p-paginator-bottom {
  border-top: 1px solid #e9ecef;
  background-color: rgb(234 237 244);
}

.p-paginator .p-paginator-pages {
  padding: 0 15px;
  border-radius: 20px;
  background-color: rgb(244 246 250);
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last,
.p-paginator .p-paginator-pages .p-paginator-page {
  min-width: 28px;
  max-height: 30px;
  margin: 0;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background-color: #2455cf;
  color: white;
  height: 30px;
  width: 28px;
  border-radius: 5px;
  font-size: 12px;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  background-color: rgb(244 246 250);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0 5px;
}
.p-multiselect-panel {
  max-width: 210px !important;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  max-width: 210px;
  white-space: normal;
}

.p-multiselect-panel .p-multiselect-items {
  font-size: 13px;
}

/* Overlays */
.p-dialog-mask.p-component-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}
.p-treetable-loading-overlay.p-component-overlay,
.p-datatable-loading-overlay.p-component-overlay {
  background-color: rgba(0, 0, 0, 0);
}
/* Overlays end */

/* P DIALOG START*/
.p-dialog-header-icons .p-dialog-header-icon.p-dialog-header-close {
  position: absolute !important;
  right: -13px;
  top: -13px;
  background: #55c78a !important;
  color: white !important;
}

.p-dialog.txn-criteria-modal {
  max-width: 483px;
  width: 483px;
  border-radius: 15px;
}
.p-dialog.txn-criteria-modal .all-range-groups {
  max-height: 280px;
  overflow: auto;
}

.p-dialog.txn-criteria-modal .p-dialog-content {
  border-radius: 15px;
  padding: 1rem;
}

.p-dialog.txn-criteria-modal .all-range-groups::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: #fff;
}

.p-dialog.txn-criteria-modal .all-range-groups::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

.p-dialog.txn-criteria-modal .p-dialog-header {
  padding: 0;
}
.p-dialog.txn-criteria-modal .p-dialog-header {
  position: relative;
}
.p-dialog.txn-criteria-modal .p-dialog-header-icons {
  position: absolute;
  right: -10px;
  top: -10px;
}
.p-dialog.txn-criteria-modal .p-dialog-header-icon {
  color: #fff;
  border-color: transparent;
  background: #55c78a;
}
/* P DIALOG END*/

/* table filter style */

p-table .filter-icon {
  /* position: absolute;
  right: 3%;
  top: 30%; */
  display: inline-block;
  margin-left: 5px;
}

/* table filter style end */

/* Page Info icon + description */

.infoicon {
  font-size: 12px;
  width: 50%;
  height: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
  letter-spacing: 0;
  text-align: left;
  color: #444444;
  display: flex;
  align-items: center;
}
.infoicon img {
  margin-right: 5px;
  height: 18px !important;
}

/* Page Info icon + description end*/

/* table search row */

.table-search {
  background-color: #f4f6fa;
  height: 35px;
  border: none;
  font-size: 12px;
  max-width: 90%;
}
.search-row {
  border-bottom: 1px solid #e9ecef;
}

.search-row th {
  background-color: #fff !important;
}

/* table search row end */

/* Primeng overide style */
.p-component {
  font-family: "IBM Plex Sans", sans-serif !important;
}
.p-component.p-multiselect {
  font-size: 14px !important;
  color: black !important;
}

.p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 0.47rem 0.5rem 0.47rem 1rem !important;
  background: rgb(234 237 244);
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: rgb(68 68 68) !important;
  font-size: 12px;
  height: 50px;
}

.p-treetable .p-treetable-thead > tr > th {
  text-align: left;
  padding: 0.47rem 0.5rem 0.47rem 1rem !important;
  background: rgb(234 237 244);
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: rgb(68 68 68) !important;
  font-size: 12px;
  height: 50px;
}

.p-treetable .p-treetable-thead > tr:nth-child(2) > th {
  background: transparent !important;
}

.p-datatable .p-datatable-tbody tr td {
  padding: 0.47rem 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: rgb(0 0 0);
  font-size: 12px;
  border: none;
  height: 42.5px;
}
.p-treetable .p-treetable-tbody tr td {
  padding: 0.47rem 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: rgb(0 0 0);
  font-size: 12px;
  border: none;
  padding-bottom: 14px;
  padding-left: 30px;
  height: 42.5px;
}

.p-treetable .p-treetable-tbody > tr > td .p-treetable-toggler {
  color: rgb(36 85 207) !important;
  font-weight: 600;
}

.p-datatable .p-datatable-tbody tr td.table-description {
  font-size: 12px;
  border: none;
  padding-bottom: 14px;
  padding-left: 30px;
}

.p-button:focus {
  box-shadow: none !important;
}

.p-datatable .p-sortable-column.p-highlight {
  background: #e9ecef !important;
}
.p-treetable .p-sortable-column.p-highlight {
  background: #e9ecef !important;
}
/* Primeng overide style end */
