:host ::ng-deep .p-multiselect-trigger,
:host ::ng-deep .p-multiselect-label-container {
  display: none;
}

.confirm-popup ::ng-deep .p-dialog-content .p-confirm-dialog-message {
  text-align: center;
}

// .confirm-popup ::ng-deep .p-dialog-content p span { background-image: url("../../../assets/warning.svg") no-repeat}
.NorecordFound {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  padding-bottom: 60px;
}
.NorecordFound p {
  padding-bottom: 10px;
  font-weight: 500;
  color: rgb(0 0 0);
  font-size: 16px;
  line-height: 1px;
  font-family: "IBM Plex Sans", sans-serif;
}
.NorecordFound button {
  margin-bottom: 40px;
}

.NorecordFound img {
  width: 27%;
  margin-top: 70px;
}

.app-form-search {
  background: white;
  border-radius: 6px;
}

.select-module-application {
  display: flex;
  gap: 10px;
}
.select-module-application .field {
  align-items: center;
  gap: 15px;
  margin-bottom: 0;
}

.select-module-application label {
  margin-bottom: 0;
  font-size: 14px;
}
.select-module-application p-dropdown {
  width: 100%;
}
.select-module-application::ng-deep .p-dropdown {
  width: 95%;
  height: 35px;
  align-items: center;
  border: none !important;
}

/* Grouping */
// .group-row {
//   gap: 5px;
//   align-items: center;
//   font-weight: 500;
//   font-size: 12px;
//   color: var(--primary-color);
// }
// .group-row button {
//   color: var(--primary-color);
//   font-weight: 600;
// }
/* Grouping end */

/* treetable */
// td .expandable {
//   font-weight: 500;
//   font-size: 12px;
//   color: var(--primary-color);
//   text-decoration: underline !important;
// }

/* treetable end */
