<div class="row visible-main-section">
  <ng-container *ngIf="relatedPartyInParent != 'C'">
    <div class="infoicon my-3">
      <i class="pi pi-info-circle"></i>
      <span
        *ngIf="
          relatedPartyInParent && existingCustomerMissingDocCaseId;
          else cust_relatedParty_case
        "
        class="font-medium"
      >
        Edit Existing Customer as Party
      </span>

      <ng-template #cust_relatedParty_case>
        <span
          class="font-medium"
          *ngIf="editRelatedPartyId; else add_custParty_case"
          >Edit Customer as Party</span
        >
        <ng-template #add_custParty_case>
          <span class="font-medium">Add new Customer as Party</span>
        </ng-template>
      </ng-template>
    </div>
  </ng-container>

  <div class="col-12">
    <p-tabView
      (onChange)="handleChange($event)"
      [(activeIndex)]="activeTabIndex"
      [hidden]="relatedPartyInParent != 'C'"
    >
      <p-tabPanel [disabled]="mode == 'edit' && custType == 'COR'">
        <ng-template pTemplate="header">
          <span
            [pTooltip]="
              custType == 'COR'
                ? 'Make sure to save current customer data before leaving !'
                : ''
            "
            tooltipPosition="right"
            >Individual</span
          >
        </ng-template>
        <ng-template pTemplate="content">
          <app-customer-form
            *ngIf="custType == 'IND'"
            [userId]="userId"
            [mode]="mode"
            [custType]="custType"
            [custId]="custId"
            [relatedParty]="relatedPartyInParent"
            [newAddedCustAsParty]="newAddedCustAsParty"
            (showFormForRelatedParty)="relatedPartyInParent = $event"
            (existingCustomerMissingDocCaseId)="
              existingCustomerMissingDocCaseId = $event; isNormalCustomer = true
            "
            (editRelatedPartyId)="
              editRelatedPartyId = $event; isNormalCustomer = false
            "
            (onEditFromPartyTable)="editFromPartyTable = $event"
          ></app-customer-form>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel [disabled]="mode == 'edit' && custType == 'IND'">
        <ng-template pTemplate="header">
          <span
            [pTooltip]="
              custType == 'IND'
                ? 'Make sure to save current customer data before leaving !'
                : ''
            "
            tooltipPosition="right"
            >Corporate</span
          >
        </ng-template>
        <ng-template pTemplate="content">
          <app-customer-form
            *ngIf="custType == 'COR'"
            [userId]="userId"
            [mode]="mode"
            [custType]="custType"
            [custId]="custId"
            [relatedParty]="relatedPartyInParent"
            [newAddedCustAsParty]="newAddedCustAsParty"
            (showFormForRelatedParty)="relatedPartyInParent = $event"
            (existingCustomerMissingDocCaseId)="
              existingCustomerMissingDocCaseId = $event; isNormalCustomer = true
            "
            (editRelatedPartyId)="
              editRelatedPartyId = $event; isNormalCustomer = false
            "
            (onEditFromPartyTable)="editFromPartyTable = $event"
          ></app-customer-form>
        </ng-template>
      </p-tabPanel>
    </p-tabView>
    <app-customer-form
      *ngIf="
        relatedPartyInParent != 'C' &&
        !existingCustomerMissingDocCaseId &&
        !editRelatedPartyId
      "
      [userId]="userId"
      [mode]="'add'"
      [custType]="'IND'"
      [custId]="null"
      [relatedParty]="relatedPartyInParent"
      [isNormalCustomer]="null"
      (showFormForRelatedParty)="relatedPartyInParent = $event"
      (existingCustomerMissingDocCaseId)="
        existingCustomerMissingDocCaseId = $event; isNormalCustomer = null
      "
      (onNewlyAddedCustomerAsPartyDetails)="newAddedCustAsPartyFn($event)"
    ></app-customer-form>
    <app-customer-form
      *ngIf="
        relatedPartyInParent != 'C' &&
        !existingCustomerMissingDocCaseId &&
        editRelatedPartyId
      "
      [userId]="userId"
      [mode]="'edit'"
      [custType]="'IND'"
      [custId]="editRelatedPartyId"
      [relatedParty]="relatedPartyInParent"
      [isNormalCustomer]="isNormalCustomer"
      [originalCustomerType]="custType"
      [originalCustomerCode]="custId"
      [editRelatedPartyId]="editRelatedPartyId"
      [editFromPartyTable]="editFromPartyTable"
      (showFormForRelatedParty)="relatedPartyInParent = $event"
      (onNewlyAddedCustomerAsPartyDetails)="newAddedCustAsPartyFn($event)"
    ></app-customer-form>
    <app-customer-form
      *ngIf="relatedPartyInParent != 'C' && existingCustomerMissingDocCaseId"
      [userId]="userId"
      [mode]="'edit'"
      [custType]="'IND'"
      [custId]="existingCustomerMissingDocCaseId"
      [originalCustomerType]="custType"
      [originalCustomerCode]="custId"
      [relatedParty]="relatedPartyInParent"
      [isNormalCustomer]="isNormalCustomer"
      [editFromPartyTable]="editFromPartyTable"
      (showFormForRelatedParty)="relatedPartyInParent = $event"
      (existingCustomerMissingDocCaseId)="
        existingCustomerMissingDocCaseId = $event; isNormalCustomer = null
      "
    ></app-customer-form>
  </div>
</div>
