<div class="row visible-main-section">
    <div class="btnRight">
        <button pButton pRipple type="button" (click)="saveCustomer()"  label="Save" class="ml-2"></button>
        <button pButton pRipple type="button" (click)="resetCustomerInfo()" label="Reset" class="p-button-warning ml-2"></button>
    </div>
    <div class="col-12">
        <p-tabView>   
            <p-tabPanel header="Individual">
                <div class="row">
                    <div class="col-12">
                        <p-panel header="Personal Details" [toggleable]="true">
                            <div class="row">
                                <div class="col-2">
                                    <label>First Name</label><span class="required">*</span>
                                    <input [required]="true" type="text" pInputText [(ngModel)]="customerInfo.firstName"> 
                                </div>
                                <div class="col-2">
                                    <label>Middle Name</label><span class="required">*</span>
                                    <input [required]="true" type="text" pInputText [(ngModel)]="customerInfo.middleName"> 
                                </div>
                                <div class="col-2">
                                    <label>Last Name</label><span class="required">*</span>
                                    <input [required]="true" type="text" pInputText [(ngModel)]="customerInfo.lastName"> 
                                </div>
                                <div class="col-2">
                                    <label>Gender</label><span class="required">*</span><br>
                                    <p-dropdown class="colorInput" [required]="true" placeholder="Select" [options]="customerInfoMeta.customerGenderOptions" 
                                   [(ngModel)]="customerInfo.gender" optionValue="code" optionLabel="name" 
                                   (onChange)="onChange('personalDetail', 'gender', 'dropdown', $event.value)" 
                                    ></p-dropdown>
                                </div>
                                <div class="col-2">
                                    <label>Date Of Birth</label><span class="required">*</span>
                                    <p-calendar [maxDate]="eighteenYearsAgo" [(ngModel)]="customerInfo.dateOfBirth" placeholder="MM/DD/YYYY"></p-calendar>
                                </div>
                                <div class="col-2">
                                    <label>Country Of Birth</label>
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input style="width: 180px;" type="text" pInputText [(ngModel)]="customerInfo.countryOfBirth"
                                            placeholder="Type to Search">
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label>Nationality</label>
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input style="width: 180px;" type="text" pInputText [(ngModel)]="customerInfo.natoinality"
                                            placeholder="Type to Search">
                                    </span>
                                </div>
                                <div class="col-4">
                                    <label>Customer Group</label><br>
                                    <p-dropdown class="colorInput customerGroup" [options]=""
                                   [(ngModel)]="customerInfo.customerGroup" optionValue="code" optionLabel="name"
                                    ></p-dropdown>
                                </div>
                                <div class="col-2">
                                    <label>Politically exposed person?</label><br>
                                    <p-dropdown class="colorInput" placeholder="Please select" [options]="customerInfoMeta.politicallyExposedPersonOptions"
                                   [(ngModel)]="customerInfo.politicallyExposedPerson" optionValue="code" optionLabel="name"
                                    ></p-dropdown>
                                </div>
                                <div class="col-2 creditToParty">
                                    <p-checkbox name="groupname" value="val1" [(ngModel)]="customerInfo.creditToParty"></p-checkbox>
                                    <label> <span class="creditToPartycolor">Credit to party</span></label>
                                </div>
                                <div class="col-2 creditToParty">
                                    <p-checkbox name="groupname" value="val1" [(ngModel)]="customerInfo.accountPaymentMode"></p-checkbox>
                                    <label> <span class="creditToPartycolor">On Account Payment Mode</span></label>
                                </div>
                            </div>
                        </p-panel><br/>
                        <p-panel header="Contact Details" [toggleable]="true">
                            <div class="row">
                                <div class="col-2">
                                    <label>Country</label><span class="required">*</span>
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input style="width: 180px;" type="text" pInputText [(ngModel)]="customerInfo.country"
                                            placeholder="Type to Search" [disabled]="true">
                                    </span>
                                </div>
                                <div class="col-2">
                                    <label>Mobile Number</label><span class="required">*</span>
                                    <input type="number" pInputText [(ngModel)]="customerInfo.mobileNumber">
                                </div>
                                <div class="col-2">
                                    <label>Phone Number</label>
                                    <input type="number" pInputText [(ngModel)]="customerInfo.phoneNumber">
                                </div>
                                <div class="col-2">
                                    <label>Email Id</label>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.email"> 
                                </div>
                                <div class="col-2">
                                    <label>House/Building number</label><span class="required">*</span>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.houseNumber"> 
                                </div>
                                <div class="col-2">
                                    <label>Block number</label>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.blockNumber"> 
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label>Street number</label>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.streetNumber"> 
                                </div>
                                <div class="col-2">
                                    <label>City</label>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.city"> 
                                </div>
                                <div class="col-2">
                                    <label>Pin/Zip Code</label><span class="required">*</span>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.pinZipCode"> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <p style="font-weight: bold;font-size: 13px;margin-top: 7px;">Permanent Address</p>
                                </div>
                                <div class="col-2">
                                    <p-checkbox name="groupname" value="val1" [(ngModel)]="customerInfo.permanentAddressIsSameAsAbove"></p-checkbox>
                                    <label> <span class="creditToPartycolor">Same as above</span></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label>Country</label>
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input style="width: 180px;" type="text" pInputText [(ngModel)]="customerInfo.country"
                                            placeholder="Type to Search">
                                    </span>
                                </div>
                                <div class="col-2">
                                    <label>House/Building number</label><span class="required">*</span>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.houseNumber"> 
                                </div>
                                <div class="col-2">
                                    <label>Block number</label>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.blockNumber"> 
                                </div>
                                <div class="col-2">
                                    <label>Street number</label>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.streetNumber"> 
                                </div>
                                <div class="col-2">
                                    <label>City</label><span class="required">*</span>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.city"> 
                                </div>
                                <div class="col-2">
                                    <label>Pin/Zip Code</label><span class="required">*</span>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.pinZipCode"> 
                                </div>
                            </div>
                        </p-panel><br/>
                        <p-panel header="Employment Details" [toggleable]="true">
                            <div class="row">
                                <div class="col-2">
                                    <label>Employer Name</label><span class="required">*</span>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.employerName"> 
                                </div>
                                <div class="col-2">
                                    <label>Profession</label><span class="required">*</span><br>
                                    <p-dropdown class="colorInput" [options]=""
                                   [(ngModel)]="customerInfo.profession" optionValue="code" optionLabel="name"
                                    ></p-dropdown>
                                </div>
                                <div class="col-2">
                                    <label>Salary Date</label><br>
                                    <p-dropdown class="colorInput" placeholder="Select" [options]="customerInfoMeta.salaryDateOptions"
                                   [(ngModel)]="customerInfo.salaryDate" place optionValue="code" optionLabel="name"
                                    ></p-dropdown>
                                </div>
                                <div class="col-2">
                                    <label>Monthly Salary</label>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.monthlySalary"> 
                                </div>
                                <div class="col-2">
                                    <label>Visa Status</label><span class="required">*</span><br>
                                    <p-dropdown class="colorInput" [options]=""
                                   [(ngModel)]="customerInfo.visaStatus" optionValue="code" optionLabel="name"
                                    ></p-dropdown>
                                </div>
                            </div>
                            
                        </p-panel><br/>
                        <p-panel header="KYC/Doc Upload" [toggleable]="true">
                            <div class="row">
                                <div class="col-2">
                                    <label>Document Type</label><span class="required">*</span><br>
                                    <p-dropdown class="colorInput" [options]=""
                                   [(ngModel)]="customerInfo.documentType" optionValue="code" optionLabel="name"
                                    ></p-dropdown>
                                </div>
                                <div class="col-2">
                                    <label>ID Number</label><span class="required">*</span>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.idNumber"> 
                                </div>
                                <div class="col-2">
                                    <label>ID Issue Date</label>
                                    <p-calendar [(ngModel)]="customerInfo.idIssueDate" placeholder="MM/DD/YYYY"></p-calendar>
                                </div>
                                <div class="col-2">
                                    <label>ID Expiry Date</label><span class="required">*</span><span class="required">*</span>
                                    <p-calendar [(ngModel)]="customerInfo.idExpiryDate" placeholder="MM/DD/YYYY"></p-calendar>
                                </div>
                                <div class="col-2">
                                    <label>ID Issue Authority</label>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.idIssueAuthority"> 
                                </div>
                                <div class="col-2">
                                    <label>ID Issue Country</label>
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input style="width: 180px;" type="text" pInputText [(ngModel)]="customerInfo.idIssueCountry"
                                            placeholder="Type to Search">
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="myUploader($event)" [auto]="true" chooseLabel="Upload"></p-fileUpload>
                                </div>
                            </div>
                        </p-panel><br/>
                         <p-panel header="Representative Details" [toggleable]="true">
                            <div class="row">
                                <div class="col-2">
                                    <label>First Name</label>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.repFirstName"> 
                                </div>
                                <div class="col-2">
                                    <label>Middle Name</label>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.repMiddleName"> 
                                </div>
                                <div class="col-2">
                                    <label>Last Name</label>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.repLastName"> 
                                </div>
                                <div class="col-2">
                                    <label>Gender</label><br>
                                    <p-dropdown class="colorInput" [options]=""
                                   [(ngModel)]="customerInfo.repGender" optionValue="code" optionLabel="name"
                                    ></p-dropdown>
                                </div>
                                <div class="col-2">
                                    <label>Date Of Birth</label>
                                    <p-calendar [(ngModel)]="customerInfo.repDateOfBirth" placeholder="MM/DD/YYYY"></p-calendar>
                                </div>
                                <div class="col-2">
                                    <label>Country Of Birth</label>
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input style="width: 180px;" type="text" pInputText [(ngModel)]="customerInfo.repCountryOfBirth"
                                            placeholder="Type to Search">
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label>Nationality</label>
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input style="width: 180px;" type="text" pInputText [(ngModel)]="customerInfo.repNatoinality"
                                            placeholder="Type to Search">
                                    </span>
                                </div>
                                <div class="col-2">
                                    <label>Relationship</label>
                                    <p-dropdown class="colorInput" [options]=""
                                   [(ngModel)]="customerInfo.repRelationship" optionValue="code" optionLabel="name"
                                    ></p-dropdown>
                                </div>
                                <div class="col-2">
                                    <label>Document Type</label><br>
                                    <p-dropdown class="colorInput" [options]=""
                                   [(ngModel)]="customerInfo.repDocumentType" optionValue="code" optionLabel="name"
                                    ></p-dropdown>
                                </div>
                                <div class="col-2">
                                    <label>ID Number</label>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.repIdNumberDate"> 
                                </div>
                                <div class="col-2">
                                    <label>ID Issue Date</label>
                                    <p-calendar [(ngModel)]="customerInfo.repIdIssueDate" placeholder="MM/DD/YYYY"></p-calendar>
                                </div>
                                <div class="col-2">
                                    <label>ID Expiry Date</label>
                                    <p-calendar [(ngModel)]="customerInfo.repIdExpiryDate" placeholder="MM/DD/YYYY"></p-calendar>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label>ID Issue Authority</label>
                                    <input type="text" pInputText [(ngModel)]="customerInfo.repIdIssueAuthority"> 
                                </div>
                                <div class="col-2">
                                    <label>ID Issue Country</label>
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input style="width: 180px;" type="text" pInputText [(ngModel)]="customerInfo.repIdIssueCountry"
                                            placeholder="Type to Search">
                                    </span>
                                </div>
                                <div class="col-2">
                                    <label>Visa expiry Date</label>
                                    <p-calendar [(ngModel)]="customerInfo.repVisaExpiryDate" placeholder="MM/DD/YYYY"></p-calendar>
                                </div>
                                <div class="col-2">
                                    <label>Authorization letter expiry Date</label>
                                    <p-calendar [(ngModel)]="customerInfo.repAuthorizationLetterExpiryDate" placeholder="MM/DD/YYYY"></p-calendar>
                                </div>

                            </div>
                        </p-panel> 
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Corporate">
                <app-corporate></app-corporate>
            </p-tabPanel>
        </p-tabView>        
    </div>
</div>