<div class="container sessionTimeout">
  <div class="row">
    <div class="col-12"><img src="assets/sessiontimeout.jpg" /></div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>Session TimeOut</h3>
      <p>
        Your session has limited out due to inactivity.Please login again to
        continue
      </p>
      <button
        pButton
        pRipple
        type="button"
        label="Login"
        class="p-button-raised"
        (click)="onSubmit()"
      ></button>
    </div>
  </div>
</div>
